@charset 'utf-8';
html, body {
  background-color: #f6f7fb; width: 100%; height: 100%; overflow: hidden;
}

.container { width: 96%; height: 100%; margin: 0 auto; position: relative; }

#wrap { position: relative; height: 100%; }

#header { background-color: #404a56; border-bottom: 1px solid #4a5460; position: relative; z-index: 1; width: 100%; height: 70px; }
#header > .inner { display: table; width: 100%; height: 100%; }
#header > .inner > * { display: table-cell; vertical-align: middle; width: 350px; padding: 0 1em; }
#header .left { text-align: left; }
#header .center { width: auto; padding: 0; }
#header .right { text-align: right; }
#header .menu_btn { width: 30px; display: inline-block; vertical-align: middle; margin-right: 1em; }
#header .menu_btn::before {
  content: '';
  display: inline-block;
  text-align: center;
  vertical-align: -2px;
  width: 30px;
  height: 3px;
  background: #fff;
  box-shadow: 0 3px #404a56, 0 -6px #fff, 0 -9px #404a56, 0 -12px #fff; }
#header .logo { display: inline-block; vertical-align: middle; font-size: 1.5em; color: #fff; font-weight: lighter; }
#header .logo strong { font-weight: bold; }
#header .util ul {  }
#header .util ul li { display: inline-block; padding: 0 0.5em; }
#header .util ul li a { color: #fff; }

#sidebar { background-color: #39434f; position: fixed; width: 250px; top: 70px; left: 0; bottom: 0; box-sizing: border-box;  }
#sidebar .menu { position: absolute; top: 0; left: -100%; width: 250px; height: 100%; overflow-x: hidden; overflow-y: auto; background-color: #39434f; z-index: 100; z-index: 2;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#sidebar .menu.on { left: 0; }
#sidebar .menu h2 { text-transform: uppercase; font-weight: 700; font-size: 1em; padding: 0 1em; border-bottom: 1px solid #4a5460; height: 45px; line-height: 45px; box-sizing: border-box; color: #1b95d8; }
#sidebar .menu .back { font-weight: 700; font-size: 1em; color: #999; padding: 0.5em 1em 0.5em 2em; border-bottom: 1px solid #4a5460; display: block; background-color: #39434f; position: relative;  text-align: left; }
#sidebar .menu .back:before { content: ''; position: absolute; top: 50%; left: 0.75em; margin-top: -4px; width: 0; height: 0; border-top: 4px solid transparent; border-right: 6px solid #999; border-bottom: 4px solid transparent; }
#sidebar .menu ul li {  }
#sidebar .menu ul li > a { display: block;  padding: 1em 2em; outline: none; font-size: 1em; border-bottom: 1px solid #4a5460; box-sizing: border-box; position: relative; color: #fff;
    -webkit-transition: background 0.3s, color 0.3s;
    -moz-transition: background 0.3s, color 0.3s;
    transition: background 0.3s, color 0.3s;
}
#sidebar .menu ul li > a:after { position: absolute; top: 50%; right: 1em; margin-top: -4px; width: 8px; height: 8px; border-right: 1px solid #333; border-bottom: 1px solid #333; box-sizing: border-box; transform: rotate(-45deg); }
#sidebar .menu ul li.active > a,
#sidebar .menu ul li > a:hover { background-color: #373c3f; }
#sidebar .menu ul li.active > a:after,
#sidebar .menu ul li > a:hover:after { border-color: #fff; }
#sidebar .menu ul li.ico_leftArrow > a:after { content: ''; }
#sidebar .menu ul li span[data-alert] { position: relative; }
#sidebar .menu ul li span[data-alert]:after { content: attr(data-alert); width: 18px; height: 18px; border-radius: 50%; background-color: #e84c3d; display: inline-block; text-align: center; color: #fff; line-height: 16px; margin-left: 5px; margin-top: -2px; vertical-align: middle; font-size: 0.5em; }

body.sideHide #pageRead,
body.sideHide #main { left: 0; }
body.sideHide #path { margin-left: 0; }

#main.iframe { left: 0; top: 60px; }
#path.iframe { margin-left: 0; }

#path { background-color: #fff; margin-left: 250px; border-bottom: 1px solid #d8d3d0; height: 60px; box-sizing: border-box; position: relative; z-index: 2;
  -webkit-transition: margin 0.5s;
  -moz-transition: margin 0.5s;
  transition: margin 0.5s;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
#path > .inner { display: table; width: 100%; height: 100%; padding: 0 40px; }
#path > .inner > * { display: table-cell; vertical-align: middle; }
#path .left { text-align: left; }
#path .left > * { vertical-align: middle; }
#path .left .pTit { font-size: 2em; color: #333; display: inline-block; }
#path .left .sTit { font-size: 1.5em; color: #999; display: inline-block; }
#path .left .sTit:before { content: '/'; margin: 0 0.25em; }
#path .right { text-align: right; }
#path .back { width: 50px; }
#path + #main { top: 130px; }

#main { position: fixed; top: 70px; left: 250px; bottom: 0; right: 0; box-sizing: border-box; z-index: 1; padding: 10px; background-color: #eff3f6; overflow-y: auto;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  transition: left 0.5s;
}

#pageRead { position: fixed; top: 70px; left: 250px; bottom: 0; right: 0; box-sizing: border-box; z-index: 2; background-color: #fff;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  transition: left 0.5s;
}

.grid_border_none { border: 0 !important; }

.group { float: left; width: 100%; padding: 10px; }
.group .header { position: relative; margin-top: 10px; margin-bottom: 10px; min-height: 23px; }
.group .header h3 { display: inline-block; position: relative; margin: 0; padding-left: 12px; font-size: 20px; color: #23367d; text-transform: uppercase; line-height: 1; }
.group .header h3:before { content: ''; position: absolute; top: 0; left: 0; width: 3px; height: 50%; background-color: #23367d; }
.group .header h3:after { content: ''; position: absolute; bottom: 0; left: 0; width: 3px; height: 50%; background-color: #48abe4; }
.group .header .switch { position: absolute; top: -3px; right: 0; z-index: 2; }
.group .header .select { position: absolute; top: -12px; right: 0; z-index: 2; }
.group .body {
  position: relative; width: 100%; min-height: 600px; padding: 20px; border-radius: 7px; background-color: #fff;  border: 1px solid #d6e1ea; overflow-y: auto;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.group .body2 {
  position: relative; width: 100%; padding: 20px; border-radius: 7px; background-color: #fff;  border: 1px solid #d6e1ea; overflow-y: auto;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.group .body h4 { margin: 12px 0; font-size: 16px; height: 25px; }
.group .body + .header { margin-top: 26px; }
.group.col2 { width: 50%; }
.group.col3 { width: 33.333%; }
.group.col4 { width: 25%; }
.group.row2 .body { height: 270px; }


.board_list_top { display: table; width: 100%; }
.board_list_top > * { display: table-cell; vertical-align: bottom; padding: 15px 0; }
.board_list_info { font-size: 16px; color: #666; position: relative; padding-left: 7px; }
.board_list_info span { color: #00a5e5; }
.board_list_search { text-align: center; width: 420px; padding-left: 15px; position: relative; }
.board_list_search .ipt { height: 40px; }
.board_list_search .searhBtn { background-color: #21619e; color: #fff; border-color: #21619e; height: 40px; line-height: 38px; }
.board_list_search.date { width: 500px; }

.board_list_filter { text-align: right; }
.board_list_filter .stateFilter {  }
.board_list_filter .stateFilter input { position: absolute; left: -9999px; opacity: 0;  }
.board_list_filter .stateFilter input+label { display: inline-block; border: 1px solid #bababa; color: #bababa; height: 40px; line-height: 40px; padding: 0 20px; cursor: pointer; }
.board_list_filter .stateFilter input:checked+label { border-color: #21619e; color: #21619e; }

.dataSearch { display: table; }
.dataSearch > * { display: table-cell; vertical-align: middle; }
.dataSearch > .div { padding: 0 10px; }
.dataSearch .datepicker { width: 200px; max-width: 100%; }
.dataSearch .datepicker.time { width: 250px; }
.dataSearch .searhBtn { margin-left: 10px; }

.board_list_normal { border: 1px solid #dbdbdb; border-top: 2px solid #000; border-bottom: 1px solid #dbdbdb; width: 100%; }
.board_list_normal th { border: 1px solid #dbdbdb; border-bottom: 1px solid #9b9b9b; background-color: #f7f9fb; font-size: 15px; color: #333; height: 50px; vertical-align: middle; text-align: center; font-weight: bold;  padding: 0 10px; box-sizing: border-box; word-break:break-all; }
.board_list_normal td { border: 1px solid #dbdbdb; font-size: 1em; color: #666; height: 60px; vertical-align: middle; text-align: left; padding: 0 10px; box-sizing: border-box; word-break:break-all; }
.board_list_normal .notice td { background-color: #f6fafa; }
.board_list_normal td.chk { width: 50px; text-align: center; }
.board_list_normal td.num { width: 70px; text-align: center; }
.board_list_normal td.title { text-align: left; }
.board_list_normal td.title a,
.board_list_normal td a.link { border-bottom: 1px solid #1c98cf; color: #1c98cf; }
.board_list_normal td.title .lock { display: inline-block; width: 20px; height: 20px; background: url(../images/ico/ico_lock.png) center no-repeat; vertical-align: middle; }
.board_list_normal td.date { width: 150px; text-align: center; }
.board_list_normal td.count { width: 100px; text-align: center; }
.board_list_normal td.file { width: 200px; text-align: right; }
.board_list_normal td.file a { width: 50px; height: 23px; font-size: 13px; line-height: 21px; color: #fff; text-align: center; font-weight: bold; display: inline-block; border-radius: 2px; }
.board_list_normal td.file a.pdf { background-color: #dc222a; border-color: #dc222a; }
.board_list_normal td.file a.doc { background-color: #0066ff; border-color: #0066ff; }
.board_list_normal td.file a.hwp { background-color: #00c0dd; border-color: #00c0dd; }
.board_list_normal td.state { width: 150px; text-align: center; }
.board_list_normal td.state span { font-size: 14px; color: #999; border: 1px solid #999; background-color: #fff; text-align: center; width: 100px; height: 30px; line-height: 28px; box-sizing: border-box; display: inline-block; }
.board_list_normal td.state span.active { border-color: #00a5e5; color: #00a5e5; }
.board_list_normal td.state span.progress { border-color: #3bc220; color: #3bc220; }
.board_list_normal td.state span.fail { border-color: #ff1e1e; color: #ff1e1e; }
.board_list_normal td.none { text-align: center; font-size: 1.2em; padding: 5em 0; }
.board_list_normal td.center { text-align: center; }
.board_list_normal td.right { text-align: right; }
.board_list_normal .pin td { background-color: #ebeff6; }
.board_list_normal .pin td.num { color: #00578a; }

.board_list_btn { text-align: center; margin-top: 30px; }
.board_list_btn.right { text-align: right;}
.board_list_btn .btn { min-width: 100px; }

.pagination { text-align: center; padding: 30px 0; }
.pagination > * { display: inline-block; font-size: 15px; color: #a6a6a6; width: 28px; height: 28px; line-height: 28px; box-sizing: border-box; }
.pagination > span { color: #333; }
.pagination > *:hover { border-color: #333 !important; text-decoration: underline; }
.pagination > .first,
.pagination > .prev,
.pagination > .next,
.pagination > .last { border: 1px solid #dfdfdf; text-indent: -9999px; background-position: center; background-repeat: no-repeat; }
.pagination > .first { background-image: url(../images/common/page_first.png); }
.pagination > .prev { background-image: url(../images/common/page_prev.png); }
.pagination > .next { background-image: url(../images/common/page_next.png); }
.pagination > .last { background-image: url(../images/common/page_last.png); }

.board_read_header { border-top: 2px solid #000; border-bottom: 1px solid #d9d9d9; margin-top: 20px; padding: 30px 15px; }
.board_read_header .title { font-size: 25px; color: #333; font-weight: bold; }
.board_read_header .title .cate { display: inline-block; border: 1px solid #333; color: #333; font-size: 15px; vertical-align: middle; min-width: 65px; text-align: center; box-sizing: border-box; line-height: 30px; margin-right: 10px; }
.board_read_header .title .cate.sty_01 { border-color: #3d6bd3; color: #3d6bd3; }
.board_read_header .info { font-size: 15px; color: #919b9d; margin: -15px; margin-top: 0; }
.board_read_header .info:after { content: ''; display: block; clear: both; }
.board_read_header .info > * { float: left; padding: 15px; position: relative; }
.board_read_header .info > * + *:before { content: ''; position: absolute; top: 50%; left: 0; width: 1px; height: 12px; margin-top: -6px; background-color: #e1e7e9; }

.board_read_body .attachments { height: 55px; display: table; margin-left: auto; }
.board_read_body .attachments > * { display: table-cell; vertical-align: middle; }
.board_read_body .attachments .tit { width: 90px; font-size: 14px; line-height: 30px; color: #66787b; margin-right: 25px; }
.board_read_body .attachments .tit img { margin-right: 5px; display: inline-block; vertical-align: middle; margin-top: -2px; }
.board_read_body .attachments ul li { display: inline-block; padding: 0 20px; border: 1px solid #0d6090; border-radius: 30px; height: 30px; line-height: 28px; }
.board_read_body .attachments ul li + li { margin-left: 5px; }
.board_read_body .attachments ul li a { font-size: 13px; color: #0d6090; }
.board_read_body .attachments + .read_cont { padding-top: 20px; }
.board_read_body .read_cont { max-width: 1000px; margin: 0 auto; margin-top: 40px; padding-bottom: 80px; font-size: 1em; line-height: 2; }
.board_read_body .read_cont img { display: block; margin: 0 auto; }

.board_read_bottom {  }
.board_read_bottom .nav { border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; padding: 20px 0; }
.board_read_bottom .nav:after { content: ''; display: block; clear: both; }
.board_read_bottom .nav + .nav { border-top: 0; }
.board_read_bottom .nav .tit { width: 120px; color: #666; float: left; padding-left: 50px; box-sizing: border-box; margin-right: 30px; border-right: 1px solid #dcdcdc; position: relative; }
.board_read_bottom .nav.next .tit:before { content: ''; position: absolute; top: 50%; left: 25px; margin-top: -2px; width: 0;  height: 0; border-left: 5px solid transparent;  border-right: 5px solid transparent; border-bottom: 5px solid #8b8b8b; }
.board_read_bottom .nav.prev .tit:before { content: ''; position: absolute; top: 50%; left: 25px; margin-top: -2px; width: 0;  height: 0; border-left: 5px solid transparent;  border-right: 5px solid transparent; border-top: 5px solid #8b8b8b; }
.board_read_bottom .nav .txt { font-size: 15px; color: #aaa; float: left; }
.board_read_bottom .nav .txt a { color: #333; }
.board_read_bottom .nav .txt a:hover { border-bottom: 1px solid #333; }
.board_read_bottom .btn_group { margin-top: 40px; }
.board_read_bottom .btn_group .btn { width: 140px; height: 50px; line-height: 50px; background-color: #fff; color: #333; border-color: #333; }

.board_list_type { text-align: center; margin: 30px 0; }
.board_list_type label { margin-right: 20px; color: #333; font-size: 18px; vertical-align: middle; }
.board_list_type .select_field { max-width: 100%; width: 260px; }
.board_list_type .select_field .select_list { max-height: 460px; }
.board_list_type .select_field .select_list > li { position: relative; background-position: center; background-repeat: no-repeat; background-size: cover; }
.board_list_type .select_field .select_list > li + li { margin-top: 10px; border-top: 1px solid #333; }
.board_list_type .select_field .select_list > li > span { line-height: 144px; text-align: center; padding: 0; position: relative; z-index: 2; font-weight: bold; }
.board_list_type .select_field .select_list > li > span:hover { background-color: transparent; color: #00a5e5;}
.board_list_type .select_field .select_list > li:before { content: ''; z-index: 1; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #fff; opacity: 0.25; }
.board_list_type .select_field .select_list > li.selected:before { background-color: #00a5e5; }

.board_list_title { font-size: 18px; font-weight: bold; color: #333; margin-bottom: 10px; }
.board_list_normal + .board_list_title { margin-top: 20px; }

.board_write_top { text-align: right; margin-bottom: 10px; }
.board_write_top .req { color: #ed0000; font-weight: bold; }
.board_list_write { width: 100%; border-top: 2px solid #333; }
.board_list_write > thead > tr > th { border: 1px solid #dbdbdb; background-color: #f7f9fb; font-size: 15px; color: #333; font-weight: bold; padding: 20px; }
.board_list_write > tbody > tr > th { width: 150px; border: 1px solid #dbdbdb; background-color: #f7f9fb; font-size: 15px; color: #333; vertical-align: middle; text-align: center; font-weight: bold;  padding: 20px; box-sizing: border-box; word-break:break-all; }
.board_list_write > tbody > tr > th.req:after { content: '*'; color: #ed0000; }
.board_list_write > thead > tr > td,
.board_list_write > tbody > tr > td { border: 1px solid #dbdbdb; font-size: 1em; color: #666; vertical-align: middle; padding: 10px 20px; box-sizing: border-box; word-break:break-all; }

.board_list_write.indicat {  }
.board_list_write.indicat + .indicat { margin-top: 60px; }
.board_list_write.indicat tr > th { text-align: left; width: 200px; }
.board_list_write.indicat tr.depth1 > th { background-color: #2391ff; color: #fff; }
.board_list_write.indicat tr.depth2 > th { background-color: #cbe3fc; }
.board_list_write.indicat tr.depth3 > th { background-color: #f7f9fb; padding-left: 35px; }
.board_list_write.indicat tr > th .chk { margin-top: 10px; padding-left: 10px; }
.board_list_write.indicat tr > th .chk label { font-weight: normal; }

.uploadImgFile {
  width: 100%;
  text-align: center;
  display: block;
  position: relative;
}
.uploadImgFile .thumb {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: #f7f7f7 url(../images/common/img_noimage.png) 50% 50% no-repeat;
  display: block;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
}
.uploadImgFile .thumb.wide { padding-bottom: 45%; }
.uploadImgFile .thumb:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: 1px solid #c3c3c3;
  box-sizing: border-box;
}
.uploadImgFile .thumb > .img {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.uploadImgFile .thumb img {
  /* max-width: 300px;
  max-height: 300px; */
  position: relative;
  display: inline-block;
}
.uploadImgFile .thumb .btn_delete {
  position: absolute;
  right: -7px;
  top: -7px;
  width: 18px;
  height: 18px;
  z-index: 2;
  text-indent: -9999px;
  background-image: url(../images/ico/ico_close_w.png);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 100%;
  border: 0;
  background-color: #666;
  display: none;
}

.uploadImgFile .thumb .img + .btn_delete { display: block; }

.uploadImgFile .k-upload { margin-top: 5px; border-color: #c3c3c3; }


.uploadImgFile > .btn {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.uploadImgFile dl {
  display: table;
  width: 100%;
  margin-top: 10px;
}
.uploadImgFile dl > * {
  display: table-cell;
  vertical-align: top;
}
.uploadImgFile dt {
  width: 40px;
  padding: 5px 0;
  text-transform: uppercase;
}
.uploadImgFile .ajax_image_upload { position: absolute; bottom: 0; right: 0; z-index: 1; }
.uploadImgFile .chk { position: absolute; top: 0; left: 5px; z-index: 2; }

.uploadImgFile.small .ajax_image_upload { margin-top: 5px; }
.uploadImgFile.small .ajax_image_upload .k-button { font-size: 11px; }
.uploadImgFile.small .thumb { background-size: 30%; background: #fff; }
.uploadImgFile.small .thumb > .img > img { position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto; max-width: 100%; max-height: 100%; width: auto; height: auto; }

.uploadFile { position: relative; }
.uploadFile .uploadIpt { border: 1px solid #bababa; width: 300px; height: 45px; vertical-align: middle; box-sizing: border-box; margin-right: 5px; padding: 0.667em; }
.uploadFile .uploadBtn { position: absolute; left: -9999px; opacity: 0; }
/* .uploadFile label { display: inline-block; font-size: 15px; color: #fff; background-color: #666; width: 130px; height: 45px; line-height: 45px; text-align: center; cursor: pointer; } */
.uploadFile .fileList { margin-top: 15px; }
.uploadFile .fileList:after { content: ''; display: block; clear: both; }
.uploadFile .fileList > * + * { margin-top: 5px; }
.uploadFile .fileList .name { margin-left: 5px; color: #666;}
.uploadFile .fileOpt { border-top: 1px solid #dbdbdb; margin-top: 10px; display: table; width: 100%; }
.uploadFile .fileOpt .name { margin-left: 5px; }
.uploadFile .fileOpt > * { display: table-cell; vertical-align: top; padding-top: 10px;  }
.uploadFile .fileOpt .allChk {  }
.uploadFile .fileOpt .btns { text-align: right; }
/* .uploadFile .fileList > * { float: left; padding: 0 20px; padding-right: 40px; background-color: #e0e0e0; height: 40px; line-height: 40px; border-radius: 40px; margin-bottom: 5px; margin-right: 10px; position: relative; overflow: hidden; }
.uploadFile .fileList .name { font-size: 13px; color: #0d6090; border-bottom: 1px solid #0d6090; margin-right: 5px; }
.uploadFile .fileList .del { position: absolute; top: 50%; right: 10px; margin-top: -7px; text-indent: -9999px; width: 15px; height: 15px; border: 0; background: url(../images/ico/ico_del.png) center no-repeat; background-size: cover; cursor: pointer; } */

#method_class.modal { max-width: 640px; }

.smsAgencyList { max-height: 558px; }
.smsAgencyList li { display: table; width: 100%; padding: 10px; }
.smsAgencyList li + li { border-top: 1px solid #333;  }
.smsAgencyList li.active { background-color: #e8f3fe; }
.smsAgencyList li.add { background-color: #e8f3fe; }
.smsAgencyList li a { color: #666; }
.smsAgencyList li > * { display: table-cell; vertical-align: middle; }
.smsAgencyList li > .btns { text-align: right; }

.pagination { position: relative; text-align: center; margin-top: 30px; }
.pagination .page_btn { display: inline-block; margin: 0 5px; }

.pagination .page_btn a { font-size: 0; text-indent: 100%; background: url('/images/content/board_btn.gif') no-repeat; }
.pagination .page_btn .prev_end { background-position: 8px 9px; }
.pagination .page_btn .prev { background-position: -30px 9px;}
.pagination .page_btn .next { background-position: -64px 9px;}
.pagination .page_btn .next_end { background-position: -102px 9px;}
.pagination a { display: inline-block; width: 26px; height: 26px; border: 1px solid #dedede; background: #fff; margin: 0 2px; text-align: center; font-size: 13px; line-height: 25px; vertical-align: middle; letter-spacing: -1px; color: #000;}
.pagination a.now_page { background: #454545; color: #fff; border-color: #000; }

.page_btn:first-child {margin-right: -5px;}
.page_btn:last-child {margin-left: -5px;}

.surveyItem .sortBtn { margin-bottom: 5px; }
.surveyItem .sortBtn .btn { width: 40px; border-color: #bababa; }
.surveyItem .sortBtn .btn + .btn { margin-left: 5px; }
.surveyItem .sortBtn .btn.sortDown { background: url(../images/ico/ico_arrow_down.png) center no-repeat; }
.surveyItem .sortBtn .btn.sortUp { background: url(../images/ico/ico_arrow_up.png) center no-repeat; }
.surveyResultList { border: 1px solid #dbdbdb; }
.surveyResultList li { display: table; width: 100%; }
.surveyResultList li + li { border-top: 1px solid #dbdbdb; }
.surveyResultList li > * { display: table-cell; vertical-align: middle; padding: 10px; }
.surveyResultList li .title { width: 85%; background-color: #f9f9f9; }
.surveyResultList li .result { border-left: 1px solid #dbdbdb; }


.menu_order { display: table; width: 100%; }
.menu_order > div { width: 33.33333%; display: table-cell; border: 1px solid #ccc; }
.menu_order > div ul li { border-bottom: 1px solid #ccc; line-height: 24px; padding: 5px 10px; box-sizing: border-box; display: block; position: relative; }
.menu_order > div ul li:first-child { text-align: center; background: #d9e9f5; color: #000; font-weight: 500; }
.menu_order > div ul li.on { background: #0081cb; color: #fff; }
.menu_order > div ul li:last-child { border-bottom: none; }
.menu_order > div ul li > div { position: absolute; right: 10px; top: 0; }
.menu_order .btn_move { background: url('../images/ico/btn_updown02.gif') no-repeat; width: 19px; height: 18px; display: inline-block; text-indent: 100%; font-size: 0; border: 1px solid #fff; box-sizing: border-box; }
.menu_order .btn_move + .btn_move { margin-left: 2px; }
.menu_order .btn_move.up { background-position: 0 0; }
.menu_order .btn_move.down { background-position: 0 -18px; }


.defaultImg { display: inline-block; }
.defaultImg:after { content: ''; display: block; clear: both; }
.defaultImg > li { display: inline-block; }
.defaultImg .thumb {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: #f7f7f7 url(../images/common/img_noimage.png) 50% 50% no-repeat;
  display: block;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
}
.defaultImg .thumb:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: 1px solid #c3c3c3;
  box-sizing: border-box;
}
.defaultImg .chk { position: absolute; top: 0; left: 5px; z-index: 2; }
.defaultImg img { width: 100%; }
.defaultImg + .uploadImgFile { display: inline-block; }


.index { margin-top: 15px; }
.index + .index { margin-top: 50px; }
.index_list { display: table; width: 100%; }
.index_list.depth1 { border-top: 2px solid #000; }
.index_list.depth1 dt > label > span::before { background-image: none!important; width: 0; height: 0; }
.index_list.depth1 dt { background: #2391ff; color: #fff; }
.index_list.depth2 dt { background: #cbe3fc;}
.index_list.depth3 dt { padding-left: 30px; background: rgb(243, 249, 255);}
.index_list.depth4 dt { padding-left: 50px; background: #f7f9fb;}
.index_list.depth5 dt { padding-left: 70px; background: #f7f7f7;}
.index_list dt { display: table-cell; width: 144px; background: #f7f7f7; border: 1px solid #dbdbdb; padding: 20px; box-sizing: border-box; font-weight: 500; color: #333; vertical-align: middle; border-top: none; }
.index_list dt > label > span { display: inline-block; }
.index_list dt > label > span::before { display: inline-block; content: ""; background: url('../images/common/depth_icon.gif') no-repeat left 50%; vertical-align: middle; width: 12px; height: 16px; }
.index_list dd { width: 1000px; display: table-cell; border-bottom: 1px solid #dbdbdb; padding: 10px 20px; box-sizing: border-box; vertical-align: middle; }
.index_list dd > div input[type="text"] { width: 94.3%; }
.index_list dd > div:nth-of-type(1) { margin-top: 0px; }
.index_list dd > div { margin-top: 5px; }
.index_list dd::after { content: ""; display: block; clear: both; }
.index_list dd .option { margin-top: 1em; }
.index_list dd .option label { width: 110px; float: left; margin-top: 8px; }
.index_list dd .option select { width: 91%; }
.index_list dd .option textarea { width: 91%; height: 100px; }
.index_list dt .chk { margin-top: 10px; padding-left: 10px; }




















