<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
		<!-- <typeAlias alias="zvl" type="org.ssis.pss.cmn.model.ZValue"/> -->
		<typeAlias alias="Login" type="com.park.ch.cmn.LoginVO"/>
		<typeAlias alias="Session" type="com.park.ch.cmn.SessionVO"/>
    </typeAliases>
</configuration>
