/* iCheck plugin Flat skin, aero
----------------------------------- */
.icheckbox_flat-aero,
.iradio_flat-aero {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 21px;
    height: 21px;
    background: url(../images/common/ico_common.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_flat-aero {
    background-position: -303px -278px;
}
.icheckbox_flat-aero.focus {
    background-position: -331px -278px;
}
    .icheckbox_flat-aero.checked {
        background-position: -360px -278px;
    }
    .icheckbox_flat-aero.checked.focus {
        background-position: -387px -278px;
    }
    .icheckbox_flat-aero.disabled {
        background-position: -414px -278px;;
        cursor: default;
    }
    .icheckbox_flat-aero.checked.disabled {
        background-position:-440px -278px;
    }

.iradio_flat-aero {
     background-position: -303px -278px;
}
.iradio_flat-aero.focus {
     background-position: -331px -278px;
}
    .iradio_flat-aero.checked {
        background-position: -360px -278px;
    }
    .iradio_flat-aero.checked.focus {
        background-position: -387px -278px;
    }
    .iradio_flat-aero.disabled {
        background-position: -414px -278px;;
        cursor: default;
    }
    .iradio_flat-aero.checked.disabled {
        background-position:-440px -278px;;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
   /* .icheckbox_flat-aero,
    .iradio_flat-aero {
        background-image: url(aero@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }*/
}