.inr-c{width: 1400px; margin-left: auto; margin-right: auto;}

#wrap-total,
#header-mobile,
.path_mobile{min-width: 640px;}
#wrap-total{width: 100%; min-width:1400px; overflow: hidden; }
#wrap{width: 100%; overflow: hidden;}
#wrap.sub{}
.innerCenter{max-width: 1400px; margin-left: auto; margin-right: auto;}
#header{position: fixed; left: 0; top: 0; width: 100%; height: 130px; background-color: #fff; z-index: 10; border-bottom: 1px solid #d2d2d2; min-width: 1400px;}
.header_faker{height: 130px;}
#header-mobile{display: none;}
#header .top{background-color: #2a3a67;  height: 35px;}
#header .top .lst_left{float: left;}
#header .top .lst_right{float: right;}
#header .top .lst_right .lst{float: left;}
#header .top .lst_right .lst > li{float: left;}
#header .top .lst_left .lst.family > li{float: left; width: 110px;  text-align: center; position: relative;}
#header .top .lst_left .lst.family > li:after{width: 1px; height: 100%; position: absolute; left: 0; top: 0; background-color: #194e92; content:"";}
#header .top .lst_left .lst.family > li:first-child:after{display: none;}
#header .top .lst_left .lst.family > li > a{display: block; height: 41px; line-height: 41px; color: #fff; font-size: 15px; background-color: #1c589e; letter-spacing:0;}
#header .top .lst_left .lst.family > li.on > a,
#header .top .lst_left .lst.family > li > a:hover,
#header .top .lst_left .lst.family > li > a:focus
{color: #000; background-color: #fff;}
#header .top .lst_right > .lst{float: left;}
#header .top .lst_right .lst.customer > li{float: left;}
#header .top .lst_right .lst.customer > li.bg2{background-color: #8b705a; position: relative;}
#header .top .lst_right .lst.customer > li.bg2 .dep2{position: absolute; left: 0; top: 41px; width: 100%; display: none; z-index:9;} /*2016-09-28*/
#header .top .lst_right .lst.customer > li.bg2 .dep2 a{padding: 7px 0; display: block; background-color: #8b705a; text-align: center; color: #fff; font-size: 12px; border-top: 1px solid #a28d7b;}
#header .top .lst_right .lst.customer > li.bg2 .dep2 a.lineH{line-height: 13px;} /* 2016-09-28 */
#header .top .lst_right .lst.customer > li > a{display: block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 35px; padding-top: 7px; padding-left: 29px; padding-right: 29px; color: #fff; font-size: 13px; background-color: #101d41; border-width: 0 1px; border-style: solid; border-color: #2a3a67; margin-left: -1px;}
#header .top .lst_right .lst.customer > li.btn_mypage_top{position: relative;}
#header .top .lst_right .lst.customer > li.btn_mypage_top > a{background-color: transparent;}
#header .top .lst_right .lst.customer > li.btn_mypage_top > a .c1{color: #8fbef2;}
#header .top .lst_right .lst.customer > li.btn_mypage_top > a .ico{margin-left: 7px;}
#header .top .lst_right .lst.customer > li.btn_mypage_top .dep2{position: absolute; left: 0; top: 35px; background-color: #fff; z-index: 100; width: 220px; display: none;}
#header .top .lst_right .lst.customer > li.btn_mypage_top .dep2:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  top: 20px;
  left: 50%;
  margin-top: -3px;
  border-bottom: 1px solid #a8a8a8;
  border-right: 1px solid #a8a8a8;
  transform: rotate(-135deg) translateY(-50%);
  transition: all 0.4s ease-in-out;
  transform-origin: 50% 0;
  background-color: #fff;
}
#header .top .lst_right .lst.customer > li.btn_mypage_top .dep2 li{padding-bottom: 5px;}
#header .top .lst_right .lst.customer > li.btn_mypage_top .dep2 a{color: #7e7e7e; display: inline-block; padding-bottom: 2px; border-bottom: 1px solid #fff;}
#header .top .lst_right .lst.customer > li.btn_mypage_top .dep2 a:hover{color: #333333; border-color: #333; }
#header .top .lst_right .lst.customer > li.btn_mypage_top .dep2 .inner{border: 1px solid #a8a8a8; padding: 20px 20px 17px; margin-top: 17px;}
#header .top .lst_right .lst.customer > li.btn_mypage_top .dep2 .inner{}
#header .top .lst_right .lst.customer > li.btn_mypage_top .dep2 .logout{margin-top: 12px; padding-top: 12px; border-top: 1px solid #e1e3eb;}
#header .top .lst_right .lst.customer > li.btn_mypage_top .dep2 .logout{}

#header .top .lst_right .lst.customer .login_top{padding-left: 20px;}
#header .top .lst_right .lst.customer .login_top:after{position: absolute; left: 0; top: 2px;}
#header .top .lst_right .lst.customer .login_join{padding-left: 20px;}
#header .top .lst_right .lst.customer .login_join:after{position: absolute; left: 0; top: 2px;}
#header .bus_cooperation{position: absolute; left: 50%; top: 58px; margin-left: 479px; width: 220px; text-align: right;}
#header .bus_cooperation > a{margin-left: 17px; margin-right: 17px;}
#header .bus_cooperation a.btn1{ padding-top: 34px;  font-size: 12px; text-align: center; display: inline-block; color: #666; position: relative;}
#header .bus_cooperation a.btn1 .bg_ring{position: absolute; left: 50%; top: 0; background-image: url(../images/common/ico_common.png); background-repeat: no-repeat; overflow: hidden; background-position: -210px -110px; width: 27px; height: 31px; margin-left: -13px; }
#header .bus_cooperation a.btn1 .bg_moniter{position: absolute; left: 50%; top: 0; background-image: url(../images/common/ico_common.png); background-repeat: no-repeat; overflow: hidden; background-position: -208px -151px; width: 29px; height: 31px; margin-left: -14px;  }

#header .bus_cooperation a.btn1 .t2{position: absolute; right: 0; top: -1px; height: 20px; padding-left: 9px; padding-right: 9px; background-color: #6dcf34; color: #fff; border-radius: 20px; }


#header .top .lst_right > .lst.language > li{position: relative; width: 43px; text-align: center; display: inline-block; *display: inline; *zoom: 1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-left: 1px solid #194e92; background-color: #1c589e;}
#header .top .lst_right > .lst.language > li:first-child{border-left: 0;}
#header .top .lst_right > .lst.language > li > a{display: block;  height: 41px; line-height: 41px; color: #fff;  font-family: 'Lato', sans-serif; font-weight: 700; opacity:0.3; font-size: 12px;}
#header .top .lst_right > .lst.language > li.on:after{position: absolute; left: 0; top: 0; width: 100%; height: 2px; background-color: #fff; content:"";}
#header .top .lst_right > .lst.language > li.on > a,#header .top .lst_right > .lst.language > li.on > a:hover{opacity: 1; background-color: #1c589e;}
#header .top .lst_right > .lst.language > li > a:hover,#header .top .lst_right > .lst.language > li > a:focus{opacity: 1; background-color: #9e8876;}
#header .top .lst_right > .lst.language > li.sitemap{width: 90px;}
#header .top .lst_right > .lst.language > li.sitemap > a{opacity: 1;}
#header .mid{padding-top: 23px; padding-bottom: 23px;}
#lnbPc{position: absolute; left: 50%; top: 49px; margin-left: -328px; width: 780px;}

#header .search_top{position: absolute; right: 37px; top: 74px;}
#header .search_top > .box{border-bottom: 2px solid #194e91;}
#header .search_top > .box .inp{width: 150px; height: 30px; border: 0; box-shadow:0;}
#header .logo{display: inline-block; font-size: 0;}
#header .lnb{position: relative; z-index: 6;}
#header .lnb > ul{text-align: center;}
#header .lnb > ul > li{  display: inline-block; *display: inline; *zoom: 1; text-align: left; position: relative; padding-left: 46px; padding-right: 46px; }
#header .lnb > ul > li > a{display: inline-block; *display: inline; *zoom: 1; font-size: 18px;line-height: 23px;color: #0b1f37;letter-spacing: -1px;height: 50px;padding: 20px 3px 0; position: relative; font-weight: 500;
	-webkit-transition: color 400ms ease-in-out;
	 -moz-transition: color 400ms ease-in-out;
	 -ms-transition: color 400ms ease-in-out;
	 -o-transition: color 400ms ease-in-out;
	 transition: color 400ms ease-in-out;

}
#header .lnb > ul > li:hover > a{ color: #0553b8; }


.lnb > ul{font-size: 0;}
.lnb > ul > li:hover > a .out,
.lnb > ul > li > a .in{display: inline; position: static; width: auto; height: auto; overflow: visible;}
.lnb > ul > li:hover > a .in,
.lnb > ul > li > a .out{width: 0; height: 0; overflow: hidden; position: absolute; left: 0; top: 0;}

.lnb.lOn > ul > li > a .out{display: inline; position: static; width: auto; height: auto; overflow: visible;}
.lnb.lOn > ul > li > a .in{width: 0; height: 0; overflow: hidden; position: absolute; left: 0; top: 0;}


#header .lnb > ul > li > span{display: inline-block; *display: inline; *zoom: 1; font-size: 19px;line-height: 23px;font-weight: 700;color: #313131;letter-spacing: -1px;height: 50px;padding-top: 20px; position: relative; cursor:pointer;
	-webkit-transition: color 400ms ease-in-out;
	 -moz-transition: color 400ms ease-in-out;
	 -ms-transition: color 400ms ease-in-out;
	 -o-transition: color 400ms ease-in-out;
	 transition: color 400ms ease-in-out;

}
#header .lnb > ul > li > a:after{position: absolute;left: 50%;bottom: 16px;margin-left: -4px; opacity: 0;}

#header .lnb > ul > li .depth2{position: absolute;left: 0;top: 82px;width: 100%;height: 237px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; overflow: hidden; display: none;}
#header .lnb > ul > li .depth2 .line{position: absolute; left: 0; top: 0; width: 11px; height: 2px; background-color: #194e92;}
#header .lnb > ul > li .depth2 > .inr{margin-top: -200px; position: relative; padding-left: 20px; padding-right: 20px; text-align: left; padding-top: 27px; height: 236px; background-color: transparent; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; border-left: 1px solid #e9e9e9;
}

#header .lnb > ul > li .depth2 > .inr > ul > li{margin-top: 9px;}
#header .lnb > ul > li .depth2 > .inr > ul > li:first-child{margin-top: 0;}
#header .lnb > ul > li .depth2 a{color: #474747; font-size: 15px; line-height: 20px;}
#header .lnb > ul > li .depth2 > .inr > ul > li > a{display: block;position: relative; -ms-word-break: keep-all;
word-break: keep-all;}
#header .lnb > ul > li .depth2 > .inr > ul > li > a:after{
	position: absolute;left: 0;top: 8px;width: 0;height: 2px;background-color: #194e92;content:"";
	 -webkit-transition: all 300ms ease-in-out;
	 -moz-transition: all 300ms ease-in-out;
	 -ms-transition: all 300ms ease-in-out;
	 -o-transition: all 300ms ease-in-out;
	 transition: all 300ms ease-in-out;
}
/*#header .lnb > ul > li .depth2 > .inr > ul > li.ovr > a:after{left: -20px; width: 11px;content:"";}*/
#header .lnb > ul > li.on > a,#header .lnb > ul > li.ovr > a{color: #000;}
#header .lnb > ul > li.on > a:after,#header .lnb > ul > li.ovr > a:after{
	bottom: 13px;opacity: 1;
	-webkit-transition: all 400ms ease-in-out;
	 -moz-transition: all 400ms ease-in-out;
	 -ms-transition: all 400ms ease-in-out;
	 -o-transition: all 400ms ease-in-out;
	 transition: all 400ms ease-in-out;
}

#header .lnb > ul > li.on > a .in,
#header .lnb > ul > li.ovr > a .in{display: inline; position: static; width: auto; height: auto; overflow: visible;}

#header .lnb > ul > li.on > a .out,
#header .lnb > ul > li.ovr > a .out{width: 0; height: 0; overflow: hidden; position: absolute; left: 0; top: 0;}


#header .lnb > ul > li.ovr .depth2 > .inr{ background-color: #f3f5f7; }
#header .lnb > ul > li.ovr .depth2 .line{ background-color: #fff;}
#header .lnb > ul > li.ovr .depth2 > .inr > ul > li > a:after{background-color: #fff;content:"";}
#header .lnb > ul > li.ovr .depth2 a{ color: #000;}
#header .lnb > ul > li.ovr .depth2 > .inr > ul > li:hover > a{color: #082975;}
#header .lnb > ul > li .depth3{margin-top: 7px; margin-bottom: 20px; display: none;}
#header .lnb > ul > li .depth3 a{display: block; padding: 4px 0; font-size: 12px;  border-style: solid; border-width: 0 0 1px; border-color: #e4e4ee;  }
#header .lnb > ul > li .depth3 > ul > li:first-child > a{border-width:1px 0;}

#header .lnb > ul > li.ovr .depth3 a{border-color: #4063a0; color: #000;}
#header .lnb > ul > li.ovr .depth3 a:hover{color: #fff;}


#header .lnb_bg{position: absolute; left: 0; top: 129px; width: 100%; height: 0; background-color:transparent; display: none;}
#header .lnb_bg:after{position: absolute; left: 50%; margin-left: -700px; top: 2px; width: 1400px; height: 100%; border: 1px solid #f5f5f4; background-color: #fff; content:""; border-top: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#header .lnb_bg .banner{position: absolute; right: 48px; top: 50%; margin-top: -85px;}
#header .lnb_bg .search{position: absolute; left: 0; bottom: 0; width: 100%; height: 45px; padding-top: 1px; background-color: #f2f2f7; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 14px; }
#header .lnb_bg .search > .innerCenter{padding-left: 370px;}
#header .lnb_bg .search > .innerCenter > p > strong{padding-left: 18px; color: #194e92; font-weight:700; display: inline-block; *display: inline; *zoom: 1; position: relative; height: 45px; line-height: 45px; }
#header .lnb_bg .search > .innerCenter > p > strong:after{position: absolute; left: 0; top: 50%; margin-top: -7px;}
#header .lnb_bg .search > .innerCenter > p > b{margin-left: 60px; font-weight: normal; height: 45px; line-height: 45px; display: inline-block; *display: inline; *zoom: 1; }

#header .lnb.sitemap > ul > li .depth2{;height: 478px;}
#header .lnb.sitemap > ul > li .depth2 > .inr{height: 478px;}
/*top값 41*/
/*#wrap.ing{padding-top:749px;}
#wrap.ing #header{height: 135px;}
#wrap.ing #header .top{
    height: 0; overflow: hidden;
    -webkit-transition: height 0.2s ease-in-out;
    -moz-transition: height 0.2s ease-in-out;
    -ms-transition: height 0.2s ease-in-out;
    -o-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
}
*/
#header .box-scroll{position: absolute; left: 0; top: 36px; width: 100%; z-index: 1; display: none; margin-top:-10px; }
#header .box-scroll .innerCenter{position: relative;}
#header .box-scroll .btn_lnb{position: absolute; left: 0; top: 0;}
#header .box-scroll .btn_search{position: absolute; right: 0; top: 2px;}

#search_pc_top{position: absolute; left: 0; top: 0; width: 100%; display: none;}

#header-mobile{display: none; background-color: #fff; position: fixed; left: 0; top: 0; width: 100%; z-index: 10;}
#header-mobile > .top{background-color: #194e92; height: 44px;}
#header-mobile > .top > .lst_left{float: left;}
#header-mobile > .top > .lst_left > .lst.customer{ margin-left: 10px; }
#header-mobile > .top > .lst_left > .lst.customer > li{float: left; position: relative;}
#header-mobile > .top > .lst_left > .lst.customer > li > a{ position: relative; display: block; height: 44px; display: block; color: #fff; font-size: 18px; line-height:44px; padding-left: 43px; padding-right: 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#header-mobile > .top > .lst_left > .lst.customer > li.n3 > a,
#header-mobile > .top > .lst_left > .lst.customer > li.n4 > a{padding-left: 20px; padding-right: 20px; }
#header-mobile > .top > .lst_left > .lst.customer > li.on{border-top: 2px solid #fff;}
#header-mobile > .top > .lst_left > .lst.customer > li > a .ico{position: absolute; left: 16px; top: -1px; width: 18px; height: auto;}
#header-mobile > .top > .lst_left > .lst.customer > li:after{position: absolute;left: -2px;top: 13px;width: 2px;height: 17px;background-color: #fff;opacity: 0.2;content:"";}
#header-mobile > .top > .lst_left > .lst.customer > li:first-child:after{display: none;}
#header-mobile > .top > .right_left{float: right;}
#header-mobile > .center{background-color: #fff; height: 99px; width: 100%; position: relative;}
#header-mobile > .center .logo{position: absolute; left: 50%; top: 27px; width: 97px; height: auto; margin-left: -48px;}
#header-mobile > .center #lnb-mobile-open{position: absolute; left: 0; top: 0; width: 99px; height: 99px;  overflow: hidden;   }
#header-mobile > .center #lnb-mobile-open > span{width: 48px; position: absolute; left: 50%; top: 50%; margin-left: -24px; margin-top: -20px;}
#header-mobile > .center #search-mobile-open{position: absolute; right: 0; top: 0; width: 99px; height: 99px; overflow: hidden;  }
#header-mobile > .center #search-mobile-open > span{position: absolute;left: 50%;top: 50%;margin-left: -19px;margin-top: -22px;width: 39px;}
#header-mobile #search_mobile_top{position: absolute; left: 0; top: 142px; z-index:3; background-color: #f0f0f6; padding: 4% 1.9% 3% 3.9%; font-size: 20px; line-height: 26px; letter-spacing: -1px; display: none; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#header-mobile #search_mobile_top .close{position: absolute;right: 0;top: -97px;width: 33px;height: 35px;background-color: #ffffff;padding: 30px;}
#header-mobile #search_mobile_top .close img{max-width: 100%;}
#header-mobile #search_mobile_top > p{position: relative; padding-left: 150px; font-size: 23px; margin-right: 15px; letter-spacing: -1px;}
#header-mobile #search_mobile_top > p > strong{position: absolute; left: 0; top: 0; color: #194e92; padding-left: 26px; letter-spacing: -2px; }
#header-mobile #search_mobile_top > p > strong > .ico{position: absolute; left: 0; top: 0; width: 20px; height: auto;}
#header-mobile #search_mobile_top > p > strong > .ico img{max-width: 100%; height: auto;}
#header-mobile #search_mobile_top > p > b{display: block; overflow: hidden; width: 100%; }
#header-mobile #search_mobile_top > p > b > a{display: inline-block; *display: inline; *zoom: 1; font-size: 23px; margin-right: 4px; position: relative; margin-bottom: 10px; color: #000;}
#header-mobile #search_mobile_top > p > b > a:first-child{margin-left: 0;}

#header-mobile #search_mobile_top > .box_search{position: absolute;left: 0;bottom: -80px;background-color: #1c4e91;height: 80px;width: 100%; padding: 23px 30px 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#header-mobile #search_mobile_top > .box_search input{ width: 100%; padding-left: 20px;  background-color: #1c4e91; border-style: solid; border-width: 1px 1px 1px 2px; border-color: #1c4e91 #1c4e91 #1c4e91 #fff; height: 38px; line-height: 38px;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #fff; font-size: 30px; }

#header-mobile #search_mobile_top > .box_search input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #4373b1;
}
#header-mobile #search_mobile_top > .box_search input::-moz-placeholder { /* Firefox 19+ */
  color: #4373b1;
}
#header-mobile #search_mobile_top > .box_search input:-ms-input-placeholder { /* IE 10+ */
  color: #4373b1;
}
#header-mobile #search_mobile_top > .box_search input:-moz-placeholder { /* Firefox 18- */
  color: #4373b1;
}

#service-top{display: none;color: #fff;margin-right: 30px;padding-top: 0;font-size: 17px;line-height: 44px;height: 44px;padding-right: 43px;display: block;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
#service-top:after{position: absolute; right: 0; top: 19px;}


#lnb-mobile{
	position: fixed; left: 0; top: 0;  width: 0; z-index: 20; display: none;
}


#lnb-mobile > .inner{ display: block; overflow: hidden;margin-left: -100%;  position: relative;
		background-color: #194e92;
}



#lnb-mobile .top{ height: 143px; padding:70px 46px 0 46px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;  }
#lnb-mobile .top .logo{width: 98px; height: auto;}
#lnb-mobile .close{position: absolute;right: 40px;top: 74px;z-index: 3;width: 32px;height: auto;}
#lnb-mobile > .inner:after{width: 50%; height: 100%; position: absolute; right: 0; top: 0; content:""; background-color: #194e92; z-index: 1; }
#lnb-mobile > .inner > .search{position: relative; left: 0; top: 0; z-index:3; background-color: #f0f0f6; padding: 5%; font-size: 20px; line-height: 26px; letter-spacing: -1px;}
#lnb-mobile > .inner > .search > p{position: relative; padding-left: 180px;}
#lnb-mobile > .inner > .search > p > strong{position: absolute; left: 0; top: 0; color: #194e92; padding-left: 33px; }
#lnb-mobile > .inner > .search > p > strong:after{position: absolute; left: 0; top: 0;}
#lnb-mobile > .inner > .search > p > b{display: block; font-size: 0; overflow: hidden; height: 26px; width: 100%; }
#lnb-mobile > .inner > .search > p > b > a{display: inline-block; *display: inline; *zoom: 1; font-size: 20px;margin-left: 15px; margin-right: 15px; position: relative;}
#lnb-mobile > .inner > .search > p > b > a:after{position: absolute; left: -15px; top: 3px; width: 1px; height: 20px;  background-color: #cacadf; content:"";}
#lnb-mobile > .inner > .search > p > b > a:first-child{margin-left: 0;}
#lnb-mobile > .inner > .search > p > b > a:first-child:after{display: none;}
#lnb-mobile .i_scroll{position: relative; z-index: 2; overflow: hidden;}
#lnb-mobile .lnb{position: relative; z-index: 2; background-color: #1d589e;}
#lnb-mobile .lnb > ul > li{z-index: 0; position: static;}
#lnb-mobile .lnb > ul > li > a{width: 100%;padding: 5%;display: block;background-color: transparent;color: #fff;font-size: 26px;line-height: 29px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border-top: 2px solid #194e92;}
#lnb-mobile .lnb > ul > li:first-child > a{border-top: 0;}
#lnb-mobile .lnb .depth2{position: absolute; left: 50%; top: 0; width: 50%; display: none; background-color: #133c7e; z-index: 5;}
#lnb-mobile .lnb .depth2 > .inr > ul > li{padding-left: 15%;}
#lnb-mobile .lnb .depth2 > .inr > ul > li.on{background-color: #163464;}
#lnb-mobile .lnb .depth2 > .inr > ul > li > a{padding: 12.1%;display: block;color: #fff;font-size: 24px;line-height: 28px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;}
#lnb-mobile .lnb .depth2 > .inr > ul > li > a:after{position: absolute; left: 0; top: 50%; margin-top: -1px; width: 6%; height: 2px; background-color: #fff; content:""; }
#lnb-mobile .lnb .depth3{display: none;}

#lnb-mobile .lnb .m2  .depth2{display: none;}


#lnb-mobile .lnb > ul > li > a:after{display: none;}
#lnb-mobile .lnb > ul > li.on{z-index: 3;}
#lnb-mobile .lnb > ul > li.on > a{ background-color: #133c7e; font-weight: bold; }

#lnb-mobile .banner_bot{position: relative; left: 0; top: 0; z-index: 1;}
#lnb-mobile .banner_bot img{width: 100%; height: auto;}
#lnb-mobile .banner_bot > a{display: block; float: left; width: 50%; }
#lnb-mobile .banner_bot > a.y50{width: 100%; height: auto;}

#tab-service-top{position: fixed; right: 0; top: 0;  width: 0; z-index: 20; overflow: hidden; display: none;}

#tab-service-top > .inner{padding-left: 16%;}
#tab-service-top .top{position: relative;}
#tab-service-top .top{ background-color: #194e91; height: 143px; padding:70px 46px 0 46px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;  }
#tab-service-top .top .close{position: absolute;left: 30px;top: 72px;width: 5.8%;z-index: 1;}
#tab-service-top .top .close img{max-width: 100%;}

#tab-service-top .lst_service{position: relative; z-index: 5; background-color: #194e91; overflow: hidden;}
#tab-service-top .lst_service > ul > li{border-top: 2px solid #194e92; background-color: #1c589d;}
#tab-service-top .lst_service > ul > li > a{position: relative; display: block;padding-left: 9%;padding-top: 10%;padding-bottom: 10%;padding-right: 24%;}
#tab-service-top .lst_service > ul > li > a  img{max-width: 100%;}
#tab-service-top .lst_service > ul > li > a .arr{position: absolute;right: 7%;top: 50%;margin-top: -7%;width: 11%;height: auto;}
#tab-service-top .lst_service > ul > li > a .arr img{width: 100%; height: auto;}


#container{position: relative; z-index: 5; min-height: 500px;}


#popup-share-Bubble{position: absolute; right: 0; bottom: 50px; width: 474px; padding-left: 29px; padding-right: 29px; display: none;}
#popup-share-Bubble:after{position: absolute; left: 0; top: 0; width: 30px; height: 62px; content:""; background: url(/resources/images/common/bg_gong_lft.png) 0 0 no-repeat; z-index: 1;}
#popup-share-Bubble:before{position: absolute; right: 0; top: 0; width: 30px; height: 73px; content:"";  background: url(/resources/images/common/bg_gong_rgh.png) 0 0 no-repeat; z-index: 1;}
#popup-share-Bubble .bgc{background-color: #194e92; width: 100%;  z-index: 3; position: relative;}
#popup-share-Bubble ul{padding-top: 12px;margin-left: -14px; height: 61px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#popup-share-Bubble li{float: left; margin-left: 20px;}
#popup-share-Bubble li:first-child{margin-left: 0;}
#popup-share-Bubble li button{font-size: 0.8em; height: 37px; line-height: 37px; color: #fff;  }
#popup-share-Bubble li button .txt{opacity: .8; -webkit-transition: all 200ms ease-in-out; -moz-transition: all 200ms ease-in-out; -ms-transition: all 200ms ease-in-out; -o-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out;}
#popup-share-Bubble li button:hover .txt,#popup-share-Bubble li button:focus .txt{opacity: 1; }
#popup-share-Bubble li button .img{margin-right: 7px;}
#popup-share-Bubble li button .txt{border-bottom: 1px solid #fff;}
#popup-share-Bubble .close{ position: absolute; right: -1px; top:50%; width: 32px; height: 32px; overflow: hidden; text-indent: -9999px; text-align: left; margin-top: -16px; }

#bot_companies{background-color: #464d5d; padding-bottom: 33px; padding-top: 31px; position: relative; z-index: 5; }
#bot_companies h1.h{ margin-bottom: 13px; font-size: 15px; font-family: 'Lato', sans-serif; font-weight: 400;  color: #fff; }
#bot_companies > .companies_inner > section{float: left;}
#bot_companies .sec1{width: 34.07142857142857%;}
#bot_companies .sec2{width: 29.071429%;margin-right: 5%;}
#bot_companies .sec3{width: 31.85714285714286%;}

#bot_companies .sec1{ color: #aeb2bd; }
#bot_companies .sec1 .t1{margin-bottom: 13px;}
#bot_companies .sec1 .t2{margin-bottom: 13px; color: #fff;font-size: 0.86em;letter-spacing: 0px; line-height: 15px;}
#bot_companies .sec1 .a_map{width: 315px; background-color: #4d566b; position: relative;}
#bot_companies .sec1 .a_map:after{position: absolute; right: 0; top: 0; width: 38px; height: 38px; content:""; background-color: #2f3545;}
#bot_companies .sec1 .a_map a{display: block; position: relative; z-index: 1;  height: 38px; line-height: 38px; padding-left: 15px;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #fff; }
#bot_companies .sec1 .a_map a:after{position: absolute;right: 13px;top: 13px;}

#bot_companies .sec2 .lst_thumb > .thumb{float: left; width: 104px; height: 104px; position: relative;}
#bot_companies .sec2 .lst_thumb > .cont{margin-left: 135px;}
#bot_companies .sec2 .lst_thumb > .cont > .h{margin-bottom: 7px; line-height: 20px; color: #fff;}
#bot_companies .sec2 .lst_thumb > .cont > .h a{color: #fff; font-size: 1.2em;}
#bot_companies .sec2 .lst_thumb > .cont > .t1{font-size: 0.82em; line-height: 17px; height: 60px;  overflow: hidden; color: #dce0e7; margin-bottom: 0;}
#bot_companies .sec2 .lst_thumb > .cont > .t1 a{color: #dce0e7;}
#bot_companies .sec2 .lst_thumb > .cont > .data{color: #fff; font-size: 11px; font-family: 'Lato', sans-serif; font-weight: 400; }


#bot_companies .sec3 > .lst_sns > ul > li{float: left; width: 23.5%; text-align: left; margin-left: 2%;}
#bot_companies .sec3 > .lst_sns > ul > li:first-child{margin-left: 0;}
#bot_companies .sec3 > .lst_sns > ul > li > a{width: 104px; height: 104px; background-color: #4d566b; display: block; position: relative; text-indent: -9999px;}
#bot_companies .sec3 > .lst_sns > ul > li > a:after{position: absolute; left: 50%; top: 50%;}
#bot_companies .sec3 > .lst_sns > ul > li > a.sns1:after{margin-left: -7px; margin-top: -14px;}
#bot_companies .sec3 > .lst_sns > ul > li > a.sns2:after{margin-left: -17px; margin-top: -14px;}
#bot_companies .sec3 > .lst_sns > ul > li > a.sns3:after{margin-left: -7px; margin-top: -14px;}
#bot_companies .sec3 > .lst_sns > ul > li > a.sns4:after{margin-left: -20px; margin-top: -14px;}

#bot-companies-mobile{display: none; background-color: #444c60; position: relative; z-index: 5;}

#bot-companies-mobile .sns{text-align: center; font-size: 0; line-height: 0; background-color: #4d566b;}
#bot-companies-mobile .sns .lst_sns > ul > li{display: inline-block; *display: inline; *zoom: 1; width: 88px; position: relative; vertical-align: top;}
#bot-companies-mobile .sns .lst_sns > ul > li > a{display: block;position: relative; height: 88px; text-align: center;}
#bot-companies-mobile .sns .lst_sns > ul > li > a > .ico{width: 40px; height: auto; display: inline-block; *display: inline; *zoom: 1; padding-top: 28px;}
#bot-companies-mobile .sns .lst_sns > ul > li > a.sns_b5 > .ico{padding-top: 32px;}
#bot-companies-mobile .contactus .t1{color: #fff; opacity:0.3; font-size: 19px; line-height: 26px;margin-top: 5.3%; text-align: center;}
#bot-companies-mobile .contactus .t2{margin-top: 2%; padding-bottom: 3%; text-align: center; position: relative;}
#bot-companies-mobile .contactus .t2 span{width: 300px; display: inline-block; *display: inline; *zoom: 1;}
#bot-companies-mobile .contactus .t2 span > img{width: 100%; height: auto;}
#bot-companies-mobile .contactus .t2:after{position: absolute; left: 50%; bottom: 0; width: 60px; height: 3px; background-color: #fff; content:""; margin-left: -30px;}

#footer{background-color: #272d3b; position: relative; z-index: 5; color: #757e93;}
#footer .inr-c{padding-top: 45px; padding-bottom: 45px;}
#footer .address{font-family:'Roboto'; margin-top: 7px; font-size: 13px;}
#footer .t1 span{display: inline-block; margin-right: 11px;}
#footer .area_lft{float: left; position: relative; width: 820px; padding-top: 3px;}
#footer .area_rgh{float: right; position: relative; width: auto; min-width: 430px; text-align: right;}
#footer .area_rgh .area-col{display: inline-block; margin-left: 8px;}




#spot-sub {position: relative; background-color: #f2f2f7;}
#spot-sub .thumb{height: 280px; position: relative; left: 0; top: 0; z-index: 0; background: transparent url(../images/spot/img_spot_sub1.jpg) 50% 0 no-repeat; -webkit-background-size: cover; background-size: cover; font-size: 0; text-align: center;}
#spot-sub .thumb:after{display: inline-block; vertical-align: middle; content:""; width: 0; height: 100%;}
#spot-sub .thumb .inner{display: inline-block; vertical-align: middle; padding-top: 23px;}
#spot-sub .thumb .inner h1{color: #fff; font-size: 40px; font-weight: 500;}
#spot-sub.sub1 .thumb{background: transparent url(../images/spot/img_spot_sub1.jpg) 50% 0 no-repeat; -webkit-background-size: cover; background-size: cover;}

#spot-sub .thumb  img{width: 100%; height: auto;}
#spot-sub .thumb .cont{width: 600px; position: absolute; left: 50%; top: 40px; margin-left: -300px; text-align: center; visibility: hidden;}
#spot-sub .thumb .cont > p.line{ position: relative; padding-bottom: 15px; }
#spot-sub .thumb .cont > p.line:after{position: absolute; left: 50%; bottom: 0; width: 30px; height: 2px; margin-left: -15px; background-color: #fff; content:"";}
#spot-sub .thumb .lst_sns{ position: absolute; left: 50%; top:0; width: 1400px; text-align: right; height: 0; margin-left: -700px;  font-size: 0;line-height: 0;}
#spot-sub .thumb .lst_sns ul > li{display: inline-block; *display: inline;*zoom: 1; margin-left: 8px; width: 39px;}
#spot-sub .thumb .lst_sns ul > li img{max-width: 100%;}
#spot-sub .thumb .cont img{max-width: 100%; width: auto; height: auto;}
#spot-sub .path{z-index: 1;  }
#spot-sub .rtitle{z-index: 1; position: absolute; left: 0; top: 0; visibility: hidden;}
#spot-sub .rtitle .lst > ul > li{float: left; /*width: 144px;*/ margin-right: 20px;}
#spot-sub .rtitle .lst > ul > li > a{position: relative;display: block;width: 100%;height: 42px;line-height: 42px;color: #fff;font-size: 17px;text-align: center;font-weight: normal; white-space:pre;}
#spot-sub .rtitle .lst > ul > li > a:after{
	position: absolute; left: 0; bottom: 0; width: 0; margin-left:50%; height: 2px; background-color: #fff; content:"";
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
#spot-sub .rtitle .lst > ul > li.on > a:after{width: 100%; margin-left: 0;}
#spot-sub .rtitle .lst > ul > li > a:hover:after{
	width: 100%;  margin-left:0;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

#container.sub{background-color: #fff;padding-top:0; padding-bottom: 80px;}
#container.sub .container_inner{width: 1400px; padding-top: 42px; margin-left: auto; margin-right: auto; position: relative;}
#container.sub .container_inner.pt1{padding-top: 44px;}
#container.sub .container_inner .contentMotion{ background-color: #fff; visibility: hidden; }
#container.sub .container_inner .contentMotion.bgn{background-color: transparent;}
#container.sub .container_inner .contentMotion > .inner , .inr-cen{  padding-top: 3.6%; margin-left:auto; margin-right: auto; width: 84.28571428571429%; padding-bottom: 90px; position: relative;  }
#container.sub .container_inner .contentMotion.mt0 > .inner{margin-top: 0;}
#container.sub .container_inner .contentMotion  .visual{overflow: hidden; width: 100%; position: relative; }

#container.sub .container_inner .contentMotion  .visual.bxSlide{overflow: visible;}
#container.sub .container_inner .contentMotion  .visual .img{position: relative; left: 50%; top: 0; width: 1400px; margin-left: -700px;}
#container.sub .container_inner .content-article{ min-height: 500px; background-color: #fff;}
#container.sub .path{width: 1400px;height: 60px;position: absolute;left: 0;top: -60px;background-color: #fff;text-align: center;}
#container.sub .path > h1{font-size: 28px; color: #272d3b; font-weight: 500; padding-top: 15px;}
#container.sub .path .lst_sns{position: absolute; right: 37px; top: 16px;}
#container.sub .path .lst_sns > ul > li{float: left; margin-left: 9px;}

th.req:after { content: '*'; color: #ed0000; }


/* s:160930 팝업 */
.pop_160930 { position:absolute; top:250px; left:150px; }
.pop_160930 .dim { position:fixed; top:0; left:0; width:100%; height:100%; background:#000; opacity:0.4; z-index:99; }
.pop_160930 .con { position:relative; z-index:999; }
.pop_160930 .con .close { position:absolute; top:-30px; right:0; font-size:40px; color:#fff; cursor:pointer; }
/* e:160930 팝업 */

