
.login .login_form dd.dd02 { margin-top:2px;}
#gnb li img { vertical-align:top;}
#incon { float:left; margin-left:8px;}
#sidebar .bgbtm_sidebar { bottom:-1px;}
#lnb, #lnb li a { zoom:1;}
.member_box .right_box select { vertical-align:top;}
.main_title .bgright_tit { right:-1px;}
.main_con { margin-right:1px;}
.main_list01 { width:96%;}
