@charset "utf-8";

/*
* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess
*/

/* Font Style */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../font/NotoSansKR-Light.woff2') format('woff2'),
       url('../font/NotoSansKR-Light.woff') format('woff'),
       url('../font/NotoSansKR-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../font/NotoSansKR-Regular.woff2') format('woff2'),
       url('../font/NotoSansKR-Regular.woff') format('woff'),
       url('../font/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
   font-family: 'Noto Sans';
   font-style: normal;
   font-weight: 500;
   src: url('../font/NotoSansKR-Medium.woff2') format('woff2'),
        url('../font/NotoSansKR-Medium.woff') format('woff'),
        url('../font/NotoSansKR-Medium.otf') format('opentype'); 
}

@font-face {
   font-family: 'Noto Sans';
   font-style: normal;
   font-weight: 700;
   src: url('../font/NotoSansKR-Bold.woff2') format('woff2'),
        url('../font/NotoSansKR-Bold.woff') format('woff'),
        url('../font/NotoSansKR-Bold.otf') format('opentype'); 
}


/* reset */
/**{-webkit-text-size-adjust:none}*/

html { margin: 0; padding: 0; /*-webkit-text-size-adjust: none;*/ }
body { position: relative; background: #fafafa; /*-webkit-user-select: none; -webkit-touch-callout: none; -webkit-tap-highlight-color: rgba(0,0,0,0); word-break:keep-all; word-wrap:break-word;*/ }
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, radio, select, p, button { margin: 0; padding: 0; font-family: 'Noto Sans','dotum','AppleGothic'; font-weight: 400; font-size: 14px; line-height: 1.2; color: #555; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
ul, ol, li { list-style: none; }
fieldset, img { border: 0; vertical-align: middle; }
address, em { font-style: normal; }
table { width: 100%; border-collapse: collapse; border-spacing: 0; }
button { border: 0; background: none; cursor: pointer; }
hr { display: none; }
a { color: #555; text-decoration: none; }
a:hover, a:focus { color: #0074bd; text-decoration: underline; }
caption,legend { overflow: hidden; width: 0; height: 0; font-size: 0; line-height: 0; }
input {/*font-family:'Noto Sans KR','dotum','AppleGothic'; */ font-size: 100%; }
button, label, input[type=image] { cursor: pointer; vertical-align: middle; }
select, textarea { border: 1px solid #ccc; }
select { font-size:100%; background-color:#fff; border-radius: 0; height: 34px; padding: 2px; vertical-align: middle; border: 1px solid #ccc; font-size: 14px; color: #555;}
input[type="text"], input[type="password"], input[type="search"] { /*-webkit-appearance: none;*/ border: 1px solid #ccc; padding: 0 2px; height: 32px; vertical-align: middle; color: #555; }
input[type="checkbox"] { vertical-align: middle; margin-right: 3px; }
/*input:checked[type="checkbox"] { -webkit-appearance: checkbox; }*/
input[type="radio"] { vertical-align: middle; background: #fff; border: none;  }
input[readonly=readonly] { background: #ececec; }
button,input[type="button"],input[type="submit"],input[type="reset"],input[type="file"] { border-radius: 0; cursor: pointer; border: 0; }
textarea { /*-webkit-appearance: none;*/ padding: 0 2px; margin-bottom: -5px; resize: vertical; min-height: 50px;}

strong, b, th { font-weight: 500; }
img { max-width: 100%; }
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
input[type="text"], input[type="password"] { border-radius: 0; }
select { box-sizing: border-box; /*-webkit-text-size-adjust: none;*/ }

#skipnav { position: absolute; top: 0; left: 0; width: 100%; z-index: 999; }
#skipnav a { display: block; position: absolute; top: 0; left: 0; height: 0px; font-size: 0px; line-height: 0px; text-align: center; }
#skipnav a:hover,
#skipnav a:active,
#skipnav a:focus { position: relative; margin: 20px auto; width: 90%; height: 80px; line-height: 80px; background: #261d18; text-align: center; color: #ffd84e; border: 2px solid #ffd84e; font-weight: bold; font-size: 20px; }


/* margin style */
.mt0 { margin-top: 0!important; }
.mt05 { margin-top: 5px!important; }
.mt10 { margin-top: 10px!important; }
.mt15 { margin-top: 15px!important; }
.mt20 { margin-top: 20px!important; }
.mt25 { margin-top: 25px!important; }
.mt30 { margin-top: 30px!important; }
.mt35 { margin-top: 35px!important; }
.mt40 { margin-top: 40px!important; }
.mt45 { margin-top: 45px!important; }
.mt50 { margin-top: 50px!important; }
.mt55 { margin-top: 55px!important; }
.mt60 { margin-top: 60px!important; }
.mt100 { margin-top: 100px!important; }

.mb05 { margin-bottom: 5px!important; }
.mb10 { margin-bottom: 10px!important; }
.mb15 { margin-bottom: 15px!important; }
.mb20 { margin-bottom: 20px!important; }
.mb25 { margin-bottom: 25px!important; }
.mb30 { margin-bottom: 30px!important; }
.mb_30 { margin-bottom: -30px!important; }
.mb35 { margin-bottom: 35px!important; }
.mb50 { margin-bottom: 50px!important; }

.mr05 { margin-right: 5px!important; }
.mr10 { margin-right: 10px!important; }
.mr15 { margin-right: 15px!important; }
.mr20 { margin-right: 20px!important; }
.mr25 { margin-right: 25px!important; }
.mr30 { margin-right: 30px!important; }
.mr35 { margin-right: 35px!important; }
.mr50 { margin-right: 50px!important; }

.ml05 { margin-left: 5px!important; }
.ml10 { margin-left: 10px!important; }
.ml15 { margin-left: 15px!important; }
.ml20 { margin-left: 20px!important; }
.ml25 { margin-left: 25px!important; }
.ml30 { margin-left: 30px!important; }
.ml35 { margin-left: 35px!important; }

/* padding style */
.pl0 { padding-left: 0!important; }
.pr0 { padding-right: 0!important; }

/* width style */
.w10 { width: 10%!important; }
.w20 { width: 20%!important; }
.w30 { width: 30%!important; }
.w40 { width: 40%!important; }
.w50 { width: 50%!important; }
.w60 { width: 60%!important; }
.w65 { width: 65%!important; }
.w70 { width: 70%!important; }
.w75 { width: 75%!important; }
.w80 { width: 80%!important; }
.w90 { width: 90%!important; }
.w95 { width: 95%!important; }
.w100 { width: 99%!important; }
.wauto { width: auto!important; }
.w25 { width: 25%!important; }
.w33 { width: 33.33333%!important; }
.w66 { width: 66.66667%!important; }

.w30p { width: 30px!important; }
.w50p { width: 50px!important; }
.w80p { width: 80px!important; }
.w100p { width: 100px!important; }

/* height style */
.h10 { height: 10px!important; }
.h20 { height: 20px!important; }
.h30 { height: 30px!important; }
.h40 { height: 40px!important; }
.h50 { height: 50px!important; }
.h60 { height: 60px!important; }
.h70 { height: 70px!important; }
.h80 { height: 80px!important; }
.h90 { height: 90px!important; }
.h100 { height: 100px!important; }
.h120 { height: 120px!important; }
.h150 { height: 150px!important; }
.h200 { height: 200px!important; }
.h300 { height: 300px!important; }
.h400 { height: 400px!important; }
.h500 { height: 500px!important; }
.h600 { height: 600px!important; }
.h700 { height: 700px!important; }
.h800 { height: 800px!important; }
.h900 { height: 900px!important; }
.h1000 { height: 1000px!important; }


/* align style */
.tr { text-align: right!important; }
.tl { text-align: left!important; }
.tc { text-align: center!important; }

.fl { float: left!important; }
.fr { float: right!important; }

/* color style */
.c_black { color: #000!important; }
.c_orange { color: #da3e00!important; } 
.c_blue { color: #0081cb!important; }
.c_green { color: #009774!important; }
.c_red { color: #d50000!important; }
.c_gray { color: #333!important; }


/* font size */
.f11 { font-size: 11px!important; }
.f12 { font-size: 12px!important; }
.f13 { font-size: 13px!important; }
.f14 { font-size: 14px!important; }
.f15 { font-size: 15px!important; }
.f16 { font-size: 16px!important; }
.f17 { font-size: 17px!important; }

/* line-height style */
.lh22 { line-height: 22px!important; }

/* position */
.pos_re { position: relative !important; /*z-index: 10;*/ }
table td.pos_re {position:relative !important; z-index:10; background:transparent}
.top {position:absolute; right:0; top:0}
.bottom {position:absolute; right:0; bottom:0}
.top1 {position:absolute; right:0; top:40px}
.pos_l {position:absolute; left:10px; top: 8px}
.pos_t0 {position:absolute; right:0; top: -30px}
.pos_t1 {position:absolute; right:30px; top: -28px}
.pos_t2 {position:absolute; right:30px; top: 25px}
.pos_t5 {position:absolute; top:8px; left:255px}
.pos_f { position: fixed!important; }
.pos_none { position: inherit!important; }

/* hidden */
.hidden { display:block !important; position:fixed !important; top:-500000px !important; margin:0px !important; padding:0px !important; width:0px !important; height:0px !important; text-indent:-50000px !important; font-size:0px !important; line-height:0px !important; border:0px !important; }

/* display */
.d_block { display: block !important; }
.t_fixed { table-layout: fixed!important; }

/* etc */
.hipun { display: inline-block; margin: 0 5px; }
.hipun2 { display: inline-block; margin: 0 5px; }
.h_auto { height: auto !important; }
.b_none { background: none !important; }

/* */
.cl { clear: both!important; }