<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bsis">
	
	<!-- 기초현황 - 기관정보 START -->
	<select id="selectInstitutionExcel" parameterType="zvl" resultType="zvl">
		SELECT
			  A.ORDER_NO orderNo
			, A.INSTT_CD insttCd
			, A.INSTT_NM insttNm
			, A.EMP_CO empCo
			, A.ADDR addr
      		, A.BSNS_CONTENTS bsnsContents
			, B.DEPT dept
			, B.RSPOFC rspofc
      		, B.USER_NM userNm
      		, B.TEL_NO telNo
      		, B.EMAIL email
		FROM
			  BSIS_STTUS_INSTITUTION A
			, BSIS_STTUS_INSTITUTION_USER B
      	WHERE
      		A.ORDER_NO = B.ORDER_NO
      	AND
      		A.INSTT_CD = B.INSTT_CD
      	AND
      		A.DELETE_YN = 'N'
      	AND
      		B.DELETE_YN = 'N'
      	AND
      		A.ORDER_NO = #{orderNo}
	</select>
	
	
	<select id="selectInstitution" parameterType="zvl" resultType="zvl">
		SELECT
			  A.ORDER_NO orderNo
			, A.INSTT_CD insttCd
			, A.INSTT_NM insttNm
			, A.EMP_CO empCo
			, A.ADDR addr
      		, A.BSNS_CONTENTS bsnsContents
			, A.REGIST_DT registDt
			, A.REGIST_ID registId
			, A.UPDT_DT updtDt
			, A.UPDT_ID updtId
			, A.DELETE_DT deleteDt
			, A.DELETE_ID deleteId
			, A.DELETE_YN deleteYn
		FROM
			BSIS_STTUS_INSTITUTION A
		WHERE
   			A.DELETE_YN = 'N'
		AND
			<if test='"Y" == orderChk'>
				A.ORDER_NO = 
					(
	                CASE WHEN (SELECT COUNT(*) 
              								FROM BSIS_STTUS_INSTITUTION
              							  WHERE ORDER_NO = #{orderNo}
              							      AND INSTT_CD = #{insttCd}
              							) >= 1
	                    THEN #{orderNo}
	                    ELSE (SELECT MAX(ORDER_NO) 
	  								FROM BSIS_STTUS_INSTITUTION
	  							  WHERE INSTT_CD = #{insttCd}
	  							)
	                END
	            	)
	    	</if>
	    	<if test='"Y" != orderChk'>
	    		A.ORDER_NO = #{orderNo}
	    	</if>
		AND
			A.INSTT_CD = #{insttCd}
	</select>
	
	<insert id="insertInstitution" parameterType="zvl">
		DELETE FROM BSIS_STTUS_INSTITUTION
		WHERE INSTT_CD = #{insttCd}
		AND ORDER_NO = #{orderNo}
		;
		
		INSERT INTO BSIS_STTUS_INSTITUTION
		(
			  ORDER_NO
			, INSTT_CD
			, INSTT_NM
			, EMP_CO
			, ADDR
			, BSNS_CONTENTS
			, REGIST_DT
			, REGIST_ID
		)
		VALUES
		(
 			  #{orderNo}
			, #{insttCd}
			, #{insttNm}
			, #{empCo}
			, #{addr}
			, #{bsnsContents}
			, NOW()
			, #{userId}
		)
	</insert>
	<!-- 기초현황 - 기관정보 END -->
	
	<!-- 기초현황 - 기관 사용자 START -->
	<select id="selectInstitutionUserList" parameterType="zvl" resultType="zvl">
		SELECT
			  A.ORDER_NO orderNo
			, A.INSTT_CD insttCd
			, A.DEPT dept
			, A.RSPOFC rspofc
      		, A.USER_NM userNm
      		, A.TEL_NO telNo
      		, A.EMAIL email
			, A.REGIST_DT registDt
			, A.REGIST_ID registId
			, A.UPDT_DT updtDt
			, A.UPDT_ID updtId
			, A.DELETE_DT deleteDt
			, A.DELETE_ID deleteId
			, A.DELETE_YN deleteYn
		FROM
			BSIS_STTUS_INSTITUTION_USER A
		WHERE
   			A.DELETE_YN = 'N'
		AND
			<if test='"Y" == orderChk'>
				A.ORDER_NO = 
					(
	                CASE WHEN (SELECT COUNT(*) 
               								FROM BSIS_STTUS_INSTITUTION_USER
               							  WHERE ORDER_NO = #{orderNo}
               							      AND INSTT_CD = #{insttCd}
               							) >= 1
	                    THEN #{orderNo}
	                    ELSE (SELECT MAX(ORDER_NO) 
	  								FROM BSIS_STTUS_INSTITUTION_USER
	  							  WHERE INSTT_CD = #{insttCd}
	  							)
	                END
	            	)
	    	</if>
	    	<if test='"Y" != orderChk'>
	    		A.ORDER_NO = #{orderNo}
	    	</if>
		AND
			A.INSTT_CD = #{insttCd}
	</select>
	
	<insert id="insertInstitutionUser" parameterType="zvl">
		INSERT INTO BSIS_STTUS_INSTITUTION_USER
		(
			  ORDER_NO
			, INSTT_CD
			, DEPT
			, RSPOFC
			, USER_NM
			, TEL_NO
			, EMAIL
			, REGIST_DT
			, REGIST_ID
		)
		VALUES
		(
 			  #{orderNo}
			, #{insttCd}
			, #{dept}
			, #{rspofc}
			, #{userNm}
			, #{telNo}
			, #{email}
			, NOW()
			, #{userId}
		)
	</insert>
	
	<delete id="deleteInstitutionUser" parameterType="zvl">
		DELETE FROM BSIS_STTUS_INSTITUTION_USER
		WHERE INSTT_CD = #{insttCd}
		AND ORDER_NO = #{orderNo}
	</delete>
	<!-- 기초현황 - 기관 사용자 END -->
	
	<!-- 기초현황 - 개인정보보호 교육 START -->
	<select id="selectSttusEdcList" parameterType="zvl" resultType="zvl">
		SELECT
			  A.ORDER_NO orderNo
			, A.INSTT_CD insttCd
			, DATE_FORMAT(STR_TO_DATE(A.EDC_DE, '%Y%m%d'), '%Y.%m.%d') edcDe
			, A.EDC_TARGET edcTarget
      		, A.EDC_CONTENTS edcContents
      		, A.EDC_METHOD edcMethod
      		, A.EDC_USER_CO edcUserCo
			, A.REGIST_DT registDt
			, A.REGIST_ID registId
			, A.UPDT_DT updtDt
			, A.UPDT_ID updtId
			, A.DELETE_DT deleteDt
			, A.DELETE_ID deleteId
			, A.DELETE_YN deleteYn
		FROM
			BSIS_STTUS_EDC A
		WHERE
   			A.DELETE_YN = 'N'
		AND
			<if test='"Y" == orderChk'>
				A.ORDER_NO = 
					(
	                CASE WHEN (SELECT COUNT(*) 
              								FROM BSIS_STTUS_EDC
              							  WHERE ORDER_NO = #{orderNo}
              							      AND INSTT_CD = #{insttCd}
              							) >= 1
	                    THEN #{orderNo}
	                    ELSE (SELECT MAX(ORDER_NO) 
	  								FROM BSIS_STTUS_EDC
	  							  WHERE INSTT_CD = #{insttCd}
	  							)
	                END
	            	)
	    	</if>
	    	<if test='"Y" != orderChk'>
	    		A.ORDER_NO = #{orderNo}
	    	</if>
		AND
			A.INSTT_CD = #{insttCd}
	</select>
	
	<insert id="insertSttusEdc" parameterType="zvl">
		INSERT INTO BSIS_STTUS_EDC
		(
			  ORDER_NO
			, INSTT_CD
			, EDC_DE
			, EDC_TARGET
			, EDC_CONTENTS
			, EDC_METHOD
			, EDC_USER_CO
			, REGIST_DT
			, REGIST_ID
		)
		VALUES
		(
 			  #{orderNo}
			, #{insttCd}
			, #{edcDe}
			, #{edcTarget}
			, #{edcContents}
			, #{edcMethod}
			, #{edcUserCo}
			, NOW()
			, #{userId}
		)
	</insert>
	
	<delete id="deleteSttusEdc" parameterType="zvl">
		DELETE FROM BSIS_STTUS_EDC
		WHERE INSTT_CD = #{insttCd}
		AND ORDER_NO = #{orderNo}
	</delete>
	<!-- 기초현황 - 개인정보보호 교육 END-->
	
	<!-- 기초현황 - 개인정보 파일 START -->
	<select id="selectSttusFileList" parameterType="zvl" resultType="zvl">
		SELECT
			  A.ORDER_NO orderNo
			, A.INSTT_CD insttCd
			, A.INDVDLINFO_FILE_NM indvdlinfoFileNm
			, A.INDVDLINFO_ITEM indvdlinfoItem
      		, A.INDVDLINFO_COLCT_METHOD indvdlinfoColctMethod
      		, A.INDVDLINFO_COLCT_BASIS indvdlinfoColctBasis
      		, A.INDVDLINFO_CO indvdlinfoCo
			, A.REGIST_DT registDt
			, A.REGIST_ID registId
			, A.UPDT_DT updtDt
			, A.UPDT_ID updtId
			, A.DELETE_DT deleteDt
			, A.DELETE_ID deleteId
			, A.DELETE_YN deleteYn
		FROM
			BSIS_STTUS_FILE A
		WHERE
   			A.DELETE_YN = 'N'
		AND
			<if test='"Y" == orderChk'>
				A.ORDER_NO = 
					(
	                CASE WHEN (SELECT COUNT(*) 
              								FROM BSIS_STTUS_FILE
              							  WHERE ORDER_NO = #{orderNo}
              							      AND INSTT_CD = #{insttCd}
              							) >= 1
	                    THEN #{orderNo}
	                    ELSE (SELECT MAX(ORDER_NO) 
	  								FROM BSIS_STTUS_FILE
	  							  WHERE INSTT_CD = #{insttCd}
	  							)
	                END
	            	)
	    	</if>
	    	<if test='"Y" != orderChk'>
	    		A.ORDER_NO = #{orderNo}
	    	</if>
		AND
			A.INSTT_CD = #{insttCd}
	</select>
	
	<insert id="insertSttusFile" parameterType="zvl">
		INSERT INTO BSIS_STTUS_FILE
		(
			  ORDER_NO
			, INSTT_CD
			, INDVDLINFO_FILE_NM
			, INDVDLINFO_ITEM
			, INDVDLINFO_COLCT_METHOD
			, INDVDLINFO_COLCT_BASIS
			, INDVDLINFO_CO
			, REGIST_DT
			, REGIST_ID
		)
		VALUES
		(
 			  #{orderNo}
			, #{insttCd}
			, #{indvdlinfoFileNm}
			, #{indvdlinfoItem}
			, #{indvdlinfoColctMethod}
			, #{indvdlinfoColctBasis}
			, #{indvdlinfoCo}
			, NOW()
			, #{userId}
		)
	</insert>
	
	<delete id="deleteSttusFile" parameterType="zvl">
		DELETE FROM BSIS_STTUS_FILE
		WHERE INSTT_CD = #{insttCd}
		AND ORDER_NO = #{orderNo}
	</delete>
	<!-- 기초현황 - 개인정보 파일 END-->
	
	<!-- 기초현황 - 개인정보 위탁관리 START -->
	<select id="selectSttusCnsgnList" parameterType="zvl" resultType="zvl">
		SELECT
			  A.ORDER_NO orderNo
			, A.INSTT_CD insttCd
			, A.EXCP_PERM_YN excpPermYn
			, A.ENTRPS_NM entrpsNm
      		, A.JOB_CONTENTS jobContents
      		, IFNULL(DATE_FORMAT(STR_TO_DATE(A.CNSGN_BGNDE, '%Y%m%d'), '%Y.%m.%d'), '') cnsgnBgnde
      		, IFNULL(DATE_FORMAT(STR_TO_DATE(A.CNSGN_ENDDE, '%Y%m%d'), '%Y.%m.%d'), '') cnsgnEndde
      		, A.CNSGN_DOC_YN cnsgnDocYn
      		, A.CNSGN_MNG_YN cnsgnMngYn
      		, A.CNSGN_EDC_YN cnsgnDdcYn
			, A.REGIST_DT registDt
			, A.REGIST_ID registId
			, A.UPDT_DT updtDt
			, A.UPDT_ID updtId
			, A.DELETE_DT deleteDt
			, A.DELETE_ID deleteId
			, A.DELETE_YN deleteYn
		FROM
			BSIS_STTUS_CNSGN A
		WHERE
   			A.DELETE_YN = 'N'
		AND
			<if test='"Y" == orderChk'>
				A.ORDER_NO = 
					(
	                CASE WHEN (SELECT COUNT(*) 
               								FROM BSIS_STTUS_CNSGN
               							  WHERE ORDER_NO = #{orderNo}
               							      AND INSTT_CD = #{insttCd}
               							) >= 1
	                    THEN #{orderNo}
	                    ELSE (SELECT MAX(ORDER_NO) 
	  								FROM BSIS_STTUS_CNSGN
	  							  WHERE INSTT_CD = #{insttCd}
	  							)
	                END
	            	)
	    	</if>
	    	<if test='"Y" != orderChk'>
	    		A.ORDER_NO = #{orderNo}
	    	</if>
		AND
			A.INSTT_CD = #{insttCd}
	</select>
	
	<insert id="insertSttusCnsgn" parameterType="zvl">
		INSERT INTO BSIS_STTUS_CNSGN
		(
			  ORDER_NO
			, INSTT_CD
			, EXCP_PERM_YN
			, ENTRPS_NM
			, JOB_CONTENTS
			<if test='null != cnsgnBgnde and "" != cnsgnBgnde'>
			, CNSGN_BGNDE
			</if>
			<if test='null != cnsgnEndde and "" != cnsgnEndde'>
			, CNSGN_ENDDE
			</if>
			, CNSGN_DOC_YN
			, CNSGN_MNG_YN
			, CNSGN_EDC_YN
			, REGIST_DT
			, REGIST_ID
		)
		VALUES
		(
 			  #{orderNo}
			, #{insttCd}
			, #{excpPermYn}
			, #{entrpsNm}
			, #{jobContents}
			<if test='null != cnsgnBgnde and "" != cnsgnBgnde'>
			, #{cnsgnBgnde}
			</if>
			<if test='null != cnsgnEndde and "" != cnsgnEndde'>
			, #{cnsgnEndde}
			</if>
			, #{cnsgnDocYn}
			, #{cnsgnMngYn}
			, #{cnsgnDdcYn}
			, NOW()
			, #{userId}
		)
	</insert>
	
	<delete id="deleteSttusCnsgn" parameterType="zvl">
		DELETE FROM BSIS_STTUS_CNSGN
		WHERE INSTT_CD = #{insttCd}
		AND ORDER_NO = #{orderNo}
	</delete>
	<!-- 기초현황 - 개인정보 파일 END-->
	
	<!-- 기초현황 - 개인정보처리시스템 현황 START -->
	<select id="selectSttusSysList" parameterType="zvl" resultType="zvl">
		SELECT
			  A.ORDER_NO orderNo
			, A.INSTT_CD insttCd
			, A.SYS_NM sysNm
			, A.OPER_PURPS operPurps
      		, A.DB_ENCPT_YN dbEncptYn
      		, A.TRSMRCV_ENCPT_YN trsmrcvEncptYn
      		, A.IPCSS_YN ipcssYn
			, A.REGIST_DT registDt
			, A.REGIST_ID registId
			, A.UPDT_DT updtDt
			, A.UPDT_ID updtId
			, A.DELETE_DT deleteDt
			, A.DELETE_ID deleteId
			, A.DELETE_YN deleteYn
		FROM
			BSIS_STTUS_SYS A
		WHERE
   			A.DELETE_YN = 'N'
		AND
			<if test='"Y" == orderChk'>
				A.ORDER_NO = 
					(
	                CASE WHEN (SELECT COUNT(*) 
             								FROM BSIS_STTUS_SYS
             							  WHERE ORDER_NO = #{orderNo}
             							      AND INSTT_CD = #{insttCd}
             							) >= 1
	                    THEN #{orderNo}
	                    ELSE (SELECT MAX(ORDER_NO) 
	  								FROM BSIS_STTUS_SYS
	  							  WHERE INSTT_CD = #{insttCd}
	  							)
	                END
	            	)
	    	</if>
	    	<if test='"Y" != orderChk'>
	    		A.ORDER_NO = #{orderNo}
	    	</if>
		AND
			A.INSTT_CD = #{insttCd}
	</select>
	
	<insert id="insertSttusSys" parameterType="zvl">
		INSERT INTO BSIS_STTUS_SYS
		(
			  ORDER_NO
			, INSTT_CD
			, SYS_NM
			, OPER_PURPS
			, DB_ENCPT_YN
			, TRSMRCV_ENCPT_YN
			, IPCSS_YN
			, REGIST_DT
			, REGIST_ID
		)
		VALUES
		(
 			  #{orderNo}
			, #{insttCd}
			, #{sysNm}
			, #{operPurps}
			, #{dbEncptYn}
			, #{trsmrcvEncptYn}
			, #{ipcssYn}
			, NOW()
			, #{userId}
		)
	</insert>
	
	<delete id="deleteSttusSys" parameterType="zvl">
		DELETE FROM BSIS_STTUS_SYS
		WHERE INSTT_CD = #{insttCd}
		AND ORDER_NO = #{orderNo}
	</delete>
	<!-- 기초현황 - 개인정보처리시스템 현황 END-->
	
	<!-- 기초현황 - 영상정보처리기기 운영현황 START -->
	<select id="selectSttusVideoList" parameterType="zvl" resultType="zvl">
		SELECT
			  A.ORDER_NO orderNo
			, A.INSTT_CD insttCd
			, A.EXCP_PERM_YN excpPermYn
			, A.INSTL_LC instlLc
			, A.PURPS purps
      		, A.VIDEO_CO videoCo
      		, A.OTHBC_YN othbcYn
      		, A.DRCBRD_YN drcbrdYn
      		, A.FDRM_CHCK_YN fdrmChckYn
			, A.REGIST_DT registDt
			, A.REGIST_ID registId
			, A.UPDT_DT updtDt
			, A.UPDT_ID updtId
			, A.DELETE_DT deleteDt
			, A.DELETE_ID deleteId
			, A.DELETE_YN deleteYn
		FROM
			BSIS_STTUS_VIDEO A
		WHERE
   			A.DELETE_YN = 'N'
		AND
			<if test='"Y" == orderChk'>
				A.ORDER_NO = 
					(
	                CASE WHEN (SELECT COUNT(*) 
              								FROM BSIS_STTUS_VIDEO
              							  WHERE ORDER_NO = #{orderNo}
              							      AND INSTT_CD = #{insttCd}
              							) >= 1
	                    THEN #{orderNo}
	                    ELSE (SELECT MAX(ORDER_NO) 
	  								FROM BSIS_STTUS_VIDEO
	  							  WHERE INSTT_CD = #{insttCd}
	  							)
	                END
	            	)
	    	</if>
	    	<if test='"Y" != orderChk'>
	    		A.ORDER_NO = #{orderNo}
	    	</if>
		AND
			A.INSTT_CD = #{insttCd}
	</select>
	
	<insert id="insertSttusVideo" parameterType="zvl">
		INSERT INTO BSIS_STTUS_VIDEO
		(
			  ORDER_NO
			, INSTT_CD
			, EXCP_PERM_YN
			, INSTL_LC
			, PURPS
			<if test='"Y" != excpPermYn'>
			, VIDEO_CO
			</if>
			, OTHBC_YN
			, DRCBRD_YN
			, FDRM_CHCK_YN
			, REGIST_DT
			, REGIST_ID
		)
		VALUES
		(
 			  #{orderNo}
			, #{insttCd}
			, #{excpPermYn}
			, #{instlLc}
			, #{purps}
			<if test='"Y" != excpPermYn'>
			, #{videoCo}
			</if>
			, #{othbcYn}
			, #{drcbrdYn}
			, #{fdrmChckYn}
			, NOW()
			, #{userId}
		)
	</insert>
	
	<delete id="deleteSttusVideo" parameterType="zvl">
		DELETE FROM BSIS_STTUS_VIDEO
		WHERE INSTT_CD = #{insttCd}
		AND ORDER_NO = #{orderNo}
	</delete>
	<!-- 기초현황 - 영상정보처리기기 운영현황 END-->
</mapper>
