@charset "utf-8";

#dietList { margin: 1.25rem 1.875rem 0; }

/* Masonry Layout */
.fluidbox {
    width: auto;
    max-width:1100px;
    margin: -5px;
}
.box,
.grid-sizer{
  width: 50%;
  box-sizing: border-box;
}
/* .fluidbox.best .box {
  width:320px !important;
  margin-right:16px;
}
.fluidbox.best .box.last {
  margin-right:0;
} */


.article {
  background:#F9F9F9;
  padding: 8px;
  line-height: 1.5;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  margin: 5px;
  position: relative;
  overflow:hidden;
  font-size: 1.2rem;
  font-weight: 300;
}
.article p.cate {
  margin: 10px 0 0 0;
  color:#58B7DD;
  font-size: 1.2rem;
}
.article h4 {
  margin: 7px 0 4px 0;
  line-height:130%;
  font-size: 1.5rem;
  font-weight: 400;

}
.article .thumbnail {
    width: 100%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* .fluidbox.best .article {
  max-height:410px;
}
.fluidbox.best .article .thumbnail {
  height:175px;
} */

.article ul.meta-wrap {
  border-top:1px solid #FFF;
  padding: 13px;
  overflow:hidden;
}
.article ul.meta-wrap li {
  float:left;
  line-height:1;
  margin-right:10%;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.article ul.meta-wrap li span {
  background:url(/mobile/common/images/ico/icon_meta.png) no-repeat 0 0;
  width:16px;
  height:12px;
  line-height:12px;
  margin-right:5px;
  display: inline-block;
}

.article ul.meta-wrap {
  margin:13px -8px -8px -8px;
  font-size:10px;
  border-top:1px solid #DDD;
}

.article ul.meta-wrap li span.account {
  background-position:-16px 0;
}
.article ul.meta-wrap li span.comment {
  background-position:-32px 0;
}
.article ul.meta-wrap li span.user {
  background-position:-32px -36px;;
}

.readmore {
  margin:20px 0;
}
.readmore button {
  background:#FFF;
  border:1px solid #DDD;
  width:100%;
  padding:10px 0;
  font-weight:700;
  font-size:14px;
  color:#888;
  cursor:pointer;
}

/* Posting Page */

ul.meta-wrap {
  border-top:1px solid #FFF;
  padding: 13px;
  overflow:hidden;
}
ul.meta-wrap li {
  float:left;
  line-height:13px;
  margin-right:20px;
}
ul.meta-wrap li span {
  background:url(/mobile/common/images/ico/icon_meta.png) no-repeat 0 0;
  float:left;
  width:16px;
  height:12px;
  line-height:12px;
  margin-right:2px;
}

.post-wrapper {
    font-size: 13px;
    margin: 1.25rem 1.875rem 0;
}

.post-wrapper .post-read {
  background:#F9F9F9;
  border:1px solid #DDD;
  border-width:1px 1px 2px 1px;
  padding:0 1.875rem 2rem 1.875rem;
}
.post-wrapper .post-read h2 {
  border-bottom:1px solid #DDD;
  text-align:center;
  margin:0 -20px;
  padding: 2rem 1.1875rem;
}
.post-wrapper .post-read ul.meta-wrap {
  border-bottom:1px solid #DDD;
  font-size:12px !important;
  padding: 1rem 1.1875rem;
  margin:0 -20px;
}
.post-wrapper .post-read ul.meta-wrap li span.date {
  background-position:0 -24px;
}
.post-wrapper .post-read ul.meta-wrap li span.account {
  background-position:-16px -24px;
}

.post-wrapper .post-read ul.meta-wrap li span.comment {
  background-position:-32px -24px;
}
.post-wrapper .post-read ul.meta-wrap li span.cate {
  background-position:-48px -24px;
}
.post-wrapper .post-read ul.meta-wrap li span.time {
  background-position:0 -24px;
}
.post-wrapper .post-read ul.meta-wrap li span.who {
  background-position:0 -36px;
}
.post-wrapper .post-read ul.meta-wrap li span.win {
    background-position:-16px -36px;
}
.post-wrapper .post-read .post-contents {
  border-top:1px solid #FFF;
  padding: 1rem 1.1875rem;
  margin:0 -20px;
  font-size:1.375rem;
  line-height: 1.5;
  position:relative;
}
.post-wrapper .post-read .post-contents .viewNavi {
  position:absolute;
  overflow:hidden;
  width:743px;
  height:41px;
  left:0;
  top:50%;
  margin-top:-20px;
}
.post-wrapper .post-read .post-contents .viewNavi .prebtn, .post-wrapper .post-read .post-contents .viewNavi .nextbtn {
  background:url(../../images/colums_navi.png) no-repeat;
  display:block;
  width:41px;
  height:41px;
}
.post-wrapper .post-read .post-contents .viewNavi .prebtn a, .post-wrapper .post-read .post-contents .viewNavi .nextbtn a {
  display:block;
  width:41px;
  height:41px;
}
.post-wrapper .post-read .post-contents .viewNavi .prebtn a:hover, .post-wrapper .post-read .post-contents .viewNavi .nextbtn a:hover {
  background:url(../../images/colums_navi.png) no-repeat;
}
.post-wrapper .post-read .post-contents .viewNavi .prebtn {
  background-position:0 0;
}
.post-wrapper .post-read .post-contents .viewNavi .prebtn a:hover {
  background-position:-82px 0;
}
.post-wrapper .post-read .post-contents .viewNavi .nextbtn {
  background-position:-41px 0;
}
.post-wrapper .post-read .post-contents .viewNavi .nextbtn a:hover {
  background-position:-123px 0;
}

.post-wrapper .post-read .comment-wrap {
  border:1px solid #DDD;
  padding: 1.1875rem;
}

.post-wrapper .post-read .comment-wrap textarea {
  box-sizing: border-box;
  width: 100%;
}

.post-wrapper .post-read .comment-wrap h4 {
  width: auto;
}

.post-wrapper .post-read .comment-wrap .comment {
  margin-top: 1em;
}

.post-wrapper .post-read .col  { display: block; margin-bottom: 1em; text-align: center; }
.post-wrapper .post-read .col .button { display: inline-block; }