@charset "utf-8";
/* CSS Document */

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video,footer{margin:0;padding:0;border:0; vertical-align:middle}
ul,li{list-style:none}
body{font-size:13px;font-family:"나눔고딕","돋움",Helvetica; width:100%;height:100%;position:absolute;background:#fff}
a{text-decoration:none}
img,fieldset{border:0 none}
address{font-style:normal}
header,nav,main,section,article,footer{display:block}

#wrap {position:relative; width:100%}
header{height:30px;border-bottom:1px solid  #aaa;position:relative}
/* .gnb, .topmenu{display:none} */
h1{
		/* IR (Image Repacement) : 이미지 대체 */
		/* 크기 지정 */
		width:90px; height:20px;
		display:block;
		margin: .8em auto;

		/* 배경 이미지 적용 */
		background:url(../images/use_logo.png) no-repeat;
		text-align:center;
		overflow:hidden;
		
		/* 텍스트 감추기 */
		text-indent:-9999px;
	}
h1 a{display:block; width:90px; height:20px; margin:auto; }
.gnb h2{width:30px;height:30px;background:url(../images/ui-header.png) no-repeat;text-indent:-9999px;position:absolute;left:0;top:0;border:1px solid black}

main{margin-bottom:5px}
.main_img h2{position:absolute;left:-9999px;top:-9999px}
.main_img img{width:100%}
.p1, .p2{font-size:18px;position:absolute;left:20px;top:20px;color:#333;font-weight:500}
.p3{font-size:18px;position:absolute;left:20px;top:20px;color:#333;font-weight:500}
.p4{font-size:18px;position:absolute;left:20px;top:20px;color:#fff;font-weight:500}

.f1{font-size:25px;font-weight:bold;color:#603}
.f2{font-size:25px;font-weight:bold;color:#000}
.f3{font-size:25px;font-weight:bold;color:#F60}
.f4{font-size:25px;font-weight:bold;color:#FF0}
.box{display:none}
<!--.box{font-size:12px;border:1px solid #666;color:#666;padding:3px ;background:#F5F5F5} -->

.main_task{width:100%;box-sizing:border-box; position:relative; margin:0 auto 5px;}

.main_task h2{position:absolute;left:-9999px;top:-9999px}
.main_task ul{overflow:hidden;}

.m1bg {background:#57b7df}
.m2bg {background:#a4cd33}
.m3bg {background:#a67c52}
.m4bg {background:#2787af}
.m5bg {background:#76951e}
.m6bg {background:#603912}

.main_task li{width:33%; height:100%; float:left;text-align:center;padding-top:10px;}
.main_task li.m1{ margin-right:0.5%;}
.main_task li.m2{margin-right:0.5% }
.main_task li.m3{}
.main_task li.m4{margin-right:0.5%; margin-top:5px;}
.main_task li.m5{margin-right:0.5%;margin-top:5px;}
.main_task li.m6{margin-top:5px;}

.main_task li p{color:#fff;padding-bottom:5px}
.main_task li.m1 a{display:inline-block;width:50px; height:50px;background:url(../images/icon.png) no-repeat 0 0;text-align:center}
.main_task li.m2 a{display:inline-block;width:50px; height:50px;background:url(../images/icon.png) no-repeat 0 -50px; text-align:center}
.main_task li.m3 a{display:inline-block;width:50px; height:50px;background:url(../images/icon.png) no-repeat 0 -100px; text-align:center}
.main_task li.m4 a{display:inline-block;width:50px; height:50px;background:url(../images/icon.png) no-repeat 0 -150px; text-align:center}
.main_task li.m5 a{display:inline-block;width:50px; height:50px;background:url(../images/icon.png) no-repeat 0 -200px; text-align:center}
.main_task li.m6 a{display:inline-block;width:50px; height:50px;background:url(../images/icon.png) no-repeat 0 -250px; text-align:center}


.event_main {margin-bottom:5px}
.event_main img{width:100%}
.event_main h2{position:absolute;left:-9999px;top:-9999px}

section{}
section.menu{width:100%;height:100%;position:relative}

.menu h2{position:absolute;left:-9999px;top:-9999px;}

.menu > ul > li{width:100%;height:40px;border-top:2px solid #c1c1c1;background:url(../images/arrow-down.png) no-repeat right center}
.menu > ul > li:last-child{height:40px;border-top:2px solid #c1c1c1;border-bottom:3px solid #c1c1c1;background:url(../images/arrow-down.png) no-repeat right center}
.menu > ul > li > a{line-height:40px;font-weight:bold;font-size:14px;margin-left:10px}

.menu ul ul{height:100%;width:100%;margin:auto}
.menu ul ul li{height:35px;border-bottom:1px solid #e6e6e6;line-height:35px;background:#f5f5f5 url(../images/ul_dot.png) no-repeat;background-position:10px center}
.menu ul ul li > a{margin-left:25px;color:black;}


.menu ul ul li div.btn{float:right}
.menu ul ul li div.btn a{background:#fff;border:1px solid #aeaeae;padding:5px;margin-right:5px;}

footer{position:relative}
footer h2{position:absolute;left:-9999px;top:-9999px}
.footer_cont {clear:both;padding:2%;text-align:center;background:#e9e9e9;font-size:10px;line-height:15px;}

.footer_link{width:100%;margin:0 auto 5px;}
.footer_link>ul{overflow:hidden;height:100%;width:100%;text-align:center}
.footer_link>ul>li{float:left;width:80px;height:25px;border:1px solid #969696; margin:5px;line-height:25px;}
