.pb5 {padding-bottom:5px}
.black {color:#000}

/** main **/
/* main_slider */
.main_slider {position:relative;margin:0 auto;width:750px;height:1200px;overflow:hidden}
.main_slider .main_slider_img {cursor:move;width:750px;height:1200px;overflow:hidden}
.main_slider .arrow_left, .main_slider .arrow_right {display:block;position:absolute;width:50px;height:58px;cursor:pointer;background:url(/mobile/images/notice/main_v_arrow.png) no-repeat center center;overflow:hidden}
.main_slider .arrow_left {top:123px;left:0px;background-position:0 0}
.main_slider .arrow_right {top:123px;right:0px;background-position:-62px 0}
.main_slider .arrow_left:hover, .main_slider .arrow_left:active {background-position:-124px 0}
.main_slider .arrow_right:hover, .main_slider .arrow_right:active {background-position:-186px 0}			
.main_slider .bul_navi {position:absolute;bottom:26px;right:6px}
.main_slider .bul_navi div, .main_slider .bul_navi div:hover, .main_slider .bul_navi .av {position:absolute;width:27px;height:27px;background:url(/mobile/images/notice/main_v_btn.png) no-repeat;overflow:hidden;cursor:pointer}
.main_slider .bul_navi div {background-position:-32px -2px}
.main_slider .bul_navi div:hover, .main_slider .bul_navi .av:hover {background-position:-2px -2px}
.main_slider .bul_navi .av {background-position:-2px -2px}
.main_slider .bul_navi .dn, .main_slider .bul_navi .dn:hover {background-position:-32px -2px}