*{-webkit-text-size-adjust:none;}

html, body {height:100%;}
body {
	background:#FFF;
	font-family: "Helvetica", Arial, sans-serif /*{global-font-family}*/;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	font-size:100%;
	border: 0;
}
.row {
	position:relative;
	margin-bottom:10px;
}
ul {
	list-style:none;
	margin:0;
}
/* Basic */
a {
	text-decoration:none;
	color:inherit;
}
img {
	border:0;
	vertical-align:top;
}
.hidden {
	display:none;
}
.insert {
	display:block;
}
.clear {clear:both;}
.divider {clear:both; display:block; height:20px;}
.floatleft {float:left;}
.floatright {float:right;}

.marb5 {margin-bottom:5px;}
.marb10 {margin-bottom:10px;}
.marb20 {margin-bottom:20px;}
.marb30 {margin-bottom:30px;}
.mart10 {margin-top:10px;}
.mart20 {margin-top:20px;}
.mart30 {margin-top:30px;}

label {display:inline-block; min-width:50px; margin-right:7px; font-size:14px; font-weight:bold; vertical-align:top; margin-top:7px;}
input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea  {
	padding:0.4em;
	background:#FFF;
	border:1px solid #AAA;
	font-size:16px;
}
input[type="checkbox"] {
    display:none;
}
button {
	border:1px solid #778F3D;
}
table { width:100%;}

.divider-line {
	clear:both;
	border-bottom:1px solid #CFC7C1;
	padding:5px 0;
}

/* Font Color */
.font-blue {color:#58B7DD;}
.font-orange {color:#F7941D;}
.font-green {color:#95B647;}
.font-brown {color:#533A2B;}
.font-wbrown {color:#a3620a;}
.font-gray {color:#999;}

/* Font Size */
.f11 {font-size:11px;}
.f12 {font-size:12px;}
.f14 {font-size:14px;}
.f16 {font-size:16px;}
.f18 {font-size:18px;}
.f20 {font-size:20px;}

h2 {
	font-size:18px;
}
h3 {
	font-size:16px;
}
h4 {
	font-size:14px;
}

/* BG Color */
.bg-blue {background:#58B7DD; color:#FFFFFF;}
.bg-orange {background:#F7941D; color:#FFFFFF;}
.bg-green {background:#95B647; color:#FFFFFF;}
.bg-brown {background:#533A2B; color:#FFFFFF;}
.bg-gray {background:#EBE7E5; padding:10px;}
.bg-graymain {background:#EBE7E5;}

.separator {
    border-top:1px dashed #CCC;
	margin:5px auto;
	width:100%;
}

#wrap {
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
}
#wrap.home {
	background:#1E1C1A;
}
.subnavi {
	background:#5B5B5B;
	text-align:center;
}
.subnavi li {
	display:inline-block;
	margin:0 4px;
}
.subnavi li a {
	color:#ADADAD;
	display:block;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	padding:10px 0;
}
.subnavi li.current a {
	color:#41C8FF;
}
.ui-bar, .ui-body { position: relative; padding: .5em 15px; overflow: hidden; display: block; clear:both; }
.ui-bar h1, .ui-bar h2, .ui-bar h3, .ui-bar h4, .ui-bar h5, .ui-bar h6 { margin: 0; padding: 0; font-size: 16px; display: inline-block; }
.ui-header-fixed { background:#FFF; width:100%; border-left-width: 0; border-right-width: 0; }
.ui-header-fixed .ui-btn-left,
.ui-header-fixed .ui-btn-right  { position: absolute; top: 5px; }
.ui-header-fixed .ui-btn-left  { left: 10px; }
.ui-header-fixed .ui-btn-right  { right: 15px; }
.ui-header-fixed .ui-btn-right.mypage {right:45px !important;}
.ui-header-fixed .ui-btn-icon-notext { top: 6px; }
.ui-header-fixed .ui-title, .ui-btn.allmenu, .ui-btn.mypage, .ui-btn.cart {background:url(../../images/ui-header.png) no-repeat ;}
.ui-header-fixed .ui-title {
	background-position:0 0;
	width: 90px;
	height: 20px;
	text-align: center;
	display: block;
	margin: .6em auto .8em;
	padding: 0;
	overflow: hidden;
}
.ui-header-fixed .ui-title a {
	display:block;
	width: 90px;
	height: 20px;
}
.ui-btn.allmenu {
	background-position:-90px 0;
	width:24px;
	height:20px;
}
.ui-btn.mypage {
	background-position:-114px 0;
	width:24px;
	height:20px;
}
.ui-btn.cart {
	background-position:-138px 0;
	width:24px;
	height:20px;
}
.ui-btn.cart .push {
	position:absolute;
	background:#F7941D;
	border:2px solid #FFF;
	color:#FFF;
	min-width:1.3em;
	top:-5px;
	right:-8px;
	font-size:11px !important;
	font-weight:bold;
	z-index:9899;
	-moz-border-radius: 1em /*{global-radii-blocks}*/;
	-webkit-border-radius: 1em /*{global-radii-blocks}*/;
	border-radius: 	1em /*{global-radii-blocks}*/;
	-moz-box-shadow: 0px 1px 1px #111;
	-webkit-box-shadow: 0px 1px 1px #111;
	box-shadow: 0px 1px 1px #111;
}
#home .ui-icon, #order .ui-icon, #shop .ui-icon, #event .ui-icon, #delivery .ui-icon {
	background:url(../../images/icon_gnb.png) no-repeat;
	width:22px;
	height:20px;
	display:block;
}
#home .ui-icon {
	background-position:0 0;
}
#order .ui-icon {
	background-position:-22px 0;
}
#shop .ui-icon {
	background-position:-44px 0;
}
#event .ui-icon {
	background-position:-66px 0;
}
#delivery .ui-icon {
	background-position:-88px 0;
}
.deli-result {
    
}
.deli-result .location-title {
    background:#58B7DD; 
	color:#FFFFFF;
	padding:10px;
}
.deli-result .location-list {
    padding:10px;
	border-left:1px solid #DDD;
	border-right:1px solid #DDD;
	border-bottom:1px solid #DDD;
	margin-bottom:20px;
}
/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {

/*  Header */
.ui-header-fixed .ui-title, .ui-btn.allmenu, .ui-btn.mypage, .ui-btn.cart {
	background:url(../../images/ui-header@2x.png) no-repeat;
    background-size: 162px 20px;
}
.ui-btn.allmenu {
	background-position:-90px 0;
}
.ui-btn.mypage {
	background-position:-114px 0;
	width:24px;
	height:20px;
}
.ui-btn.cart {
	background-position:-138px 0;
	width:24px;
	height:20px;
}

#home .ui-icon, #order .ui-icon, #shop .ui-icon, #event .ui-icon, #delivery .ui-icon {
	background:url(../../images/icon_gnb@2x.png) no-repeat;
	-moz-background-size: 110px 20px;
    -o-background-size: 110px 20px;
    -webkit-background-size: 110px 20px;
    background-size: 110px 20px;
}
#home .ui-icon {
	background-position:0 0;
}
#order .ui-icon {
	background-position:-22px 0;
}
#shop .ui-icon {
	background-position:-44px 0;
}
#event .ui-icon {
	background-position:-66px 0;
}
#delivery .ui-icon {
	background-position:-88px 0;
}
}
/* HD/"retina" sprite END
-----------------------------------------------------------------------------------------------------------*/

/* Main Index */
#content {
    padding:10px;
	min-height:200px;
	margin-top:94px;
}
#content h2 {
	font-size:18px;
	margin-bottom:7px;
}
.main-page {
	padding:3px !important;
}

#accordion {
	border-top:1px solid #CFC7C1;
}
#accordion b {
	color:#F60;
	margin-right:5px;
}
#accordion .answer {
	border-top:1px dashed #D0C7C2;
	position:relative;
	margin-top:15px;
	padding-top:15px;
	padding-left:20px;
}
#accordion .answer .mark {
	position:absolute;
	left:0;
	top:15px;
	color:#F60;
	margin-right:5px;
}
/* Main Index Slider Banner */
.index_slider .target a.menumap:hover h2 {
	color:#FFFFFF;
}
.index_slider_fouc .index_slider {
	display:none;
}
.index_slider h2, .index_slider h4, .index_slider div, .index_slider span, .index_slider a {
	margin:0px;
	padding:0px;
	vertical-align:baseline;
}
.index_slider p {
	margin:0px !important;
}
.index_slider {
	position: relative;
	z-index: 1;
	width:100%;
	height:142px;
	margin-top:-2px;
}
.index_slides {
	position: absolute;
	background:#ECE8E5;
	z-index: 1;
	right:0;
	width:100%;
	height:142px;
	overflow:hidden;
}
.index_slideri {
	width:100%;
	height:100%;
	position:relative;
}
.index_slideri .index_inner_wrap {
	position:absolute;
	left:10px;
	top:33px;
	width:100%;
}
.index_slideri .index_inner_wrap .caption {
    margin-bottom:10px;
}
#index_slideri_1 {
	width:100% !important;
	background:url(../../images/bg_banner_main01.png) repeat-x;
	background-size: 100% 142px;
	/* background-size: 312px 142px; */
}
#index_slideri_2 {
	width:100% !important;
	background:url(../../images/bg_banner_main02.png) repeat-x;
	background-size: 100% 142px;
	/* background-size: 312px 142px; */
}
#index_slideri_3 {
	width:100% !important;
	background:url(../../images/bg_banner_main03.png) repeat-x;
	background-size: 100% 142px;
	/* background-size: 312px 142px; */
}


.index_inner {
	margin:20px 15px 20px 40px;
	top:60px !important;
	bottom:5px !important;
	width:90%;
	height:80% !important;
}
.index-slider-control {
	position: absolute;
	top:5px;
	right:5px;
	z-index: 4;
	width:66px;
	-moz-box-shadow: -1px 1px 1px /*{global-box-shadow-size}*/ 			rgba(0,0,0,.3) /*{global-box-shadow-color}*/;
	-webkit-box-shadow: -1px 1px 1px /*{global-box-shadow-size}*/ 		rgba(0,0,0,.3) /*{global-box-shadow-color}*/;
	box-shadow: -1px 1px 1px /*{global-box-shadow-size}*/ 				rgba(0,0,0,.3) /*{global-box-shadow-color}*/;
}
.index-slider-nav {
	float: right;
	width:66px;
	height:42px;
	cursor: pointer;
	background:#FFFFFF;
	border-bottom:1px solid #EFEFEF;
}
span.index-order {
	display: none;
}
.index-slider-nav h2 {
	padding:5px 7px !important;
	font-size:12px !important;
	margin-bottom:0 !important;
	text-align:center;
	color:#888888;
}
.index-active-lt {
    position:relative;
	width:66px;
	height:42px;
	cursor: pointer;
	background:#EFEFEF;
}

.index-slider-nav span.arrow-right {
    display:none;
}
.index-slider-nav.index-active-lt span.arrow-right {
    display:block;
	background:url(../../images/arrow-right.png) no-repeat 0 0;
	width:8px;
	height:12px;
	position:absolute;
	left:-8px;
	top:50%;
	margin-top:-6px;
}
.index-active-lt h2{
	padding:5px 7px  !important;
	font-size:12px !important;
	margin-bottom:0 !important;
	text-align:center;
	color:#58B7DD;
}
.sldr_clearlt {
	display:block;
	visibility:hidden;
	clear:left;
	height:0;
	content:".";
}
.sldr_clearrt {
	display:block;
	visibility:hidden;
	clear:right;
	height:0;
	content:".";
}
ul.dot li {
	background:url(../../images/ul_dot.png) no-repeat left 6px;
	padding-left:10px !important;
}
/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {
#index_slideri_1 {
	width:100% !important;
	background:url(../../images/bg_banner_main01.png) repeat-x;
	background-size: 100% 142px;

}
#index_slideri_2 {
	width:100% !important;
	background:url(../../images/bg_banner_main02.png) repeat-x;
	background-size: 100% 142px;
}
#index_slideri_3 {
	width:100% !important;
	background:url(../../images/bg_banner_main03.png) repeat-x;
	background-size: 100% 142px;
}
.index-slider-nav.index-active-lt span.arrow-right {
	background:url(../../images/arrow-right@2x.png) no-repeat 0 0;
	background-size:8px 12px;
}
/* #index_slideri_1.bgs01{
	background:#d9e1e4 url(../../images/bg_banner_main01.png) repeat-x;
}
#index_slideri_1.bgs02{
	background:#d9e1e4 url(../../images/bg_banner_main02.png) repeat-x;
}
#index_slideri_1.bgs03{
	background:#d9e1e4 url(../../images/bg_banner_main03.png) repeat-x;
} */
ul.dot li {
	background:url(../../images/ul_dot@2x.png) no-repeat left 5px;
	background-size:5px 5px;
}
}
/************************************/

/* Main Banner Button */
.grid-banner {
	margin:0 -3px;
}
.grid-banner table td {
	width:50%;
}
.grid-banner-wrap {
	background:#FFF;
	position:relative;
	display:block;
	width:100%;
	height:60px;
}
.grid-banner-wrap .caption {
	position:absolute;
	left:10px;
	top:15px;
}
.grid-banner-wrap .caption p.hcopy {
	font-size:16px;
	font-weight:bold;
}
.grid-banner-wrap .caption p {
	font-size:10px;
}
#banner1 {
	background:#FFF url(../../images/banner_intro.png) no-repeat right 0;
	background-size:contain;
}
#banner2 {
	background:#FFF url(../../images/banner_cuisine.png) no-repeat right 0;
	background-size:contain;
}
#banner3 {
	background:#FFF url(../../images/banner_schedule.png) no-repeat right 0;
}
.grid-banner-halfwrap {
	width:100%;
	height:50px;
	padding-top:10px;
	text-align:center;
	display:block;
}
.grid-banner-halfwrap span {
	background:url(../../images/icon_halfmain.png) no-repeat;
	display:block;
	width:19px;
	height:19px;
	margin:0 auto 5px;
}
.grid-banner-halfwrap span.noticego {
	background-position:0 0;
}
.grid-banner-halfwrap span.indiqnago {
	background-position:-19px 0;
}
.grid-banner-halfwrap .btn-text {
	font-size:14px;
	font-weight:bold;
}
/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {
#banner1 {
	background:#FFF url(../../images/banner_intro@2x.png) no-repeat right 0;
	background-size:contain;
}
#banner2 {
	background:#FFF url(../../images/banner_cuisine@2x.png) no-repeat right 0;
	background-size:contain;
}
#banner3 {
	background:#FFF url(../../images/banner_schedule@2x.png) no-repeat right 0;
	background-size: 50px 60px;
}
.grid-banner-halfwrap span {
	background:url(../../images/icon_halfmain@2x.png) no-repeat;
	background-size: 38px 19px;
}
.grid-banner-halfwrap span.noticego {
	background-position:0 0;
}
.grid-banner-halfwrap span.indiqnago {
	background-position:-19px 0;
}
}
/************************************/

.ad-banner {
	background:url(../../images/bg_main_bottom_banner.gif) repeat;
	background-size:cover;
	display:block;
	width:100%;
	height:111px;
	text-align:center;
}

/* POPUP LAYOUT
================================================== */

.pop-wrap {
	margin:0 auto;
	padding:0;
}
.headpop {
	background:#58B7DD;
	padding:10px 10px;
	color:#FFF !important;
	font-weight:bold;
	text-align:left;
	overflow:hidden;
}
.headpop h2{
	float:left;
	margin:4px 0;
}
.headpop .closebox {
	float:right;
	width:18px;
	height:18px;
	margin-top:5px;
}
.headpop .iconQuickBtn a {
	float:left;
	display:block;
	margin-right:20px;
	line-height:32px;
	font-size:16px;
}
.headpop .iconQuickBtn a span{
	background:url(../../images/pop_quickbtn.png) no-repeat;
	width:32px;
	height:32px;
	float:left;
	margin-right:5px;
}
.headpop .iconQuickBtn a span.home {
	background-position:0 0;
}
.headpop .iconQuickBtn a span.cart {
	background-position:-32px 0;
}
.contentpop {
	width:100%;
	height:348px;
	overflow-y:scroll;
}
.contentpop .row {
	margin-bottom:10px;
	padding:10px;
}
.contentpop h3, .contentpop h4 {
	margin-bottom:5px;
	word-break:break-all;
}
.contentpop p {
	margin-bottom:10px;
	font-size:13px;
}
.contentpop .delivguide {
	position:relative;
	display:block;
	height:26px;
	padding:0 0 0 40px;
	margin:10px auto;
}
.contentpop .delivguide p{
	font-size:12px;
}
.contentpop .delivguide .thumb-icon {
	position:absolute;
	top:2px;
	left:0;
}
.eatsslim-popinfo {
    padding:10px;
}
.loginform {
	margin:0 auto;
	width:270px;
}
.loginform h1 {
	position:relative;
	margin:5px auto 10px;
	text-align:center;
	color:#58B7DD;
	padding-bottom:7px;
	border-bottom:1px solid #CFC7C1;
}
.loginform p {
	padding:1px 0;
}
.insert.logo{
	background:url(../../images/use_logo.png) no-repeat 0 0;
	width:81px;
	height:17px;
	display:inline-block !important;
	margin-right:5px;
}
.insert.icon-login{
	background:url(../../images/icon_login.png) no-repeat 0 0;
	width:11px;
	height:16px;
	margin:0 auto 7px;
}
.logBtn {
	position:absolute;
	background:#4BBBE7;
	border:1px solid #35A3CF;
	width:66px;
	height:72px;
	text-align:center;
	color:#FFF;
	font-size:14px;
	letter-spacing:-1px;
	font-weight:bold;
	top:57px;
	right:15px;
}

input[type="checkbox"] + label {
    font-size:14px;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-3px 4px 0 0;
    vertical-align:middle;
    background:url(../../images/check_sheet.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(../../images/check_sheet.png) -19px top no-repeat;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    font-size:14px;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-3px 4px 0 0;
    vertical-align:middle;
    background:url(../../images/check_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(../../images/check_sheet.png) -57px top no-repeat;
}


/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {
.headpop .iconQuickBtn a span {
	background:url(../../images/pop_quickbtn@2x.png) no-repeat;
	background-size: 64px 32px;
}
.headpop .iconQuickBtn a span.home {
	background-position:0 0;
	width:32px;
	height:32px;
}
.headpop .iconQuickBtn a span.cart {
	background-position:-32px 0;
}
.insert.logo{
	background:url(../../images/use_logo@2x.png) no-repeat 0 0;
	background-size:81px 17px;
}
.insert.icon-login {
	background:url(../../images/icon_login@2x.png) no-repeat 0 0;
	background-size:11px 16px;
}
input[type="checkbox"] + label span {
    width:19px;
    height:19px;
    background:url(../../images/check_sheet@2x.png) left top no-repeat;
	background-size:76px 19px;
}
input[type="checkbox"]:checked + label span {
    background:url(../../images/check_sheet@2x.png) -19px top no-repeat;
	background-size:76px 19px;
}
input[type="radio"] + label span {
    width:19px;
    height:19px;
    background:url(../../images/check_sheet@2x.png) -38px top no-repeat;
	background-size:76px 19px;
}
input[type="radio"]:checked + label span {
    background:url(../../images/check_sheet@2x.png) -57px top no-repeat;
	background-size:76px 19px;
}
}

.grid-navi {
	margin:0 -10px ;
}

table.navi td .ui-btn-inline {
	width:99.3%;
	margin:0 !important;
}

table.navi td .ui-btn-inline .ui-btn-text {
	display:block;
	margin:0 auto;
	vertical-align:middle;
	text-align:center;

}
table.navi td .ui-btn-inline.ui-btn-up-f .active {
	position:absolute;
	background:url(../../images/navi_active.png) no-repeat 0 0;
	width:16px;
	height:8px;
	left:50%;
	bottom:-8px;
	margin-left:-8px;
}
table.navi td .ui-btn-inline.ui-btn-up-a .active {
	position:absolute;
	background:url(../../images/navi_active.png) no-repeat right 0;
	width:16px;
	height:8px;
	left:50%;
	bottom:-8px;
	margin-left:-8px;
}
.grid-navi.eatsstory .ui-btn .ui-btn-inner {
    font-size:14px !important;
	padding:0.7em 2px !important;
}
.eatsslim-story {
    background:url(../../images/intro_bg.png) no-repeat center top;
    border:1px solid #DDD;
	padding:10px;
}
.eatsslim-story .symbol {
    background:url(../../images/logo_symbol.png) no-repeat 0 0;
	display:block;
	margin:50px auto 25px;
	width:194px;
	height:61px;
	text-indent:-9999px;
	
}

/* ===== 2014-09-19 추가 ===== */
.easyMeal td{ padding-top: 3px; }
.easyMeal span a{ display: inline-block; width: 48.3%; padding: 6px 0px; font-weight: bold; font-size: 13px; text-align: center; color: #000; border: 2px solid #5c5c5c; }
.easyMeal span a.here{ font-weight: bold; color: #fff; background-color: #5c5c5c; }
.tblMinimeal tr td{ padding: 10px; }
.tblMinimeal tr td .menuTit{ padding: 10px 0px; font-weight: bold; color: #ae7c5c; text-align: center; }
.tblMinimeal tr td .menuTxt{ font-size: 14px; text-align: justify; }
.step04 li{ padding: 3px 0px 3px 8px; list-style: none; text-align: justify; background:url(../../images/bull.jpg) no-repeat left 6px;}
.step04 li:first-child{ background-image: none; padding: 0px 0px 5px 0px; }
.step04 li p{ font-weight: bold; color: #623a1e; }
.step04 li span{ color: #e56718!important; }


.history-wrap {
   position:relative;
 }

ul.history {
    margin:15px 0 0 2px;
}

ul.history li {
    background:url(../../images/history_dot.png) no-repeat 0 7px;
	padding-left:24px;
	line-height:160%;
}
ul.history li dl dt {
    display:inline-block;
	width:50px;
	margin-right:10px;
	color:#95B647;
}
ul.history li dl dd {
    display:inline-block;
	text-align:left;
	width:70%;
}
.history-wrap .history-line {
    position:absolute;
	top:0;
	left:6px;
    background:#ddd;
	width:6px;
	height:100%;
	-webkit-border-radius:.6em;
	border-radius:.6em;
	z-index:-1;
}
@media all and (min-width: 450px){
ul.history li dl dt {
	width:50px;
}
ul.history li dl dd {
	width:85%;
}
}
.eatslim-counsel h3 {
   color:#FFF;
   border:none;
   padding:10px;
   font-size:16px;
}
.eatslim-counsel ul {
    border-left:1px solid #DDD;
	border-right:1px solid #DDD;
}

.eatslim-counsel ul li {
    border-bottom: 1px dashed #DDD;
	padding:10px;
}
.eatslim-counsel ul li.last {
    border-bottom: 1px solid #DDD;
}
.eatslim-counsel ul li ul {
    border:none;
}
.eatslim-counsel ul li ul li{
    border:none;
	font-size:13px;
	padding:0;
}
.eatslim-counsel ul li p {
    color:#95B647;
	font-weight:bold;
	font-size:13px;
}
.goods .top-wrap {
    position:relative;
	padding:20px 10px;
	text-align:center;
	color:#FFF;
}
.goods .top-wrap .goods-copy {
    font-size:13px;
	padding:3px 5px;
}
.goods .top-wrap .goods-caption {
    font-size:20px;
	margin:10px 0 0;
}
.goods .top-wrap .top-tail {
    background:url(../../images/goods_bg.png) repeat-x;
	height:4px;
	width:100%;
	display:block;
    position:absolute;
	bottom:-4px;
	left:0;
}

.goods.cuisine .top-wrap {
    background:#61D5EB;
}
.goods.alacarte .top-wrap {
    background:#472814;
}
.goods.alacarte .top-wrap .goods-copy{
    background:#825336;
	line-height:160%;
}
.goods.ssoup .top-wrap {
    background:#75b8de;
}

/* 2014-09-19 추가 */
.esMinimeal .goods.ssoup .top-wrap{ background-color: #55c3c4; }
.esRice .goods.ssoup .top-wrap{ background-color: #ae7c5c; }
.esMinimeal .goods.ssoup .top-wrap .top-tail { background-position: 0px -16px; }
.esRice .goods.ssoup .top-wrap .top-tail { background-position: 0px -20px; }

.goods.balshake .top-wrap {
    background:#95b647;
}
.goods.cuisine .top-wrap .top-tail {
    background-position:0 0;
}
.goods.alacarte .top-wrap .top-tail {
    background-position:0 -4px;
}
.goods.ssoup .top-wrap .top-tail {
    background-position:0 -8px;
}
.goods.balshake .top-wrap .top-tail {
    background-position:0 -12px;
}


.form-line {
	margin:10px 0;
}
.form-line li {
	margin-bottom:5px;
}
.form-line li label {
	margin-top:8px;
}
.form-line input[type="text"], .form-line input[type="email"] {
	width:75%;
}
.form-line li .select-box {
	width:99%;
}
.form-line li label + .select-box {
	width:60%;
}
.form-line textarea {
	width:95%;
}
.form-line.ui-inline2 > li {
	float:left;
	width:48%;
}

.form-line.ui-inline3 > li {
	float:left;
	width:33%;
}

/* Regist form line */
.form-regist .select-box {
	float:none !important;
	display:inline-block;
	width:60px;
	vertical-align:middle;
}
.form-regist input[type="text"], .form-regist input[type="email"], .form-regist input[type="number"] {
	display:inline-block;
	vertical-align:middle;
}
.form-regist li {
	margin-bottom:5px;
	vertical-align:top;
}
/* Odd iPad positioning issue. */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
.form-line.ui-inline2 > li {
	width:50%;
}
}

/***** SELECTBOX style *****/
.select-box {
  overflow: hidden;
  height: 30px;
  float:right;
  border: 1px solid #CCC;
  -moz-box-shadow:    0px 1px 0px 0px #999;
  -webkit-box-shadow: 0px 1px 0px 0px #999;
  box-shadow:         0px 1px 0px 0px #999;
  -moz-border-radius:     3px;
  -webkit-border-radius:  3px;
  -khtml-border-radius:   3px;
  border-radius:          3px;
  background: #F1F1F1;
  background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#F1F1F1));
  background: -moz-linear-gradient(top,  #FDFDFD,  #F1F1F1);
  background: -o-linear-gradient(  #FDFDFD, #F1F1F1 );
}
.select-box select {
  width: 100%;
  height: 30px;
  padding: 6px 7px;
  background: url(../../images/select_arrow.png) no-repeat right center;
  -webkit-appearance: none;
  font-size:14px;
  border: 0;
  margin: 0;
  cursor: pointer;
  font-weight: bold;
}
.select-box option {
  background: #FFF;
}
@media all and (min-width: 450px){
.form-line input[type="text"], .form-line input[type="email"] {
	width:85%;
}
.form-line li .select-box {
	width:99.5%;
}
.form-line li label + .select-box {
	width:78%;
}
}

h2.ui-title {
	position:relative;
	background:#EFEBE9;
	border-bottom:1px solid #CFC7C1;
	padding: 0.7em 10px;
	font-size:16px;
	text-shadow:0 1px 0 #FFF;
}
h2.ui-title span.ui-icon-right {
	background:url(../../images/arrow_down.png) no-repeat 0 0;
	width:14px;
	height:8px;
	position:absolute;
	display:block;
	right:13px;
	top:18px;
}
.features td {
    width:50%;
	text-align:center;
	vertical-align:top;
	padding:10px 5px;
	font-size:13px;
}
.features span {
    background:url(../../images/feature_icon.png) no-repeat;
	display:block;
	width:39px;
	height:39px;
	margin:0 auto 7px;
}
.features span.features_01 {
    background-position:0 0;
}
.features span.features_02 {
    background-position:-39px 0;
}
.features span.features_03 {
    background-position:-78px 0;
}
.features span.features_04 {
    background-position:-117px 0;
}
.features span.features_05 {
    background-position:-156px 0;
}
/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {
.eatsslim-story {
    background:url(../../images/intro_bg@2x.png) no-repeat center top;
    background-size:295px 150px;
}
.eatsslim-story .symbol {
    background:url(../../images/logo_symbol@2x.png) no-repeat 0 0;
	background-size:194px 61px;
}
ul.history li {
    background:url(../../images/history_dot@2x.png) no-repeat 0 7px;
	background-size:13px 13px;
}
.goods.cuisine .top-wrap .top-tail {
    background:url(../../images/goods_bg@2x.png) repeat-x;
	background-size:13px 16px;
}
.goods.alacarte .top-wrap .top-tail {
    background:url(../../images/goods_bg@2x.png) repeat-x;
	background-size:13px 16px;
	background-position:0 -4px;
}
.goods.ssoup .top-wrap .top-tail {
    background:url(../../images/goods_bg@2x.png) repeat-x;
	background-size:13px 16px;
	background-position:0 -8px;
}
.goods.balshake .top-wrap .top-tail {
    background:url(../../images/goods_bg@2x.png) repeat-x;
	background-size:13px 16px;
	background-position:0 -12px;
}
table.navi td .ui-btn-inline.ui-btn-up-f .active {
	background:url(../../images/navi_active@2x.png) no-repeat 0 0;
	background-size:32px 8px;
}
table.navi td .ui-btn-inline.ui-btn-up-a .active {
	background:url(../../images/navi_active@2x.png) no-repeat right 0;
	background-size:32px 8px;
}
.select-box select {
  background: url(../../images/select_arrow@2x.png) no-repeat right center;
  background-size:17px 17px;
}
h2.ui-title span.ui-icon-right {
	background:url(../../images/arrow_down@2x.png) no-repeat 0 0;
	background-size:14px 8px;
}
.features span {
    background:url(../../images/feature_icon@2x.png) no-repeat;
	background-size:195px 39px;
}
}

.guide {
	margin-top:7px;
	font-size:12px;
	color:#777;
}

.itemlist {
	padding:10px;
}
.itemlist li {
	position:relative;
	border-bottom:1px solid #CFC7C1;
	padding-bottom:10px;
	margin-bottom:10px;
	overflow:hidden;
}
.itemlist li.couponli {
	text-align:center;
}
.itemlist li.couponli .couponImage {
	position:relative;
	margin:10px auto;
	width:135px;
	height:62px;
}
.itemlist li.couponli .sale {
	background:url(../../images/coupon_bg.png) no-repeat 0 0;
	color:#58B7DD;
	font-size:12px;
	font-weight:bold;
}
.itemlist li.couponli .couponInfo {
    position:absolute;
	left:40px;
	top:18px;
	text-align:left;
}
.itemlist li.couponli .couponInfo p {
    font-size:18px;
	display:block;
}
	
.itemlist li.noitem {
	padding:130px 0 !important;
	display:block;
	text-align:center;
	vertical-align:middle;
	font-size:16px;
	color:#666;
}
.itemlist li:last-child {
	border:none;
	padding-bottom:0;
	margin-bottom:0;
}
.itemlist .title {
	font-size:15px;
	margin-bottom:5px;
	font-weight:bold;
}
.itemlist .date {
	position:absolute;
	font-size:10px;
	top:25px;
	right:0;
}
.itemlist p {
	font-size:12px;
}
.itemlist a.ui-btn {
	margin:5px auto;
	display:block;
}
.itemlist li:last-child a.ui-btn {
	bottom:-3px !important;
}

.redline {
	border:1px solid #654734;
}
.won {
	font-weight:bold;
	color:#95B647;
}
.won b {
	color:#B64747;
}

dl {
	display:block;
	clear:both;
	overflow:hidden;
	line-height:160%;
}
dt {
	float:left;
	width:40%;
	font-size:14px;
	font-weight:bold;
}
dd {
	float:left;
	width:60%;
	font-size:14px;
	text-align:right;
	color:#666;
}

.badge-bg {
	background:url(../../images/service_linebg.png) repeat-y center top;
	width:40px;
	height:100%;
	vertical-align:top;
}
.badge-bg.last {
	background:none;
}
.badge-bg.green {
	background-position:0 0;
}
.badge-bg.orange {
	background-position:-40px 0;
}
.badge-bg.brown {
	background-position:-80px 0;
}
.badge-bg .badge {
	padding:7px 0 3px 0;
	font-size:11px;
}
.badge-bg .badge .tit {
	color:#FFF;
	font-size:12px;
	font-weight:bold;
}
.badge-bg.green .badge, .badge-bg.orange .badge, .badge-bg.brown .badge {
	color:#FF0;
	width:40px;
	height:30px;
	text-align:center;
	text-shadow:0 1px 0 #111;
	-webkit-border-radius: 50%;
	border-radius: 50%;

}
.badge-bg.green .badge {
	background:#95B647;
}
.badge-bg.orange .badge{
	background:#F7941D;
}
.badge-bg.brown .badge{
	background:#533A2B;
}
a.monthnavi span {
	background:url(../../images/schedule_navi.png) no-repeat;
	display:block;
	width:55px;
	height:43px;
	color:#95B647;
	text-align:center;
	line-height:43px;
	font-size:14px;
	font-weight:bold;
}
a.monthnavi .prev {
	background-position:0 0;
}
a.monthnavi .next {
	background-position:-55px 0;
}

.memo {
	position:relative;
	padding-top:18px;
}
.memo .ribbon-tit {
	position:absolute;
	background:url(../../images/check_ribbon.png) no-repeat;
	display:block;
	width:119px;
	height:29px;
	top:0;
	left:50%;
	margin-left:-60px;
}
.memo ul {
	background:#FFF;
	padding:40px 10px 10px 10px;
}
.memo ul li {
	border-bottom:1px dashed #E0DAD6;
	margin-bottom:7px;
	padding-bottom:7px;
	padding-left:25px;
}
.memo ul li:last-child {
	border:none;
	margin-bottom:0;
}

.memo ul li.memo01 {
	background:url(../../images/memo01.png) no-repeat 0 0;
}
.memo ul li.memo02 {
	background:url(../../images/memo02.png) no-repeat 0 0;
}
.memo ul li.memo03 {
	background:url(../../images/memo03.png) no-repeat 0 0;
}
.memo ul li.memo04 {
	background:url(../../images/memo04.png) no-repeat 0 0;
}
.memo ul li.memo05 {
	background:url(../../images/memo05.png) no-repeat 0 0;
}
.memo ul li.memo06 {
	background:url(../../images/memo06.png) no-repeat 0 0;
}
.memo ul li.memo07 {
	background:url(../../images/memo07.png) no-repeat 0 0;
}
.memo ul li.memo08 {
	background:url(../../images/memo08.png) no-repeat 0 0;
}


.cal_banner {
	background:url(../../images/icon_cal.png) no-repeat 0 0;
	position:absolute;
	width:26px;
	height:31px;
	right:15px;
	top:0;
	font-size:11px;
	text-align:center;
	color:#FFF;
	text-shadow:0 1px 0 #804804;
}


/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {
.itemlist li.couponli .sale {
	background:url(../../images/coupon_bg@2x.png) no-repeat 0 0;
	background-size:135px 62px;
}
.badge-bg {
	background:url(../../images/service_linebg@2x.png) repeat-y center top;
	background-size:120px 9px;
}
.badge-bg.green {
	background-position:0 0;
}
.badge-bg.orange {
	background-position:-40px 0;
}
.badge-bg.brown {
	background-position:-80px 0;
}
a.monthnavi {
	background:url(../../images/schedule_navi@2x.png) no-repeat;
	background-size:110px 43px;
}
.memo .ribbon-tit {
	background:url(../../images/check_ribbon@2x.png) no-repeat;
	background-size:119px 29px;
}
.memo ul li.memo01 {
	background:url(../../images/memo01@2x.png) no-repeat 0 0;
	background-size:19px 19px;
}
.memo ul li.memo02 {
	background:url(../../images/memo02@2x.png) no-repeat 0 0;
	background-size:19px 19px;
}
.memo ul li.memo03 {
	background:url(../../images/memo03@2x.png) no-repeat 0 0;
	background-size:19px 19px;
}
.memo ul li.memo04 {
	background:url(../../images/memo04@2x.png) no-repeat 0 0;
	background-size:19px 19px;
}
.memo ul li.memo05 {
	background:url(../../images/memo05@2x.png) no-repeat 0 0;
	background-size:19px 19px;
}

.memo ul li.memo06 {
	background:url(../../images/memo06@2x.png) no-repeat 0 0;
	background-size:19px 19px;
}

.memo ul li.memo07 {
	background:url(../../images/memo07@2x.png) no-repeat 0 0;
	background-size:19px 19px;
}
.memo ul li.memo08 {
	background:url(../../images/memo08@2x.png) no-repeat 0 0;
	background-size:19px 19px;
}
}
span.day {
	display:inline-block;
	width:80px;
}
span.day.sat {
	color:#E84C4C;
}
span.day.sun {
	color:#4CBBE8;
}
/* Footer */
.ui-footer {
	background-color:#EFECEA;
	text-align:center;
	padding:15px 10px;
	font-size:11px;
	line-height:130%;
}
.ui-footer p {
	color:#5B4D44;
	text-shadow: 0 1px 1px #FFF;
}


/* ===============================================================
 Swiper
================================================================*/

.swiper-scrollbar {
	border-radius: 10px;
	position: relative;
	-ms-touch-action: none;
	background: rgba(0,0,0,0.1)
}
.swiper-scrollbar-drag {
	height: 100%;
	width: 100%;
	position: relative;
	background: rgba(0,0,0,0.5);
	border-radius: 10px;
}
.swiper-scrollbar-cursor-drag {
	cursor: move;
}

.nivobox {
  width: 100%;
  padding: 5px 0 20px;
  margin: 0 auto;
  position: relative;
}
.nivobox .arrow-left {
  background: url(../../images/swiper_arrows.png) no-repeat left top;
  position: absolute;
  display:block;
  left: 5px;
  top: 50%;
  margin-top: -20px;
  width: 20px;
  height: 40px;
  z-index:500;
}
.nivobox .arrow-right {
  background: url(../../images/swiper_arrows.png) no-repeat left bottom;
  position: absolute;
  display:block;
  right: 5px;
  top: 50%;
  margin-top: -20px;
  width: 20px;
  height: 40px;
  z-index:500;
}
.swiper-container {
  height: 150px;
  width: 240px;
}
.content-slide {
  padding: 0 5px 15px;
}
.content-slide p{
  text-align:center;
}
.thumb-img {
  margin:0 auto 10px;
  width:85px;
  height:78px;
  -moz-box-shadow: 0px 1px 1px #111;
  -webkit-box-shadow: 0px 1px 1px  #111;
  box-shadow: 0px 1px 1px #111;
}
.thumb-img img {
	width:85px;
	height:78px;
}
.nivo-price {
	font-size:12px;
	margin:0 auto 15px;
}
.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom:2px;
  width: 100%;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;

	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;

	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);

	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;

	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

.myorder-empty {
    margin:20px auto;
	text-align:center;
}
.myorder-empty .emptyimg {
    margin:0 auto 20px;
	display:block;
	background:url(../../images/myorder_empty.png) no-repeat 0 0;
	width:158px;
	height:34px;
}

/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {
.nivobox .arrow-left {
  background: url(../../images/swiper_arrows@2x.png) no-repeat left top;
  background-size:20px 80px;
}
.nivobox .arrow-right {
  background: url(../../images/swiper_arrows@2x.png) no-repeat left bottom;
  background-size:20px 80px;
}
.myorder-empty .emptyimg {
	background:url(../../images/myorder_empty@2x.png) no-repeat 0 0;
	background-size:158px 34px;
}
}
.food-info {
	position:relative;
}
.ui-listview.foodplan .ui-first-child {
    padding:7px 10px !important;
}
.detail-thumb {
	border:2px solid #95B647;
	float:left;
	margin-right:10px;
}
table.spectable {
	border-top:2px solid #E7E3E0;
	border-bottom:1px solid #E7E3E0;
	font-size:12px;
}
table.spectable th {
	border-bottom:2px solid #E7E3E0;
	text-align:center;
	padding:3px;
}
table.spectable td {
	border-bottom:1px solid #E7E3E0;
	text-align:center;
	padding:3px;
}
table.spectable td.subj {
	font-weight:bold;
	text-align:left;
}
table.spectable td.part {
	padding-left:7px;
	text-align:left;
}
table.spectable td.none {
	border:none;
}
.itembox li {
	position:relative;
	border-bottom:1px solid #CFC7C1;
	padding-bottom:7px;
	margin-bottom:7px;
}
.itembox li ul li {
	border-bottom:none;
	padding-bottom:0;
	margin-bottom:0;
}
.itembox li:last-child {
	border-bottom:none;
	padding-bottom:0;
	margin-bottom:0;
}
.itembox li p {
	font-size:14px;
}
.itembox li .ui-btn {
	position:absolute;
	top:2px;
	right:0;
}
/* Order Number Radio Button Style */
.ordernum {
	margin:10px 0;
}
.ordernum input[type=radio] {
	display:none;
	margin:10px;
}
.ordernum input[type=radio] + label {
	display:inline-block;
	margin:2px 0;
	padding: 6px 0 7px;
	text-align:center;
	background-color: #FFF;
	border:1px solid #BEBEBE;
	vertical-align:middle;
	font-size:12px;
	letter-spacing:-1px;
	color:#999;
	cursor:pointer;
	font-weight:700;
	zoom:1;
	display: -moz-inline-stack;
 *display:inline/*IE7 HACK*/;
	_display:inline;/*IE6 HACK*/
}
.ordernum input:checked + label {
	background-image: none;
	background-color:#9AC13C;
	border:1px solid #9AC13C;
	color:#FFF;
	font-weight:800;
}
/* QUANTITY INPUT */
.quantity {
	position:relative;
	margin:0;
	padding:0;
}
.quantity .minus {
	border:1px solid #CCC;
	width:28px;
	color:#333;
	font-weight:bold;
	font-size:14px;
	padding:5px 0;
	position: relative;
	left:0;
    top:0;
	background: #F1F1F1;
    background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#F1F1F1));
    background: -moz-linear-gradient(top,  #FDFDFD,  #F1F1F1);
    background: -o-linear-gradient(  #FDFDFD, #F1F1F1 );
	-moz-box-shadow:    0px 1px 0px 0px #999;
    -webkit-box-shadow: 0px 1px 0px 0px #999;
    box-shadow:         0px 1px 0px 0px #999;
    -moz-border-radius:     2px 0 0 2px;
    -webkit-border-radius:  2px 0 0 2px;
    -khtml-border-radius:   2px 0 0 2px;
    border-radius:          2px 0 0 2px;
}
.quantity .plus {
	border:1px solid #CCC;
	width:28px;
	color:#333;
	font-weight:bold;
	font-size:14px;
	padding:5px 0;
	position: relative;
	right:9px;
	top:0;
	background: #F1F1F1;
    background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#F1F1F1));
    background: -moz-linear-gradient(top,  #FDFDFD,  #F1F1F1);
    background: -o-linear-gradient(  #FDFDFD, #F1F1F1 );
	-moz-box-shadow:    0px 1px 0px 0px #999;
    -webkit-box-shadow: 0px 1px 0px 0px #999;
    box-shadow:         0px 1px 0px 0px #999;
    -moz-border-radius:     0 2px 2px 0;
    -webkit-border-radius:  0 2px 2px 0;
    -khtml-border-radius:   0 2px 2px 0;
    border-radius:          0 2px 2px 0;
}
.quantity .input-text {
	border:1px solid #CCC;
	border-width:1px 0;
	width:68%;
	height:28px;
	text-align: center;
	font-size:14px;
	font-weight: bold;
	color: #333;
	padding: 0 10px;
	position: relative;
	top: 0;
	left:-4px;
	background: #F1F1F1;
    background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#F1F1F1));
    background: -moz-linear-gradient(top,  #FDFDFD,  #F1F1F1);
    background: -o-linear-gradient(  #FDFDFD, #F1F1F1 );
	-moz-box-shadow:    0px 1px 0px 0px #999;
    -webkit-box-shadow: 0px 1px 0px 0px #999;
    box-shadow:         0px 1px 0px 0px #999;
    -moz-border-radius:     0;
    -webkit-border-radius:  0;
    -khtml-border-radius:   0;
    border-radius:          0;
}

/*Datepicker*/


table.jCalendar {
	background: #FFF;
	border-collapse: separate;
	border-spacing: 1px;
}
table.jCalendar th {
	background: #FFCC00;
	color: #fff;
	font-weight: bold;
	padding: 5px 5px;
}
table.jCalendar td {
	background: #FFF;
	border:1px solid #AABBCC;
	color: #333;
	padding: 5px 5px;
	text-align: center;
}
table.jCalendar td.other-month {
	background: #F9F9F9;
	color: #CCC;
}
table.jCalendar td.today {
	background: #666;
	color: #fff;
}
table.jCalendar td.selected {
	background: #FFF;
	border:1px solid #FFCC00;
	color: #000;
}
table.jCalendar td.selected.dp-hover {
	background: #FFCC00;
	color: #000;
}
table.jCalendar td.dp-hover, table.jCalendar tr.activeWeekHover td {
	background: #ECF7FB;
	color: #333;
}
table.jCalendar tr.selectedWeek td {
	background: #f66;
	color: #fff;
}
table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover {
	background: #EFEFEF;
	color: #CCC;
}
table.jCalendar td.unselectable, table.jCalendar td.unselectable:hover, table.jCalendar td.unselectable.dp-hover {
	background: #bbb;
	color: #888;
}
/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

div.dp-popup {
	position: relative;
	background: #FFF;
	border:1px solid #999;
	font-size: 10px;
	padding: 2px;
	width: 270px;
	line-height: 1.2em;
}
div#dp-popup {
	position: absolute;
	z-index: 99999;
}
div.dp-popup h2 {
	font-size: 12px;
	text-align: center;
	margin: 2px 0;
	padding: 0;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #000;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 2px;
	right: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {
	cursor: default;
	color: #aaa;
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}
a.dp-choose-date {
	width: 23px;
	height: 26px;
	padding: 0;
	margin:0;
	vertical-align: middle;
	display:inline-block;
	text-indent: -2000px;
	overflow: hidden;
	background: url(../../images/calendar.png) no-repeat;
}
a.dp-choose-date.dp-disabled {
	background-position: 0 0;
}
input.hasDatepick {
	width: 250px;
	padding:5px;
	font-size:14px;
	border:1px solid #CCC;
	float: left;
}
.cartplus {
	position:relative;
}
.cartplus .plusicon {
	background:url(../../images/cart-plus.png) no-repeat 0 0;
	position:absolute;
	display:block;
	width:20px;
	height:20px;
	top:-10px;
	left:10px;
	z-index:100;
}

.row .cartdelete {
	background:url(../../images/cart-del.png) no-repeat 0 0;
	position:absolute;
	display:block;
	width:12px;
	height:12px;
	top:10px;
	right:10px;
	z-index:100;
}

.cart-total {
	padding:10px 0;
	border-bottom:1px dashed #CCC;
	margin-bottom:10px;
	text-align:right;
	font-size:16px;
}

/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {
a.dp-choose-date {
	background: url(../../images/calendar@2x.png) no-repeat;
	background-size:23px 26px;
}
.cartplus .plusicon {
	background:url(../../images/cart-plus@2x.png) no-repeat 0 0;
	background-size:20px 20px;
}
.row .cartdelete {
	background:url(../../images/cart-del@2x.png) no-repeat 0 0;
	background-size:12px 12px;
}
}

.square {
	display:inline-block;
	width:20px;
	height:20px;
}

table.tdbottom {
	font-size:14px;
}
table.tdbottom td, table.tdbottom th {
	text-align:center;
	padding:4px 0;
}
table.tdbottom th {
	border-bottom:1px solid #D0C7C2;
}
table.tdbottom td .ordernum {
	margin:0 auto;
}
table.delitb th {
    text-align:left;
	width:26%;
	padding:5px;
	border-bottom:1px solid #D0C7C2;
}
table.delitb td {
	border-bottom:1px solid #D0C7C2;
	padding:5px;
}
ul.ordertabs {
    margin:0;
    padding:0;
	overflow:hidden;
	border-bottom:1px solid #DDD;
}
ul.ordertabs li {
    display:block;
    float:left;
	width:50%;
}
ul.ordertabs li a {
    display:block;
	text-align:center;
    font-size:16px;
	font-weight:bold;
	width:100%;
	padding:7px 0;
	color:#3D809A;
}
ul.ordertabs .selected {
    background:#3D809A;
	color:#FFF !important;
}
table.term {
	font-size:14px;
}
table.term th {
    border-bottom:1px solid #DDD;
	padding:10px;
	text-align:center;
}
	
table.term td {
    border-bottom:1px solid #DDD;
	padding:10px;
	text-align:left;
}
.event {
	margin:10px 0;
}
.event li, .event .head {
	border-bottom:1px solid  #D0C7C2;
	padding-bottom:10px;
	margin-bottom:10px;
}
.event .head span.fb, .event .head span.tw, .event .head span.me {
	background:url(../../images/icon_share.png) no-repeat;
	width:21px;
	height:19px;
	display:inline-block;
	margint:5px 10px;
}
.event .head span.fb {
	background-position:0 0;
}
.event .head span.tw {
	background-position:-21px 0;
}
.event .head span.me {
	background-position:-42px 0;
}
.event .head span.fb a, .event .head span.tw a, .event .head span.me a {
	width:21px;
	height:19px;
	display:block;
}

.event li img{
	width:100%;
	margin:0 auto;
}

.event .meta {
	font-size:12px;
	margin:2px 0;
}
.event .article {
	margin:0 auto;
	text-align:left;
}

/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {
.event .head span.fb, .event .head span.tw, .event .head span.me {
	background:url(../../images/icon_share@2x.png) no-repeat;
	background-size:63px 19px;
}
.event .head span.fb {
	background-position:0 0;
}
.event .head span.tw {
	background-position:-21px 0;
}
.event .head span.me {
	background-position:-42px 0;
}
}

