.pb5 {padding-bottom:5px}
.black {color:#000}

/** main **/
/* main_slider */
.main_slider {position:relative;margin:0 auto;width:975px;height:650px;overflow:hidden}
.main_slider .main_slider_img {cursor:move;width:975px;height:650px;overflow:hidden}
.main_slider .arrow_left, .main_slider .arrow_right {display:block;position:absolute;width:50px;height:58px;cursor:pointer;background:url(/mobile/images/main_v_arrow.png) no-repeat center center;overflow:hidden}
.main_slider .arrow_left {top:123px;left:0px;background-position:0 0}
.main_slider .arrow_right {top:123px;right:0px;background-position:-62px 0}
.main_slider .arrow_left:hover, .main_slider .arrow_left:active {background-position:-124px 0}
.main_slider .arrow_right:hover, .main_slider .arrow_right:active {background-position:-186px 0}			
.main_slider .bul_navi {position:absolute;bottom:26px;right:6px}
.main_slider .bul_navi div, .main_slider .bul_navi div:hover, .main_slider .bul_navi .av {position:absolute;width:27px;height:27px;background:url(/mobile/images/main_v_btn.png) no-repeat;overflow:hidden;cursor:pointer}
.main_slider .bul_navi div {background-position:-32px -2px}
.main_slider .bul_navi div:hover, .main_slider .bul_navi .av:hover {background-position:-2px -2px}
.main_slider .bul_navi .av {background-position:-2px -2px}
.main_slider .bul_navi .dn, .main_slider .bul_navi .dn:hover {background-position:-32px -2px}

/* banner_cont */
.banner_cont {margin:30px auto}
.banner_cont a.line {height:72px;background:url(/mobile/images/main_banner_line.gif) right 30px no-repeat }
.banner_cont .column {position:relative;width:33.33%;float:left}
.banner_cont a {position:relative;display:block;text-align:center}
.banner_cont a.menu .icon, .banner_cont a.deliver .icon, .banner_cont a.order .icon, .banner_cont a.free .icon, .banner_cont a.notice .icon, .banner_cont a.customer .icon {background:url(/mobile/images/main_banner_01.png) no-repeat;display:inline-block;margin-bottom:10px;vertical-align:middle;width:75px;height:75px}
.banner_cont a p {color:#563820;line-height:14px;font-size:13px;font-weight:600;letter-spacing:-1px;text-align:center}
.banner_cont a.menu .icon {background-position:0 0}
.banner_cont a.menu:hover .icon, .banner_cont a.menu:active .icon {background-position:0 -100px}
.banner_cont a.deliver .icon {background-position:-100px 0}
.banner_cont a.deliver:hover .icon, .banner_cont a.deliver:active .icon {background-position:-100px -100px}
.banner_cont a.order .icon {background-position:-200px 0}
.banner_cont a.order:hover .icon, .banner_cont a.order:active .icon {background-position:-200px -100px}
.banner_cont a.free .icon {background-position:-300px 0}
.banner_cont a.free:hover .icon, .banner_cont a.free:active .icon {background-position:-300px -100px}
.banner_cont a.notice .icon {background-position:-400px 0}
.banner_cont a.notice:hover .icon, .banner_cont a.notice:active .icon {background-position:-400px -100px}
.banner_cont a.customer .icon {background-position:-500px 0}
.banner_cont a.customer:hover .icon, .banner_cont a.customer:active .icon {background-position:-500px -100px}

/* accordion */
.accordion {clear:both;border-top:2px solid #c5c5c5;padding-bottom:2px}
.accordion li.depth01 a {display:block;position:relative;padding:20px 0px 20px 20px;color:#333;font-size:15px;font-weight:600;background:#fff;border-bottom:1px solid #e1e1e1}
.accordion li.depth01:hover a, .accordion li.depth01:target a, .accordion li.depth01  a.active {color:#93b14b}
.accordion li.depth01  a span {display:block;position:absolute;top:14px;right:15px;width:30px;height:30px;background:url(/mobile/images/main_accordion_arrow_bo.jpg) no-repeat 0 0;background-size:30px 30px}
.accordion li.depth01:hover a span, .accordion li.depth01:target a span, .accordion li.depth01  a.active span {background:url(/mobile/images/main_accordion_arrow_top.jpg) no-repeat 0 0;background-size:30px 30px}
.accordion .sub_menu {border-bottom:1px solid #e1e1e1}
.accordion .sub_menu li.depth02 a {display:block;position:relative;color:#777 !important;background:#f9f9f9 url(/images/mobile/main_accordion_bul_01.png) no-repeat 58px 20px;background-size:4px 4px;font-size:14px;padding:15px 0 15px 40px;border-bottom:1px solid #f0f0f0}
.accordion .sub_menu li.depth02:last-child a {border:none}
.accordion .sub_menu li.depth02 .btn {float:right;margin-top:-37px;margin-right:15px}
.accordion .sub_menu li.depth02 .btn a, .accordion .sub_menu li.depth02 .btn a em {margin:0;display:-moz-inline-stack;display:inline-block;text-decoration:none;margin:0;padding:0;border:0;white-space:nowrap;overflow:visible;background:url(/mobile/images/main_btn_bg.png) no-repeat;font-size:12px;vertical-align:middle}
.accordion .sub_menu li.depth02 .btn a {float:left;padding:0;background-position:0 0;height:26px;vertical-align:middle;margin-left:3px}
.accordion .sub_menu li.depth02 .btn a em {display:inline-block;font-weight:bold;font-style:normal;background-position:right 0;padding:0 8px;line-height:28px;height:26px;color:#777}
.accordion .sub_menu li.depth02 .btn a em:hover {color:#333}
.accordion .sub_menu {display:none}
.accordion li:target .sub_menu {display:block}
.accordion > li > a:before {position:absolute;top:0;left:0;content:'';width:51px;height:56px;margin-left:15px;background:url(/images/mobile/main_accordion_ico_01.jpg) no-repeat 0 0}
.accordion li.step001 > a:before, .accordion li.step001:hover > a:before, .accordion li.step001:target > a:before, .accordion li.step001 > a.active:before {background-position:0 0}
.accordion li.step002 > a:before, .accordion li.step002:hover > a:before, .accordion li.step002:target > a:before, .accordion li.step002 > a.active:before {background-position:0 -80px}
.accordion li.step003 > a:before, .accordion li.step003:hover > a:before, .accordion li.step003:target > a:before, .accordion li.step003 > a.active:before {background-position:0 -160px}
.accordion li.step004 > a:before, .accordion li.step004:hover > a:before, .accordion li.step004:target > a:before, .accordion li.step004 > a.active:before {background-position:0 -240px}

/* event_slider */
.event_slider {position:relative;margin:0 auto;top:0px;left:0px;width:613px;height:208px;overflow:hidden}
.event_slider .event_slider_img {cursor:move;position:absolute;left:0px;top:0px;width:613px;height:208px;overflow:hidden}
.event_slider .arrow_left, .event_slider .arrow_right {display:block;position:absolute;width:25px;height:58px;cursor:pointer;background:url(/mobile/images/event_v_arrow.png) no-repeat center center;overflow:hidden}
.event_slider .arrow_left {top:70px;left:20px;background-position:0 0}
.event_slider .arrow_right {top:70px;right:20px;background-position:-36px 0}
.event_slider .arrow_left:hover, .event_slider .arrow_left:active {background-position:-81px 0}
.event_slider .arrow_right:hover, .event_slider .arrow_right:active {background-position:-117px 0}

/* main_faq */
.main_faq {position:relative;display:block;width:100%;background:url(/images/mobile/main_qna_bg.gif) repeat 0 0;padding:15px 0;margin-top:2px}
.main_faq a {position:relative;display:block;background:#fff;margin:0 15px;padding:10px}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
	line-height: 0; 
	height: 0;
}
.highlight {
	color:#FF6600;
}
.clearfix {
	clear: both;
    display: block;
}

