
/* clear both */
.clear { clear:both!important;}

.hidden {display:none;}

/* bg_mask */
.bg_mask { display:none; position:absolute; top:0; left:0; z-index:900; background:#000; opacity:0.4; filter:alpha(opacity=40);}
.bg_mask2 { display:none; position:absolute; top:0; left:0; width:100%; height:100%; z-index:900; background:#000; opacity:0.4; filter:alpha(opacity=40);}

/* margin, padding */
.mt_0 { margin-top:0!important;}
.mt_5 { margin-top:5px!important;}
.mt_10 { margin-top:10px!important;}
.mt_25 { margin-top:25px!important;}
.mr_5 { margin-right:5px!important;}
.mr_10 { margin-right:10px!important; display:inline-block;}

/* color */
.org { color:#ff5b01;}
.green { color:#546f0c;}

/*input*/
input { color:#363636;}
select { height:20px; color:#363636; font-family:'NanumGothic','ng';}
.input1 { width:72px; height:13px; padding:3px 2px 2px 4px; border:1px solid #ccc;}
.input2 { width:72px; height:15px; padding:1px 2px 2px 4px; border:1px solid #ccc;}
.input3 { width:72px; height:15px; padding:1px 4px 2px 2px; border:1px solid #ccc; text-align:right;}
.input4 { width: 100%; height:20px; padding:1px 4px 2px 2px; border:1px solid #ccc; box-sizing: border-box; }
.int_date { width:70px; height:17px; margin-top:0!important; padding:1px 0 0 6px; border:1px solid #ccc;}
.chk1 { position:relative; top:-1px; width:13px; height:13px; margin:0!important;}
.radio1 { position:relative; top:-2px; width:13px; height:13px; margin:0!important;}
.select1 { width:90px;}
.area1 { width:98%; height:75px; padding:5px; margin-bottom:8px; line-height:1.4;}
.area2 { width:97%; height:75px; padding:5px; line-height:1.4;}
.filewidth { width:290px;}

/* table styles */
.tableView { border-collapse:collapse; font-family:'Dotum';border:1px solid #d9d9d9;width:99%; }
.tableView th { padding:4px 0 0 0; border:1px solid #d9d9d9; background:#f6f6f6; color:#2e2e2e; text-align:left;}
.tableView th span { display:inline-block; padding:0 5px 0 13px;}
.tableView th em { position:relative; top:-3px; left:-2px; color:#ed4300;}
.tableView th select { margin-top:-4px;}
.tableView td { padding:5px 5px 5px 10px; border:1px solid #d9d9d9; color:#363636; line-height:1.6;}
.tableView .td_edit td{ padding:2px; border:0px solid white;}
.tableView td.td01 { height:auto; padding:5px 10px;}
.tableView td.td01 input { vertical-align:top;}
.tableView td.td02 { height:auto; padding:10px;}
.tableView td.td_right { padding-right:10px; text-align:right;}
.tableView td a { color:#0355ba;}
.tableView td.date { color:#717171; font-size:11px; line-height:1.2;}
.tableView .table02 { margin-top:0; border-collapse:collapse;}
.tableView .table02 th { text-align:center;}
.tableView .table02 td { height:auto; padding:7px 0 4px 0; line-height:1.3;}
.tableView.other { margin-top:10px;}
.tableView.other th, .tableView.other td { padding-left:0; padding-right:0; text-align:center;}
.tableView.other td { height:auto; padding:9px 0 4px 0;}

.table01 { border-collapse:collapse; font-family:'Dotum';}
.table01 th { padding:4px 0 0 0; border:1px solid #d9d9d9; background:#f6f6f6; color:#2e2e2e; text-align:left;}
.table01 th span { display:inline-block; padding:0 5px 0 13px;}
.table01 th em { position:relative; top:-3px; left:-2px; color:#ed4300;}
.table01 th select { margin-top:-4px;}
.table01 td { padding-left:10px; border:1px solid #d9d9d9; color:#363636; line-height:1.6;}
.table01 .td_edit td{ padding-left:10px;margin:0px; border:0px solid white;}
.table01 td.td01 { height:auto; padding:5px 10px;}
.table01 td.td01 input { vertical-align:top;}
.table01 td.td02 { height:auto; padding:10px;}
.table01 td.td_right { padding-right:10px; text-align:right;}
.table01 td a { color:#0355ba;}
.table01 td.date { color:#717171; font-size:11px; line-height:1.2;}
.table01 .table02 { margin-top:0; border-collapse:collapse;}
.table01 .table02 th { text-align:center;}
.table01 .table02 td { height:auto; padding:7px 0 4px 0; line-height:1.3;}
.table01.other { margin-top:10px;}
.table01.other th, .table01.other td { padding-left:0; padding-right:0; text-align:center;}
.table01.other td { height:auto; padding:9px 0 4px 0;}

.table02 { margin-top:10px; font-family:'Dotum';}
.table02 th { padding:7px 0 1px 0; background:#35363e; font-size:11px; color:#fff; line-height:1.9;}
.table02 th.th_bor { border-right:1px solid #d9d9d9;}
.table02 tr.tr_bot th { border-top:1px solid #d9d9d9;}
.table02 td { padding:10px 0 5px 0; border-bottom:1px solid #d9d9d9; text-align:center;}
.table02 td.date { font-size:11px; line-height:1.2;}
.table02 td.point { padding-right:5px; text-align:right;}
.table02 td.td_left { padding-left:10px; text-align:left;}
.table02 td a { color:#0355ba;}
.table02 td .green { margin:0 4px;}
.table02 input, .table02 select, .table02 img, .table02 .function_btn { margin-top:-4px;}
.table02 tfoot th { border-bottom:1px solid #d8d8d8; background:#f6f6f6; color:#2e2e2e; font-weight:normal; font-size:12px;}
.table02 tfoot th strong { color:#ff5b01;}

.table03 { margin-top:10px; border-collapse:collapse; font-family:'Dotum';}
.table03 th { padding:7px 5px 1px 5px; border:1px solid #d9d9d9; background:#35363e; font-size:11px; color:#fff; line-height:1.9;}
.table03 th span { display:inline-block; padding-bottom:2px; line-height:1.3;}
.table03 td { padding:8px 10px 3px 10px; border:1px solid #d9d9d9; text-align:right;}
.table03 td.td_left { text-align:left;}
.table03 td.td_left2 { padding-left:0; padding-right:0; text-align:left;}
.table03 td.td_left2 span { padding-left:10px;}
.table03 .td_center { padding-left:0; padding-right:0; text-align:center;}
.table03 tr.today td { background:#fdeada;}
.table03 td img { margin-top:-4px;}
.table03 td.td_progress { padding:5px 10px 3px 10px;}
.table03 tr.bg_gray td { background:#f6f6f6;}
.table03 tfoot th { padding:8px 10px 3px 10px; background:#f6f6f6; color:#363636; text-align:right; line-height:1.5; font-size:12px;}

.table02 td .sort_posts {text-align:center;}
.table02 td .sort_posts button {border:0; background:#fff; text-indent:-9999px; outline:none; width:28px; height:28px; margin:0 2px; cursor:pointer;}
.table02 td .sort_posts button.btn_sort_up {background:url(/esl_admin/images/common/btn/btn_sort_up.png) center center no-repeat;}
.table02 td .sort_posts button.btn_sort_down {background:url(/esl_admin/images/common/btn/btn_sort_down.png) center center no-repeat;}
.table02 td .sort_posts button.disabled {opacity:0.5;}
.table02 td .opt_posts {text-align:center;}
.table02 td .opt_posts a {text-decoration:underline; margin:0 2px;}


.section_rec_list {width:100%;}
.section_rec_list ul {margin-left:-2%;}
.section_rec_list ul:after {content:''; display:block; clear:both;}
.section_rec_list ul li {float:left; width:25%; box-sizing:border-box; height:0; padding-bottom:25%; position:relative; margin-bottom:20px;}
.section_rec_list li .img_tray {position:absolute; top:1%; left:1%; width:98%; height:98%; box-sizing:border-box; border:1px solid #666; z-index:1;}
.section_rec_list li button.chooseItems {width:98%; top:1%; left:1%; height:98%; position:absolute; z-index:5; background:transparent; border:0; outline:none; cursor:pointer;}
.section_rec_list li button.chooseItems span {display:block; position:absolute; width:32px; height:32px; top:50%; left:50%; margin:-16px 0 0 -16px; border-radius:50%; background:#666; z-index:10;
 -webkit-transition: background 250ms ease, transform 200ms ease;
 -ms-transition: background 250ms ease, transform 200ms ease;
 transition: background 250ms ease, transform 200ms ease;
}
.section_rec_list li button.chooseItems:hover span {background:#888; transform:scale(1.5);}
.section_rec_list li button.chooseItems span:before {content:''; width:24px; height:4px; background:#fff; position:absolute; top:50%; left:50%; margin:-2px 0 0 -12px; border-radius:2px; }
.section_rec_list li button.chooseItems span:after {content:''; width:4px; height:24px; background:#fff; position:absolute; top:50%; left:50%; margin:-12px 0 0 -2px; border-radius:2px; }

#search_popup{width:657px;max-height:500px;position:absolute;left:0;top:0;right:0;margin:auto;background:#fff;display:none;opacity:0;visibility:hidden;z-index:20;
    -ms-transform: scale(.3,.3); /* IE 9 */
    -webkit-transform: scale(.3,.3); /* Safari */
    transform: scale(.3,.3);
    -webkit-transition: -webkit-transform .4s ease-in-out;
	-moz-transition: -moz-transform .4s ease-in-out;
	-ms-transition: -ms-transform .4s ease-in-out;
	-o-transition: -o-transform .4s ease-in-out;
	transition: transform .4s ease-in-out;
}
#search_popup .seach_result{position:relative;margin:0px 20px 10px;overflow:hidden;height:340px;}
#search_popup .seach_result > .inner > ul{margin-left:-10px;}
#search_popup .seach_result > .inner > ul > li{float:left;width:33.33%;margin-bottom:10px;}
#search_popup .seach_result > .inner > ul > li > div{margin-left:10px;}
#search_popup .seach_result > .inner > ul > li > div label{display:block;}
#search_popup .seach_result > .inner > ul > li > div label .img{display:block;height:150px;overflow: hidden;}
#search_popup .seach_result > .inner > ul > li > div label .img img{max-width:100%;}
#search_popup .seach_result > .inner > ul > li > div label .tit{display:block;margin:5px 0px; overflow: hidden; line-height:18px;height:36px;
	display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;
}

#search_popup.show{
    display:block;opacity:1;visibility:visible;
    -ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Safari */
    transform: scale(1,1);
}

.popup_type01{width:657px;margin:auto;left:0;right:0;position:absolute;}
.popup_type01 > .inner{background-color: #fff;position: relative;overflow: hidden;}
.popup_type01.wide{width:700px;}
.popup_type01.wide2{width:850px;}
.popup_type01 h1{font-size:15px;color:#fff;height:40px;line-height:40px;padding:0px 20px;background:#575757;}
.popup_type01 h2{color:#fc5c5c;font-size:14px;font-weight:400;line-height:40px;height:40px;padding:0px 20px;}
.popup_type01 h2.blue{color: #5ca7fc;}

.popup_type01 h2.category {height:auto;line-height:1;}
.popup_type01 h2.category > p{line-height:20px;margin-top:10px;}
.popup_type01 h2.category > ul{padding:3px 0px;}
.popup_type01 h2.category > ul > li{position:relative;float:left;padding:0px 30px;margin-top:10px;}
.popup_type01 h2.category.mini > ul > li{padding:0px 19px;letter-spacing: -1px;}
.popup_type01 h2.category > ul > li:first-child{padding-left:0px !important;}
.popup_type01 h2.category > ul > li:after{position:absolute;content:"";right:0px;top:6px;border-right:1px solid #DDDDDD;height:10px;}
.popup_type01 h2.category > ul > li > a{display:block;font-size:14px;line-height:20px;color:#bbbbbb; -webkit-transition: .1s linear;  -moz-transition: .1s linear;  -o-transition: .1s linear;  transition: .1s linear;}
.popup_type01 h2.category > ul > li.on > a{color:#fc5c5c; }
.popup_type01 h2.category > ul > li:hover > a{color:#fc5c5c; }

.popup_type01 h2.category.t2 > ul > li{padding:0 18px;}

.popup_type01 h3.tit_dl{padding:10px 20px 0;font-weight: 400;font-size: 13px;}
.popup_type01 h3.tit_dl > dl{position: relative;}
.popup_type01 h3.tit_dl > dl > dt{position: absolute;  color: #333; line-height: 28px; width: 126px; font-weight: 700;}
.popup_type01 h3.tit_dl > dl > dd{padding-left: 126px; min-height: 28px; line-height: 28px;color: #5ca7fc;}


.popup_type01 .content{margin:20px 0px;padding:0px 20px;max-height:550px;overflow:hidden;position:relative;}
.popup_type01 .box_edit_type1{position: relative;padding-bottom: 20px;}
.popup_type01 .box_edit_type1.top_line{padding-top:15px;margin-top:15px;border-top:1px dotted #E2E7EB;}

.popup_type01 .box_edit_type1 dl{position:relative;}
.popup_type01 .box_edit_type1 > *{position: relative;}
.popup_type01 .box_edit_type1 .top_line{padding-top:15px;margin-top:15px;border-top:1px dotted #B6C2CC;}
.popup_type01 .box_edit_type1 dl dt{position:absolute; font-size:13px; color:#333; line-height:18px;width:126px;font-weight:700;padding-top: 6px;}
.popup_type01 .box_edit_type1 dl dt .req { color: #fc5c5c; }
.popup_type01 .box_edit_type1 dl dd{padding-left:126px;margin-bottom:12px;min-height:28px;line-height:28px;}
.popup_type01 .box_edit_type1 dl dd > div.bx_li{margin-bottom:10px;}
.popup_type01 .box_edit_type1 dl dd > p{line-height:20px;margin:4px 0px;}

.popup_type01 .box_edit_type1 dl dd.thum .img{display:inline-block; *display:inline; *zoom:1;margin-right:10px;overflow:hidden;vertical-align: bottom;}
.popup_type01 .box_edit_type1 dl dd.thum .img img{max-width:100%;max-height:110px;}
.popup_type01 .box_edit_type1 dl dd.thum .img.big img{max-width:100%;max-height:170px;}
.popup_type01 .box_edit_type1 dl dd.thum .img.autoh img{max-height:none;}
.popup_type01 .box_edit_type1 dl dd.thum .img.before_upload{background:#E1E1E1; border:1px solid #a1a1a1;color:#a1a1a1;width:90px;font-size:12px;line-height:20px;padding:5px;}
.popup_type01 .box_edit_type1 dl dd.thum .img ~ button{vertical-align: bottom;margin-top:7px;}
.popup_type01 textarea.ipt{box-sizing:border-box;font-size:12px; line-height:20px; height:92px;border:1px solid #C8CFD4; background:#fff;border-radius:3px;padding:5px 10px;width:100%;}
.popup_type01 textarea.ipt.big{height:132px;}
.popup_type01 .box_edit_type1 dl dd.thum .img + .txt{display: inline-block;vertical-align: bottom;}
.popup_type01 .box_edit_type1 dl dd.thum .img + .txt .name{margin-bottom: 3px;}
.popup_type01 .box_edit_type1 dl dd > div.searchbox3{position:relative;}
.popup_type01 .box_edit_type1 dl dd > div.searchbox3 > span{display:block;margin-right:105px;}
.popup_type01 .box_edit_type1 dl dd > div.searchbox3 > button{position:absolute;right:0px;bottom:0px;}
.popup_type01 .box_edit_type1 dl dd > div.searchbox3 + .prds > span{font-size:12px;margin-right:10px;display:inline-block;}
.popup_type01 .box_edit_type1 dl dd .email{color:#333; text-decoration:underline;}
.popup_type01 .box_edit_type1 dl dd span.ipt_alert{display:inline-block; *display:inline; *zoom:1;font-size:12px;letter-spacing:-1px; margin-left:10px;color:#fc5c5c;}
.popup_type01 .box_edit_type1 dl dd span.ipt_alert.good{color:#5ca7fc;}

.popup_type01 .box_edit_type1 dl.min dt{line-height:20px;padding-top:0;}
.popup_type01 .box_edit_type1 dl.min dd{line-height:20px;min-height:20px;}


.popup_type01 .box_edit_type1 .multi_input_bx .top_btns{margin-bottom:10px;}
.popup_type01 .box_edit_type1 .multi_input_bx dl{border: 1px solid #C8CFD4; background: #fff;  border-radius: 3px;min-height:40px;padding:20px;margin-bottom:25px;}
.popup_type01 .box_edit_type1 .multi_input_bx dl.include_remove{}
.popup_type01 .box_edit_type1 .multi_input_bx dl.include_remove dd{position:relative;padding-right:50px;}
.popup_type01 .box_edit_type1 .multi_input_bx dl.include_remove dd .addremove{position:absolute;right:0px;height:100%;top:0px;}
.popup_type01 .box_edit_type1 .multi_input_bx dl.include_remove dd .addremove button{vertical-align:middle;}
.popup_type01 .box_edit_type1 .multi_input_bx + .addremove{text-align:center;}

.popup_type01 .box_edit_type1 dl dd.include_remove{position:relative;padding-right:50px;}
.popup_type01 .box_edit_type1 dl dd.include_remove .addremove{position:absolute;right:0px;bottom:0px;}
.popup_type01 .box_edit_type1 dl dd.include_remove .addremove button{vertical-align:middle;}

.popup_type01 .box_edit_type1 dl dd .cap_tit{position: absolute; font-size: 13px; color: #333; line-height: 28px; left:0;font-weight:700;margin-top:5px;}
.popup_type01 .box_edit_type1 dl dd .cap_ipt{margin-top:5px;}

/*.popup_type01 .box_edit_type1 dl.bx_survey dd{margin-right:92px;}*/
.popup_type01 .box_edit_type1 dl.bx_survey .addremove{display:inline-block;*display:inline; *zoom:1;margin-left:10px;vertical-align:middle;}

.popup_type01 .box_edit_type1 .p_holder{display: block;}
.popup_type01 .box_edit_type1 .p_holder > label{left:10px;display: inline-block;color:#ccc;bottom: 0; top: inherit; height: auto; }

.popup_type01 .box_edit_type1 .bx_answer > h4{line-height:1.5;margin-bottom:5px;}

.popup_type01 .total_amount{}
.popup_type01 .total_amount .pl{color: #5ca7fc;}
.popup_type01 .total_amount .mn{color: #fc5c5c;}
.popup_type01 .total_amount .total{font-size: 1.25em;}
.popup_type01 .total_amount > dl{position: relative;}
.popup_type01 .total_amount > dl > dt{line-height: 20px;position:absolute; width:100px;font-weight:700;}
.popup_type01 .total_amount > dl > dd{line-height: 20px;margin-bottom:6px;text-align: right;padding-left:100px;max-width:120px;min-height:inherit;}
.popup_type01 .total_amount > dl > dt.sum{font-size: 16px;line-height: 22px;}
.popup_type01 .total_amount > dl > dt.sum + dd{font-size: 16px;line-height: 22px;}

.popup_type01 .txt_point{font-size: 1.375em;}

.popup_type01 .output_textarea{line-height: 20px;color: #666;margin-bottom:25px;}

.popup_type01 .box_edit_type1 .top_select{text-align: right;margin-bottom:10px;position: absolute;right: 0;z-index: 1}

.popup_type01 a.link{color: #5ca7fc;text-decoration: underline;}

.popup_type01 .bot_btns{position:absolute; padding:10px 20px;text-align:right;right:0;top:0;}
.popup_type01 .bot_btns > button{height:20px;width:20px;border-width:0;text-indent :-9999px;overflow: hidden;min-width:inherit;padding:0;margin-left:10px;outline: none;}
.popup_type01 .bot_btns > button.tran{content:'X'; background-size: 20px 20px;}
.popup_type01 .bot_btns > button.blue{content:'X'; background-size: 20px 20px;}


#searchBox2{position:relative;}
#searchBox2 > span{display: block;}
#searchBox2 > span > input[type="text"]{width:100%;height:32px;box-sizing:border-box;padding:0px 40px 0px 20px;line-height:32px; color:#898989;background:#f3f3f5; margin:0px; border-width:0px;box-shadow:none;}
#searchBox2 > span > label{line-height:32px;color:#898989}
#searchBox2 > span .btn{position:absolute;right:10px;top:6px;}


.tbl_pos { position:relative; padding-right:150px;}
.tbl_pos .right_btn { position:absolute; top:-1px; right:10px;}
.tbl_pos .right_btn a { margin-left:5px;}
.tbl_pos2 { position:relative;}

/* btn_styles */
.btn_center { position:relative; margin-top:15px; text-align:center;}
.btn_center a { display:inline-block;}
.btn_center .left_btn { position:absolute; top:0; left:0;}
.btn_center .right_btn { position:absolute; top:0; right:0;}
.center_btn { position:absolute; top:0; left:47%;}

.btn_style1 { position:relative; width:100%; height:22px; margin-top:13px;}
.btn_style1 .right_btn { position:absolute; top:0; right:0;}

.function_btn { display:inline-block; height:22px; padding:0 0 0 4px; background:url(../images/common/bg/bg_btn_left.gif) no-repeat left top; font-weight:bold; text-decoration:none!important; font-size:12px; font-family:'Dotum'; line-height:100%;}
.function_btn span { display:inline-block; height:15px; color:#3d3d3d; padding:7px 8px 0 5px; background:url(../images/common/bg/bg_btn_right.gif) no-repeat right top; cursor:pointer;}

/* title_styles */
.tit_style1 { position:relative; font-size:14px;}
.tit_style1 a { position:absolute; top:-2px; right:0;}

/* paging */
.paging { margin-top:20px; text-align:center; font-family:'Verdana';}
.paging li { display:inline; margin:0 5px;}
.paging li a { color:#191919;font-size:11px; }
.paging li strong { font-size:11px;}
.paging li.li_btn { margin:0;font-size:11px;}

/* pop_style */
.pop_style1, .pop_style2 { display:none; position:absolute; top:159px; left:50%; z-index:1000; width:600px; margin-left:-300px; padding:15px 29px 30px 29px; border:1px solid #e6e5e5; background:#fff; line-height:1.5;}
.pop_style1 .pop_close, .pop_style2 .pop_close { position:absolute; top:16px; right:12px; font-size:0;}
.pop_style1 h3, .pop_style2 h3 { font-size:14px;}

/* tab_style */
.tab_style1 { position:relative; height:32px; font-size:13px;}
.tab_style1 .tabmenu { overflow:hidden; position:absolute; left:0; bottom:0; width:100%; height:32px;}
.tab_style1 .tabmenu li { display:inline; float:left; height:23px; margin:0 -1px 0 -1px; padding:7px 35px 0 35px; border:1px solid #d5d3d3; background:#ecebeb; cursor:pointer; text-align:center; color:#a8a8a8; font-weight:bold;}
.tab_style1 .tabmenu li.current { position:relative; z-index:2; margin:0; border:1px solid #504f4f; background:#666; color:#fffefe;}
.tab_style2 .tab_layout { display:none; padding-top:20px;}

/*progress*/
.progress { overflow:hidden; height:100%; width:auto; zoom:1;}
.progress span { float:right; font-size:11px}
.progress .pb_box { float:left; position:relative; width:50%}
.progress .pb_bg { position:absolute; top:0; right:0; width:3px; height:6px}
.progress .pb_value { height:6px}
.progress .green .pb_value { background:url(../images/common/bg/bg01_green.gif) no-repeat left top}
.progress .green .pb_bg { background:url(../images/common/bg/bg02_green.gif) no-repeat left top}

/* position_box */
.pos_box { position:relative;}

/* Modals */
#modal_overlay{
    position: fixed;width: 100%; height: 100%;  left: 0; top: 0; z-index: 90;/* background:url("../img/common/transparent.png") repeat; */background-color: rgba(0, 0, 0, 0.5); display:none;visibility:hidden;opacity:0;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000)";
    -webkit-transition:visibility .3s ease-in-out, opacity .3s ease-in-out;
    -moz-transition:visibility .3s ease-in-out, opacity .3s ease-in-out;
    -o-transition:visibility .3s ease-in-out, opacity .3s ease-in-out;
    transition:visibility .3s ease-in-out, opacity .3s ease-in-out;
}

#modal_overlay:nth-child(n){filter:none}
#modal_overlay.on{visibility:visible;opacity:1;}

.modal{position: fixed;left:0;right:0;margin:auto;z-index: 100;display:none;visibility: hidden;opacity:0;-webkit-overflow-scrolling: touch;width: 55%; max-width:85%; min-width: 320px; max-height: 90%; min-height: 150px; overflow: hidden;
    -webkit-transform: scale(0.6,0.6);
    -moz-transform: scale(0.6,0.6);
    -ms-transform: scale(0.6,0.6);
    -o-transform: scale(0.6,0.6);
    transform: scale(0.6,0.6);
    -webkit-transition:visibility .4s ease-in-out, opacity .4s ease-in-out, -webkit-transform .3s ease-in-out .4s, width 0.5s cubic-bezier(.67,.04,.32,1);
    -moz-transition:visibility .4s ease-in-out, opacity .4s ease-in-out, -moz-transform .3s ease-in-out .4s, width 0.5s cubic-bezier(.67,.04,.32,1);
    -ms-transition:visibility .4s ease-in-out, opacity .4s ease-in-out, -ms-transform .3s ease-in-out .4s, width 0.5s cubic-bezier(.67,.04,.32,1);
    -o-transition:visibility .4s ease-in-out, opacity .4s ease-in-out, -o-transform .3s ease-in-out .4s, width 0.5s cubic-bezier(.67,.04,.32,1);
    transition:visibility .4s ease-in-out, opacity .4s ease-in-out, transform .3s ease-in-out .4s, width 0.5s cubic-bezier(.67,.04,.32,1);
}
.modal.on{visibility: visible;opacity:1; -webkit-transform: scale(1,1); -moz-transform: scale(1,1); -ms-transform: scale(1,1); -o-transform: scale(1,1); transform: scale(1,1);
    -webkit-transition:visibility .3s ease-in-out, opacity .3s ease-in-out, -webkit-transform .4s cubic-bezier(.67,.04,.32,1) .1s, width 0.5s cubic-bezier(.67,.04,.32,1);
    -moz-transition:visibility .3s ease-in-out, opacity .3s ease-in-out, -moz-transform .4s cubic-bezier(.67,.04,.32,1) .1s, width 0.5s cubic-bezier(.67,.04,.32,1);
    -ms-transition:visibility .3s ease-in-out, opacity .3s ease-in-out, -ms-transform .4s cubic-bezier(.67,.04,.32,1) .1s, width 0.5s cubic-bezier(.67,.04,.32,1);
    -o-transition:visibility .3s ease-in-out, opacity .3s ease-in-out, -o-transform .4s cubic-bezier(.67,.04,.32,1) .1s, width 0.5s cubic-bezier(.67,.04,.32,1);
    transition:visibility .3s ease-in-out, opacity .3s ease-in-out, transform .4s cubic-bezier(.67,.04,.32,1) .1s, width 0.5s cubic-bezier(.67,.04,.32,1);
}
.modal > .inner{position: relative;background-color: #fff;width: 100%; height: 100%; padding: 0;}
.modal > .inner:after{content: '';display: block;clear: both;}
.modal > .inner .modal_header { padding: 20px; padding-right: 60px; background-color: #35363e; }
.modal > .inner .modal_header > h1{color: #fff; font-size: 15px; }
.modal > .inner .modal_content { padding: 0 20px;  overflow-y: auto; overflow-x: hidden; color: #666;}
.modal > .inner .modal_footer { padding: 20px; }
.modal > .inner .modal_footer .btn_group { margin-top: 0; }

.modal button.modal_close {position: absolute;top: 15px;right: 15px;z-index: 3;width: 30px;height: 30px;overflow: hidden; background-color: transparent; border: 0; }
.modal button.modal_close img { width: 100%; }

/* Forms */
.ipt {border: 1px solid #bfbfbf; color: #666; padding:0 10px; height: 30px; line-height: 30px; box-sizing: border-box;}
textarea.ipt { height: auto; }
.ipt.w100p{width: 100%;}
.ipt_group { margin-bottom: 5px; position: relative; display: table; width: 100%; }
.ipt_group .ipt { display: table-cell; position: relative; z-index: 2; float: left; width: 100%; }
.ipt_left,
.ipt_right { display: table-cell; position: relative; width: 1%; white-space: nowrap; vertical-align: middle; }
.ipt_right { padding-left: 8px; }
.ipt_right.addon { padding-left: 0; }
.ipt_right.addon > * { border-left: 0; }
.ipt_right > .btn { height: 30px; line-height: 30px; }
.ipt_left { padding-right: 8px; }
.ipt_left.addon { padding-right: 0; }
.ipt_left.addon > * { border-right: 0; }

/* Buttons */
a.btn{display: inline-block;}
.btn{
  width: auto; min-width: 30px; height: 30px; padding:0 15px; font-size: 13px; line-height: 30px; text-align: center; box-sizing: border-box; vertical-align: middle; white-space: nowrap; cursor: pointer;  border:1px solid #273246; color: #273246; background-color: #fff; overflow: hidden;
}
.btn > img { vertical-align: middle; display: inline-block; }
.btn.small{ height:25px; font-size: 13px; line-height: 25px; }
.btn.large { height: 65px; line-height: 65px; }
.btn.disabled { pointer-events: none; background-color: #DFDFDF !important; box-shadow: none; color: #9F9F9F !important; cursor: default; }
.btn.radius { border-radius: .25em; }
.btn.radius20 { border-radius: 20px; }
.btn.radius20.large { border-radius: 40px; }
.btn.radius20.small { border-radius: 60px; }
.btn.floating { padding: 0; width: 40px;  height: 40px; min-width: inherit; max-width: inherit; line-height: 40px; border-radius: 50%; font-size: 30px; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); }
.btn.floating.large { width: 65px; height: 65px; line-height: 65px; }
.btn.floating.small { width: 25px; height: 25px; line-height: 25px; }
.btn.floating.trans { width: 35px; height: 35px; line-height: 35px; box-shadow: inherit; }
.btn.trans{border:1px solid transparent; background-color: transparent;}
.btn.blue{border:1px solid #6b90d4; color: #fff; background-color: #6b90d4;}
.btn.blue_trans{border:1px solid #6b90d4; color: #6b90d4; background-color: transparent;}
.btn.black{border:1px solid #273246; color: #fff; background-color: #273246;}
.btn.red{border:1px solid #f96b5f; color: #fff; background-color: #f96b5f;}
.btn.red_trans{border:1px solid #f96b5f; color: #f96b5f; background-color: transparent;}
.btn.green{border:1px solid #5dd6b7; color: #fff; background-color: #5dd6b7;}
.btn_group { position: relative; vertical-align: middle; margin-top: 25px; }
.btn_group.center { text-align: center; }
.btn_group.left { text-align: left; }
.btn_group.right { text-align: right; }



.rec_prd_list {  }
.rec_prd_list li { display: inline-block; width: 25%; max-width: 200px; padding: 20px; box-sizing: border-box; }
.rec_prd_list li .photo { background-color: #f7f7f7; border: 1px solid #ddd; width: 100%; padding-bottom: 100%; position: relative; }
.rec_prd_list li .photo:before { content: 'NONE'; color: #ccc; font-weight: 600; font-size: 20px; text-align: center; width: 100%; position: absolute; top: 50%; left: 0; line-height: 20px; height: 20px; margin-top: -10px; z-index: 1; }
.rec_prd_list li .photo img { position: absolute; top: 0; left: 0; width: 100%; z-index: 2; }
.rec_prd_list li .title { height: 20px; line-height: 20px; margin: 5px 0 10px; font-weight: 600; overflow: hidden; }
.rec_prd_list li .btns a { color: #333; background-color: #f6f6f6; width: 100%; border: 1px solid #d9d9d9; padding: 2px; display: block; text-align: center; }
.rec_prd_list li .btns a:link { text-decoration: none; }

#searchRecPrd { max-width: 400px; height: 600px; }
#searchRecPrd .searchArea { margin-top: 20px; }
#searchRecPrd .searchResult ul { overflow: hidden; margin: 0 -10px; }
#searchRecPrd .searchResult ul li a { color: #333; }
#searchRecPrd .searchResult ul li a:link { text-decoration: none; }
#searchRecPrd .searchResult ul li { float: left; width: 50%; padding: 10px; box-sizing: border-box; }
#searchRecPrd .searchResult li .photo { background-color: #f7f7f7; border: 1px solid #ddd; width: 100%; padding-bottom: 100%; position: relative; }
#searchRecPrd .searchResult li .photo:before { content: 'NONE'; color: #ccc; font-weight: 600; font-size: 20px; text-align: center; width: 100%; position: absolute; top: 50%; left: 0; line-height: 20px; height: 20px; margin-top: -10px; z-index: 1; }
#searchRecPrd .searchResult li .photo img { position: absolute; top: 0; left: 0; width: 100%; z-index: 2; }
#searchRecPrd .searchResult li .title { height: 20px; line-height: 20px; margin: 5px 0 0; font-weight: 600; overflow: hidden; }
















































