
/* popup */
.popup_wrap { width:840px; padding:15px 20px; margin:0 auto; line-height:1.5; font-family:'Dotum'; color:#363636;}
.popup_wrap h2 { margin-bottom:10px; font-size:20px;}

/* 주문상세보기 */
.order_infor { position:relative; margin-bottom:25px; padding:0 0 2px 0; border:1px solid #d9d9d9; background:#f6f6f6;}
.order_infor p { padding:8px 10px 1px 10px; border-top:1px solid #d9d9d9; font-size:13px;}
.order_infor p.first { border-top:none;}
.order_infor p strong{ color:#215968;}
.order_infor p span { color:#eb5e00; text-decoration:underline; font-weight:bold;}
.order_infor .right_btn { position:absolute; top:4px; right:15px;}

.order_infor2 { margin-top:25px;}
.order_infor2 h3 { padding-top:2px; font-size:14px;}
.order_infor2 .table01 { margin-top:5px;}
.order_infor2 .order_left { position:relative;}
.order_infor2 .order_left .btn_save { position:absolute; top:0; right:0;}
.order_infor2 .process_list { overflow:auto; height:100px; margin-top:4px; padding:5px; border:1px solid #d9d9d9; background:#f6f6f6;}

.order_pos { position:relative;}
.order_pos .right_btn { position:absolute; top:0; right:0;}

.price_infor { margin-top:25px;}
.price_infor .price { overflow:hidden; color:#393939; font-size:13px; font-weight:bold; line-height:1.4;}
.price_infor .price li { overflow:hidden; display:inline; float:left; width:100px;}
.price_infor .price li.first { width:70px;}
.price_infor .price li .ico_box { display:inline; float:left; width:20px; margin:5px 10px 0 0;}
.price_infor .price li .txt { float:left; width:70px;}
.price_infor .result { overflow:hidden; width:120px; margin:20px auto 0 auto; color:#393939; font-size:13px; font-weight:bold; line-height:1.4;}
.price_infor .result .ico_box { display:inline; float:left; width:20px; margin:5px 10px 0 0;}
.price_infor .result p { float:left; width:90px;}

/* 우편번호 찾기 */
.zip_search { margin-top:5px; padding:11px 20px 8px 20px; border:1px solid #d9d9d9; background:#f6f6f6;}
.zip_search strong { display:inline-block; width:45px; position:relative; top:2px;}
.zip_search p { margin-top:10px;}
.zip_search p span { margin-left:20px; color:#666;}
.zip_tbl { margin-top:10px; border-collapse:collapse;}
.zip_tbl th { padding:8px 0 3px 0; border:1px solid #d9d9d9; background:#f6f6f6;}
.zip_tbl td { padding:8px 0 3px 0; border:1px solid #d9d9d9; text-align:center;}
.zip_tbl td.td_left { padding-left:10px; text-align:left;}
.zip_tbl td a { color:#0355ba;}
































