.archive-title {
	position:relative;
	border-bottom:1px solid #DEDEDE;
	padding:10px;
}
.archive-pagenavi {
	position:absolute;
	width:100%;
	left:0;
	top:13px;
}
.archive-pagenavi .prev {
	position:absolute;
	left:10px;
	width:25px;
	height:25px;
}
.archive-pagenavi .next {
	position:absolute;
	right:10px;
	width:25px;
	height:25px;
}
.archive-view {
	margin:25px;
	text-align:left;
}
.dailylist {
	margin:15px;
}
.dailylist li {
	float:left;
	display:block;
	margin-right:15px;
	text-align:center;
}
.dailylist li img {
	margin-bottom:5px;
}
.dailylist li p {
	margin-bottom:0;
}
.comment-wrap {
	background:#F9F9F9;
	border:1px solid #DDD;
	border-width:1px 1px 2px 1px;
	padding:0 20px 40px 20px;
	padding:20px;
	text-align: left;
}
.comment-wrap textarea {
	border:1px solid #DDD;
	height:50px;
	padding:10px;
	font-size:13px;
	width:98%;
}
.comment.depth-1 {
	width:100%;
	margin-top:20px;
}

/*201408 VB¿Ã∫•∆Æ*/
.eventWrap{position:relative;width:920px;height:1677px;}
.ev_code{position:absolute;top:508px;left:223px;width:304px;height:40px;font-size:28px;font-weight:bold;font-color:#000;font-family:dotum;line-height:28px;}