
.login .login_form dd.dd02 { margin-top:2px;}
#lnb, #lnb li a { zoom:1;}
#location { height:29px; padding-top:13px;}
.table01 td { height:30px;}
.table02 th { padding-top:6px;}
.main_title { height:25px!important; padding-top:9px!important;}
.main_title h2 a { top:-2px!important;}
.main_tbl01 thead th.today img { margin-top:-4px;}
.inventory_num .input_num { margin-top:-1px;}
