
html { overflow-y:scroll;}
body, html { width:100%; height:100%; background-color:#d4d4d4; font-family:'Gulim'; line-height:150%;}

/* wrap */
#wrap { min-width:1250px;}

/* header */
#header { position:relative; height:109px; background:#35363e url(../images/common/layout/bgline_header.gif) repeat-x left bottom;}
#header h1 { position:absolute; top:24px; left:54px; width:100px; height:58px; background:url(../images/common/layout/logo.gif) no-repeat left top; text-indent:-5000px;}
#header h1 a { display:block; width:100px; height:58px;}

/* gnb */
#gnb { position:absolute; top:13px; left:203px; height:79px;}
#gnb li { display:inline; float:left; width:104px; background:url(../images/common/layout/bgline_gnb.gif) no-repeat right top;}
#gnb li#mNavi10 { background:none;}

/* container */
#container { position:relative; z-index:2; margin-top:8px; padding:0 12px 20px 0;}

/* sidebar */
#sidebar { position:relative; display:inline; float:left; width:185px; margin-left:8px; padding:18px 0 35px 0; background:#35363e;}
#sidebar .bgtop_sidebar { position:absolute; top:0; left:0; width:185px; height:8px; background:url(../images/common/layout/bgtop_sidebar.gif) no-repeat left top;}
#sidebar .bgbtm_sidebar { position:absolute; bottom:0; left:0; width:185px; height:8px; background:url(../images/common/layout/bgbtm_sidebar.gif) no-repeat left bottom;}
#sidebar h2 { height:35px; text-align:center; color:#fff; font-size:18px; line-height:1.2;}
#sidebar .welcome { margin-top:36px; color:#d2d2d2; text-align:center;}
#sidebar .logout { margin-top:19px; text-align:center;}

/* lnb */
#lnb { margin:0 6px 0 7px; background:#fff;}
#lnb li a { display:block; padding:8px 0 3px 14px; background:#e8e8e8; color:#111; font-size:13px; line-height:1.6; font-weight:bold;}
#lnb li a:hover, #lnb li a:focus, #lnb li a:active, #lnb li a.hover { background:#f2efc6 url(../images/common/layout/bg_lnb.gif) no-repeat right center; color:#111; text-decoration:none;}
#lnb li ul { margin-bottom:1px; padding:6px 0 7px 0; border-top:1px solid #dadada; border-bottom:1px solid #dadada;}
#lnb li ul li a { padding:5px 0 1px 25px; background:none; color:#626262; font-size:12px; line-height:1.2; font-weight:normal;}
#lnb li ul li a:hover, #lnb li ul li a:focus, #lnb li ul li a:active, #lnb li ul li a.hover { background:none; color:#ed4300;}
#lnb li ul li a.hover { font-weight:bold;}
#lnb li a.bgtop_lnb { background:url(../images/common/layout/bgtop_lnb.gif) no-repeat left top;}
#lnb li a.bgtop_lnb:hover, #lnb li a.bgtop_lnb:focus, #lnb li a.bgtop_lnb:active, #lnb li a.bgtop_lnb.hover { background:url(../images/common/layout/bgtop_lnb_on.gif) no-repeat left top;}
#lnb li ul.bgbtm_lnb { margin-bottom:0; padding-bottom:14px; border-bottom:none; background:url(../images/common/layout/bgbtm_lnb.gif) no-repeat left bottom;}

/* incon */
#incon { margin-left:201px;}

/* location */
#location { position:relative; height:28px; padding:14px 0 0 25px; background:url(../images/common/layout/bgleft_location.gif) no-repeat left top;}
#location .bgright_location { position:absolute; top:0; right:0; width:19px; height:42px; background:url(../images/common/layout/bgright_location.gif) no-repeat right top;}
#location .whole_menu { position:absolute; top:17px; right:19px; line-height:1; font-size:0;}
#location .whole_menu a { margin-left:22px;}
#location #path { color:#aeaeae; font-size:12px; font-weight:bold;}
#location #path strong { color:#fff; font-size:14px;}
#location #path img { margin-top:-3px;}

/* contents */
#contents { margin:0 2px 0 1px; padding:25px 40px 55px 40px; border:1px solid #ccc; background:#fff; color:#363636; line-height:1.5;}
