.promotiontabNavi {
	margin-left: 6px;
}
.promotiontabNavi li {
	float: left;
	margin-right: 5px;
}
.eventchapter {
	position: relative;
}
.eventchapter .support {
	display: block;
	position: absolute;
	width: 108px;
	height: 108px;
}
.eventchapter .support.a-part {
	left: 49px;
	top: 348px;
}
.eventchapter .support.b-part {
	left: 204px;
	top: 348px;
}
.eventchapter .a-account {
	position: absolute;
	left: 37px;
	top: 666px;
}
.eventchapter .b-account {
	position: absolute;
	left: 198px;
	top: 666px;
}
.eventchapter .a-account input, .eventchapter .b-account input {
	width: 124px;
	height: 62px;
	font-size: 44px;
	font-weight: 700;
	line-height: 62px;
	text-align: center;
	border: none;
	background: transparent;
}
.eventchapter .diary-btn-a, .eventchapter .diary-btn-b {
	position: absolute;
	display: block;
	width: 102px;
	height: 92px;
}
.eventchapter .diary-btn-a {
	left: 377px;
	top: 310px;
}
.eventchapter .diary-btn-b {
	left: 884px;
	top: 310px;
}
.eventchapter .support-btn {
	position: absolute;
	display: block;
	left: 28px;
	top: 558px;
	width: 344px;
	height: 54px;
}
.eventchapter .choi-diary {
	position: absolute;
	left: 28px;
	top: 65px;
	width: 460px;
	height: 266px;
}
.eventchapter .choi-diary ul, .eventchapter .lee-diary ul {
	margin: 25px 30px 20px;
}
.eventchapter .advisor-comment ul {
	margin: 15px 30px;
}
.eventchapter .choi-diary ul li, .eventchapter .lee-diary ul li, .eventchapter .advisor-comment ul li {
	line-height: 200%;
}
.eventchapter .choi-diary span, .eventchapter .lee-diary span, .eventchapter .advisor-comment span {
	padding-right: 40px;
}
.eventchapter .choi-diary span {
	color: #00A4A6;
}
.eventchapter .lee-diary {
	position: absolute;
	left: 533px;
	top: 65px;
	width: 460px;
	height: 266px;
}
.eventchapter .lee-diary span {
	color: #EF6797;
}
.eventchapter .advisor-comment {
	position: absolute;
	left: 285px;
	top: 360px;
	width: 712px;
	height: 167px;
}
.pageNavipr {
	margin: 0 auto;
	font-size: 11px;
	clear: both;
	display: block;
	text-align: center;
	padding: 3px;
	height: 15;
	line-height: 15px;
}
.pageNavipr span.current {
	color: #FF6600;
}
.pageNavipr a, .pageNavipr span {
	color: #555;
	display: inline-block;
	zoom: 1;
	display: -moz-inline-stack;
 *display:inline/*IE7 HACK*/;
	_display: inline;/*IE6 HACK*/
	font-size: 11px;
	margin-left: 3px;
	text-align: center;
	width: 15px;
}

/*201408 VB¿Ã∫•∆Æ*/
.eventWrap{position:relative;width:920px;height:1677px;}
.ev_code{position:absolute;top:508px;left:223px;width:304px;height:40px;font-size:28px;font-weight:bold;font-color:#000;font-family:dotum;line-height:28px;}