<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bbs">
	<select id="bbsNm" parameterType="zvl" resultType="zvl">
		SELECT
			CODE_NM bbsNm
		FROM
			CMMN_CD_MASTR
		WHERE
			UPPER_CD = 'BN00'
			AND CODE = #{bbsCd}
	</select>
	
	<select id="bbsType" parameterType="zvl" resultType="zvl">
		SELECT BBS_TYPE
			FROM BBS_TYPE 
			WHERE 1=1
				AND BBS_CD = #{bbsCd}
	</select>
	
	<select id="bbsList" parameterType="zvl" resultType="zvl">
		SET @ROWNUM:=0;
		
		SELECT
			ROWNUM,
			SEQ,
			BBS_CD,
			CATEGORY,
			HEAD_CATEGORY_TEXT,
			SUBJECT,
			CONTENTS,
			ANSWER,
			ANSWER_ID,
			ANSWER_DT,
			READ_COUNT,
			ATCHMNFL_ID,
			IMG_NM,
			REGIST_ID,
			REGIST_DT,
			DELETE_YN
		FROM
		(
			SELECT
				@ROWNUM:=@ROWNUM+1 ROWNUM,
				SEQ, 
				BBS_CD,
				CATEGORY,
				HEAD_CATEGORY_TEXT,
				SUBJECT,
				CONTENTS,
				ANSWER,
				ANSWER_ID,
				ANSWER_DT,
				READ_COUNT,
				ATCHMNFL_ID,
				IMG_NM,
				REGIST_ID,
				DATE_FORMAT(REGIST_DT, '%Y.%m.%d') REGIST_DT,
				DELETE_YN
			FROM
				GNRL_BBS
			WHERE
				BBS_CD = #{bbsCd}
				AND DELETE_YN = 'N'
				AND (SUBJECT != '' AND SUBJECT IS NOT NULL)   
			<if test='srchOpt != "" and srchOpt != null'>
				<choose>
					<when test='srchOpt == "1"'>
						AND SUBJECT LIKE CONCAT('%', #{srchStr}, '%') 
					</when>
					<when test='bbsCd == "BN02" '>
						<choose>
							<when test='srchOpt == "2"'>
								AND ANSWER LIKE CONCAT('%', #{srchStr}, '%')
							</when>
							<when test='srchOpt == "3"'>
								AND CONCAT(SUBJECT,ANSWER) REGEXP #{srchStr}
								<!-- AND (SUBJECT LIKE CONCAT('%', #{srchStr}, '%') || CONTENTS LIKE CONCAT('%', #{srchStr}, '%')) --> 
							</when>
						</choose>
					</when>
					<otherwise>
						<choose>
							<when test='srchOpt == "2"'>
								AND CONTENTS LIKE CONCAT('%', #{srchStr}, '%')
							</when>
							<when test='srchOpt == "3"'>
								AND CONCAT(SUBJECT,CONTENTS) REGEXP #{srchStr}
							</when>
						</choose>
					</otherwise>
				</choose>
			</if>
			<if test="bbsCd == 'BN03'">
				AND REGIST_ID = #{userId}
			</if>
			<if test='category != "" and category != null and category != "ML00"'>
				AND CATEGORY = #{category}
			</if>
			ORDER BY SEQ
		)A
		ORDER BY ROWNUM DESC
	<if test="recordCountPerPage != null and firstIndex != null ">
		LIMIT #{recordCountPerPage} OFFSET #{firstIndex}			
	</if>
	</select>
	
	<update id="bbsDeleteThread" parameterType="zvl">
		UPDATE GNRL_BBS SET
			DELETE_DT = NOW(),
			DELETE_ID = #{adminId},
			DELETE_YN = 'Y'
		WHERE
			SEQ = #{bbsSeq} 
	</update>
	
	<select id="bbsListCnt" parameterType="zvl" resultType="int">
		SELECT 
			COUNT(*)
		FROM
			GNRL_BBS
		WHERE
			BBS_CD = #{bbsCd}
			AND DELETE_YN = 'N'
			AND (SUBJECT != '' AND SUBJECT IS NOT NULL)   
			<if test='srchOpt != "" and srchOpt != null'>
				<choose>
					<when test='srchOpt == "1"'>
						AND SUBJECT LIKE CONCAT('%', #{srchStr}, '%') 
					</when>
					<when test='bbsCd == "BN02" '>
						<choose>
							<when test='srchOpt == "2"'>
								AND ANSWER LIKE CONCAT('%', #{srchStr}, '%')
							</when>
							<when test='srchOpt == "3"'>
								AND CONCAT(SUBJECT,ANSWER) REGEXP #{srchStr}
								<!-- AND (SUBJECT LIKE CONCAT('%', #{srchStr}, '%') || CONTENTS LIKE CONCAT('%', #{srchStr}, '%')) --> 
							</when>
						</choose>
					</when>
					<otherwise>
						<choose>
							<when test='srchOpt == "2"'>
								AND CONTENTS LIKE CONCAT('%', #{srchStr}, '%')
							</when>
							<when test='srchOpt == "3"'>
								AND CONCAT(SUBJECT,CONTENTS) REGEXP #{srchStr}
							</when>
						</choose>
					</otherwise>
				</choose>
			</if>
		<if test='category != "" and category != null and category != "ML00"'>
			AND CATEGORY = #{category}
		</if>
		<if test="bbsCd == 'BN03'">
			AND REGIST_ID = #{userId}
		</if>
	</select>
	
	<update id="bbsViewCntIncrease" parameterType="zvl">
		UPDATE GNRL_BBS SET
			READ_COUNT = READ_COUNT + 1
		WHERE
			BBS_CD = #{bbsCd}
			AND SEQ = #{bbsSeq}
	</update>
	
	<select id="bbsView" parameterType="zvl" resultType="zvl">
		SELECT
			A.SEQ,
			B.CODE_NM bbsNm,
			A.SUBJECT,
			A.CATEGORY,
			A.HEAD_CATEGORY_TEXT,
			A.SOURCE,
			A.CONTENTS,
			A.ANSWER,
			A.ANSWER_ID,
			D.USER_NM ANSWER_NM,
			DATE_FORMAT(A.ANSWER_DT, '%Y.%m.%d') ANSWER_DT,
			A.READ_COUNT,
			A.ATCHMNFL_ID,
			A.ANSWER_ATCHMNFL_ID,
			DATE_FORMAT(A.REGIST_DT, '%Y.%m.%d') REGIST_DT,
			A.REGIST_ID,
			C.USER_NM REGIST_NM
		FROM
			GNRL_BBS A
			LEFT JOIN CMMN_CD_MASTR B ON A.BBS_CD = B.CODE
			LEFT JOIN USER_MASTR C ON A.REGIST_ID = C.USER_ID
			LEFT JOIN USER_MASTR D ON A.ANSWER_ID = D.USER_ID
			LEFT JOIN INSTITUTION_MASTR E ON D.INSTT_CD = E.INSTT_CD
		WHERE
			A.BBS_CD = #{bbsCd}
			AND B.UPPER_CD = 'BN00'
			AND SEQ = #{bbsSeq}
			AND A.DELETE_YN = 'N'
			AND B.DELETE_YN = 'N'
			<if test="bbsCd == 'BN03'">
				AND A.REGIST_ID = #{userId}
			</if>
	</select>

	<select id="bbsAttachFileList" parameterType="zvl" resultType="zvl">
		SELECT 
			A.SEQ,
			A.ATCHMNFL_ID,
			'' ANSWER_ATCHMNFL_ID,
			C.FILE_ID,
			C.FILE_NAME,
			C.SAVE_FILE_NAME,
			C.FILE_PATH,
			C.MIME_TYPE,
			SUBSTRING(C.FILE_EXTSN,1,3) fileExtsn
		FROM 
			GNRL_BBS A
			JOIN ATTACHMENT_FILE_MAP B ON A.ATCHMNFL_ID = B.ATCHMNFL_ID
			JOIN ATTACHMENT_FILE_MASTR C ON B.FILE_ID = C.FILE_ID
		WHERE 1=1
			AND A.BBS_CD = #{bbsCd}
			<if test='bbsSeq != "" and bbsSeq != null'>
				AND A.SEQ = #{bbsSeq}
			</if>
			<if test='srchOpt != "" and srchOpt != null'>
				<choose>
					<when test='srchOpt == "1"'>
						AND SUBJECT LIKE CONCAT('%', #{srchStr}, '%') 
					</when>
					<when test='bbsCd == "BN02" '>
						<choose>
							<when test='srchOpt == "2"'>
								AND ANSWER LIKE CONCAT('%', #{srchStr}, '%')
							</when>
							<when test='srchOpt == "3"'>
								AND CONCAT(SUBJECT,ANSWER) REGEXP #{srchStr}
								<!-- AND (SUBJECT LIKE CONCAT('%', #{srchStr}, '%') || CONTENTS LIKE CONCAT('%', #{srchStr}, '%')) --> 
							</when>
						</choose>
					</when>
					<otherwise>
						<choose>
							<when test='srchOpt == "2"'>
								AND CONTENTS LIKE CONCAT('%', #{srchStr}, '%')
							</when>
							<when test='srchOpt == "3"'>
								AND CONCAT(SUBJECT,CONTENTS) REGEXP #{srchStr}
							</when>
						</choose>
					</otherwise>
				</choose>
			</if>
		<if test='category != "" and category != null and category != "ML00"'>
			AND A.CATEGORY = #{category}
		</if>
		UNION ALL
		SELECT 
			A.SEQ,
			'' ATCHMNFL_ID,
			A.ANSWER_ATCHMNFL_ID,
			C.FILE_ID,
			C.FILE_NAME,
			C.SAVE_FILE_NAME,
			C.FILE_PATH,
			C.MIME_TYPE,
			SUBSTRING(C.FILE_EXTSN,1,3) fileExtsn
		FROM 
			GNRL_BBS A
			JOIN ATTACHMENT_FILE_MAP B ON A.ANSWER_ATCHMNFL_ID = B.ATCHMNFL_ID
			JOIN ATTACHMENT_FILE_MASTR C ON B.FILE_ID = C.FILE_ID
		WHERE 
			1=1
			AND A.BBS_CD = #{bbsCd}
			<if test='bbsSeq != "" and bbsSeq != null'>
				AND A.SEQ = #{bbsSeq}
			</if>
			<if test='srchOpt != "" and srchOpt != null'>
				<choose>
					<when test='srchOpt == "1"'>
						AND SUBJECT LIKE CONCAT('%', #{srchStr}, '%') 
					</when>
					<when test='bbsCd == "BN02" '>
						<choose>
							<when test='srchOpt == "2"'>
								AND ANSWER LIKE CONCAT('%', #{srchStr}, '%')
							</when>
							<when test='srchOpt == "3"'>
								AND CONCAT(SUBJECT,ANSWER) REGEXP #{srchStr}
								<!-- AND (SUBJECT LIKE CONCAT('%', #{srchStr}, '%') || CONTENTS LIKE CONCAT('%', #{srchStr}, '%')) --> 
							</when>
						</choose>
					</when>
					<otherwise>
						<choose>
							<when test='srchOpt == "2"'>
								AND CONTENTS LIKE CONCAT('%', #{srchStr}, '%')
							</when>
							<when test='srchOpt == "3"'>
								AND CONCAT(SUBJECT,CONTENTS) REGEXP #{srchStr}
							</when>
						</choose>
					</otherwise>
				</choose>
			</if>
		<if test='category != "" and category != null and category != "ML00"'>
			AND A.CATEGORY = #{category}
		</if>
	</select>
	
	<select id="bbsAttachFileCnt" parameterType="zvl" resultType="int">
		SELECT 
			COUNT(*)
		FROM
			ATTACHMENT_FILE_MAP
		WHERE
			ATCHMNFL_ID = #{atchmnfl_id}
	</select>
	
	<insert id="bbsThreadInsert" parameterType="zvl" useGeneratedKeys="true" keyProperty="bbsSeq" keyColumn="bbsSeq">
		INSERT INTO GNRL_BBS 
		(
			BBS_CD,
			SUBJECT,
			CONTENTS,
			ATCHMNFL_ID,
			REGIST_DT,
			REGIST_ID
		)
		VALUES 
		( 
			#{bbsCd},
			#{subject}, 
			#{contents}, 
			#{atchmnfl_id}, 
			NOW(), 
			#{user_id}
		);
		
		<selectKey keyProperty="bbsSeq" resultType="String">
			SELECT LAST_INSERT_ID() SEQ;
		</selectKey>

		<if test='file_ids != null and file_ids != ""'>
			INSERT ATTACHMENT_FILE_MAP 
			(
				ATCHMNFL_ID, 
				FILE_ID, 
				TABLE_NM, 
				TABLE_ID, 
				REGIST_DT, 
				REGIST_ID, 
				DELETE_YN
			)
			SELECT
				#{atchmnfl_id}, 
				FILE_ID, 
				'GNRL_BBS', 
				LAST_INSERT_ID(), 
				NOW(), 
				#{user_id}, 
				'N'
			FROM
				ATTACHMENT_FILE_MASTR
			WHERE
				FILE_ID IN 
			<foreach collection="file_ids" item="item" open="(" close=")" separator = "," >
 				#{item}
			</foreach>
		</if>
	</insert>
	
	<insert id="bbsThreadFileInsert" parameterType="zvl" useGeneratedKeys="true" keyProperty="bbsSeq" keyColumn="bbsSeq">
		INSERT INTO GNRL_BBS 
		(
			BBS_CD,
			ATCHMNFL_ID,
			REGIST_DT,
			REGIST_ID
		)
		VALUES 
		( 
			#{bbsCd},  
			#{atchmnfl_id}, 
			NOW(), 
			#{user_id}
		);
		
		<selectKey keyProperty="bbsSeq" resultType="String">
			SELECT LAST_INSERT_ID() SEQ;
		</selectKey>

		<if test='file_ids != null and file_ids != ""'>
			INSERT ATTACHMENT_FILE_MAP 
			(
				ATCHMNFL_ID, 
				FILE_ID, 
				TABLE_NM, 
				TABLE_ID, 
				REGIST_DT, 
				REGIST_ID, 
				DELETE_YN
			)
			SELECT
				#{atchmnfl_id}, 
				FILE_ID, 
				'GNRL_BBS', 
				LAST_INSERT_ID(), 
				NOW(), 
				#{user_id}, 
				'N'
			FROM
				ATTACHMENT_FILE_MASTR
			WHERE
				FILE_ID IN 
			<foreach collection="file_ids" item="item" open="(" close=")" separator = "," >
 				#{item}
			</foreach>
		</if>
	</insert>
	
	<update  id="bbsThreadUpdate" parameterType="zvl">
		UPDATE GNRL_BBS SET
			SUBJECT = #{subject},
			CONTENTS = #{contents},
			ATCHMNFL_ID = #{atchmnfl_id},
			UPDT_DT = NOW(),
			UPDT_ID = #{user_id}
		WHERE
			SEQ = #{bbsSeq}
		;
			  
		<if test='file_ids != null and file_ids != ""'>
			INSERT ATTACHMENT_FILE_MAP 
			(
				ATCHMNFL_ID, 
				FILE_ID, 
				TABLE_NM, 
				TABLE_ID, 
				REGIST_DT, 
				REGIST_ID, 
				DELETE_YN
			)
			SELECT
				#{atchmnfl_id}, 
				FILE_ID, 
				'GNRL_BBS', 
				LAST_INSERT_ID(), 
				NOW(), 
				#{user_id}, 
				'N'
			FROM
				ATTACHMENT_FILE_MASTR
			WHERE
				FILE_ID IN 
			<foreach collection="file_ids" item="item" open="(" close=")" separator = "," >
 				#{item}
			</foreach>
		</if>
	</update>
	
	<update  id="bbsThreadFileUpdate" parameterType="zvl">
		UPDATE GNRL_BBS SET
			ATCHMNFL_ID = #{atchmnfl_id},
			UPDT_DT = NOW(),
			UPDT_ID = #{user_id}
		WHERE
			SEQ = #{bbsSeq}
		;
			  
		<if test='file_ids != null and file_ids != ""'>
			INSERT ATTACHMENT_FILE_MAP 
			(
				ATCHMNFL_ID, 
				FILE_ID, 
				TABLE_NM, 
				TABLE_ID, 
				REGIST_DT, 
				REGIST_ID, 
				DELETE_YN
			)
			SELECT
				#{atchmnfl_id}, 
				FILE_ID, 
				'GNRL_BBS', 
				LAST_INSERT_ID(), 
				NOW(), 
				#{user_id}, 
				'N'
			FROM
				ATTACHMENT_FILE_MASTR
			WHERE
				FILE_ID IN 
			<foreach collection="file_ids" item="item" open="(" close=")" separator = "," >
 				#{item}
			</foreach>
		</if>
	</update>
	
	<delete id="bbsAttachFileDelete" parameterType="zvl">
		DELETE FROM
			ATTACHMENT_FILE_MASTR
		WHERE
			FILE_ID = #{file_id};

		DELETE FROM
			ATTACHMENT_FILE_MAP
		WHERE
			ATCHMNFL_ID = #{atchmnfl_id}
			AND FILE_ID = #{file_id};
	</delete>
	
	<update id="bbsAttachFileDeleteId" parameterType="zvl">
		UPDATE GNRL_BBS SET
			ATCHMNFL_ID = ''
		WHERE
			SEQ = #{bbsSeq};
	</update>
	
	<select id="bbsThreadCnt" parameterType="zvl" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			GNRL_BBS
		WHERE 
			SEQ = #{bbsSeq}
	</select>
	
	<insert id="bbsAnswerFileInsert" parameterType="zvl" useGeneratedKeys="true" keyProperty="bbsSeq" keyColumn="bbsSeq">

		<if test='file_ids != null and file_ids != ""'>
			INSERT ATTACHMENT_ANSWER_FILE_MAP 
			(
				BBS_SEQ,
				FILE_ID, 
				INSTT_CD,
				INSTT_NM,
				REGIST_ID, 
				REGIST_DT 
			)
			SELECT
				#{bbsSeq},
				FILE_ID, 
				#{insttCd},
				#{insttNm}, 
				#{user_id},
				NOW()
			FROM
				ATTACHMENT_FILE_MASTR
			WHERE
				FILE_ID IN 
			<foreach collection="file_ids" item="item" open="(" close=")" separator = "," >
 				#{item}
			</foreach>
		</if>
	</insert>
	
	<select id="selectUserInstt" parameterType="zvl" resultType="zvl">
		SELECT 
				A.INSTT_CD,
				A.INSTT_NM
		FROM 
				INSTITUTION_MASTR A
				LEFT JOIN USER_MASTR B ON A.INSTT_CD = B.INSTT_CD 
		WHERE 1=1 
			AND B.USER_ID = #{user_id}
	</select>
	
	<select id="bbsAnswerFileList" parameterType="zvl" resultType="zvl">
		SELECT 
				A.SEQ,
				A.BBS_SEQ,
				A.INSTT_CD,
				A.INSTT_NM,
				A.REGIST_ID,
				A.REGIST_DT,
				B.FILE_ID,
				B.FILE_NAME,
				B.SAVE_FILE_NAME,
				B.FILE_PATH,
				B.MIME_TYPE,
				SUBSTRING(B.FILE_EXTSN,1,3) fileExtsn
		FROM 
			ATTACHMENT_ANSWER_FILE_MAP A
			JOIN ATTACHMENT_FILE_MASTR B ON A.FILE_ID = B.FILE_ID
		WHERE 1=1
			AND A.BBS_SEQ = #{bbsSeq}
		<if test='insttCd != "" and insttCd != null'>
			AND A.INSTT_CD = #{instt_cd}
		</if>
	</select>
	
 	<select id="bbsImgList" parameterType="zvl" resultType="zvl">
		SELECT 
			BBS_SEQ,
			BBS_CD,
			IMG_ORIGINAL_NM,
			IMG_NM,
			IMG_PATH,
			USE_YN,
			REGIST_DT,
			REGIST_ID
		FROM
			GNRL_BBS_IMG
		WHERE 1=1
				AND BBS_CD = #{bbsCd}
			<if test='bbsSeq != "" and bbsSeq != null'>
				AND BBS_SEQ = #{bbsSeq}
			</if>
	</select>
	
	<select id="bbsPrev" parameterType="zvl" resultType="zvl">
		SELECT 
				SEQ,
				BBS_CD,
				SUBJECT
			FROM GNRL_BBS
			WHERE 1=1
				AND SEQ <![CDATA[<]]> #{bbsSeq}
				AND BBS_CD = #{bbsCd} 
			<if test="bbsCd == 'BN03'">
				AND REGIST_ID = #{userId}
			</if>
				AND DELETE_YN = 'N' AND SUBJECT IS NOT NULL
			ORDER BY SEQ DESC LIMIT 1
	</select>
	
	<select id="bbsNext" parameterType="zvl" resultType="zvl">
		SELECT 
				SEQ,
				BBS_CD,
				SUBJECT
			FROM GNRL_BBS
			WHERE 1=1
				AND SEQ <![CDATA[>]]> #{bbsSeq} 
				AND BBS_CD = #{bbsCd}
			<if test="bbsCd == 'BN03'">
				AND REGIST_ID = #{userId}
			</if>
				AND DELETE_YN = 'N' AND SUBJECT IS NOT NULL
			ORDER BY SEQ LIMIT 1
	</select>
	
</mapper>
