<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sms">

	<select id="smsInsttClCdList" parameterType="zvl" resultType="zvl">
		SELECT DISTINCT
			A.INSTT_CL_CD,
			C.CODE_NM INSTT_CL_NM
		FROM 
			INSTITUTION_MASTR A
			LEFT JOIN CMMN_CD_MASTR C ON A.INSTT_CL_CD = C.CODE
		WHERE
			A.DELETE_YN = 'N'
	</select>

	<select id="smsInsttUserList" parameterType="zvl" resultType="zvl">
		SELECT
		    X.USER_ID,
		    X.USER_NM,
		    X.MOBLPHON_NO,
		    X.RSPOFC,
			A.INSTT_CD, 
			A.INSTT_NM, 
			A.INSTT_CL_CD,
			C.CODE_NM INSTT_CL_NM
		FROM 
			USER_MASTR X ,
			INSTITUTION_MASTR A
			LEFT JOIN CMMN_CD_MASTR C ON A.INSTT_CL_CD = C.CODE
		WHERE X.INSTT_CD = A.INSTT_CD
			AND A.DELETE_YN = 'N'
			AND X.CONFM_YN = 'Y'	
		<if test='instt_cl_cd != null and instt_cl_cd != ""'>
			AND A.INSTT_CL_CD = #{instt_cl_cd}
		</if>	
		ORDER BY INSTT_NM, USER_NM
	</select>

	<select id="smsLogList" parameterType="zvl" resultType="zvl">
			SET @ROWNUM:=0;

		SELECT
			@ROWNUM:=@ROWNUM+1 rowNum,
			A.*
		FROM
		(
			SELECT 
				  A.TRAN_PHONE
				, A.TRAN_MSG
				, A.TRAN_DATE
				, A.TRAN_SENDDATE
				, A.TRAN_ETC1
				, A.TRAN_ETC2
				, A.TRAN_CALLBACK
				, B.USER_NM
				, COUNT(TRAN_ETC1) AS SEND_CNT
			FROM MTS_TOTAL_MSG_LOG A
				LEFT JOIN USER_MASTR B 
				ON B.USER_ID = A.TRAN_ETC2
			GROUP BY TRAN_ETC1
			ORDER BY TRAN_DATE DESC
		)A
	ORDER BY ROWNUM DESC
	<if test="recordCountPerPage != null and firstIndex != null">
	LIMIT #{recordCountPerPage} OFFSET #{firstIndex}			
	</if>
	</select>

	<select id="smsSendUserList" parameterType="zvl" resultType="zvl">
			SELECT
				    X.USER_ID,
				    X.USER_NM,
				    X.MOBLPHON_NO,
				    X.RSPOFC,
					A.INSTT_CD, 
					A.INSTT_NM, 
					A.INSTT_CL_CD,
					C.CODE_NM INSTT_CL_NM
				FROM 
					USER_MASTR X,
					MTS_TOTAL_MSG_LOG S,
					INSTITUTION_MASTR A
					LEFT JOIN CMMN_CD_MASTR C ON A.INSTT_CL_CD = C.CODE
				WHERE X.INSTT_CD = A.INSTT_CD
					AND X.MOBLPHON_NO = S.TRAN_PHONE
					AND A.DELETE_YN = 'N'
					AND X.CONFM_YN = 'Y'
					AND S.TRAN_ETC1 = #{tran_idx}
				ORDER BY S.TRAN_DATE
	</select>
	
	<select id="smsSendUserCnt" parameterType="zvl" resultType="int">
		SELECT COUNT(*)
			FROM
			(
				SELECT 
					COUNT(TRAN_ETC1)
				FROM MTS_TOTAL_MSG_LOG A
						LEFT JOIN USER_MASTR B 
						ON B.USER_ID = A.TRAN_ETC2
				GROUP BY TRAN_ETC1
			)A
	</select>
	
	<!-- 단문 메세지(SMS) 발송 -->
	<insert id="sendSmsS" parameterType="zvl">
		INSERT INTO MTS_TOTAL_MSG 
		(
			TRAN_PHONE,
			TRAN_MSG,
			TRAN_DATE,
			TRAN_TYPE,
			TRAN_STATUS,
			TRAN_CALLBACK
		)
		VALUES 
		( 
			#{user_telno}, 
			#{sms_cont}, 
			<if test='sendType == "imd"'>
			NOW(), 
			</if>
			<if test='sendType == "resv"'>
			#{sendTime},
			</if>
			0,
			'1', 
			#{sms_callback}
		)
	</insert>
	
	<!-- 장문 메세지(LMS) 발송 -->
	<insert id="sendSmsL" parameterType="zvl">
		INSERT INTO MTS_TOTAL_MSG 
		(
			TRAN_PHONE,
			TRAN_MSG,
			TRAN_DATE,
			TRAN_TYPE,
			TRAN_STATUS,
			TRAN_ETC1,
			TRAN_ETC2,
			TRAN_SUBJECT,
			TRAN_CALLBACK
		)
		VALUES 
		( 
			#{user_telno}, 
			#{sms_cont}, 
			<if test='sendType == "imd"'>
			NOW(), 
			</if>
			<if test='sendType == "resv"'>
			#{sendTime},
			</if>
			4,
			'1', 
			(SELECT MAX(TRAN_ETC1)+1 FROM MTS_TOTAL_MSG_LOG),
			#{user_id},
			#{sms_subject}, 
			#{sms_callback}
		)
	</insert>
	
</mapper>
