.modal-3d{
    width: 500px;
    height: 350px;
    margin: auto;
    margin-bottom: 20px;
}

.modal-video{
    height: 350px;
    margin: auto;
    margin-bottom: 20px;
}

.modal-img{
    height: 350px;
    display: block;
}

.modal{
    overflow: visible;
}

audio{
    margin: auto 0;
    height: 40px;
}