.wrap-control1 .box-info{margin-bottom: 90px;}
.wrap-control1 .h1{font-size: 32px; margin-bottom: 60px; text-align: center; font-weight: 400; color: #000; text-align: center; }
.inp_txt.tran{border-color: transparent !important;}
.lst-empty{padding: 40px 20px; text-align: center; font-size: 20px; color: #ccc; font-weight: normal;}

.box-gray{background-color: #f0f4f9; padding: 20px; border: 1px solid #ddd; border-radius: 10px;}
#ajax_quickMenu{display: none;}
#header_member{text-align: center; padding: 30px; border-bottom: 1px solid #ddd; margin-bottom: 40px;}
.wrap_quickMenu{position: absolute; right: 0; top: 0; width: 77px; border: 1px solid #603443; background-color: #fff; }
.wrap_quickMenu img{max-width: 100%; height: auto;}
.wrap_quickMenu a{-ms-word-break: keep-all; word-break: keep-all; text-align: center; display: block;}
.wrap_quickMenu .head{background-color: #2c2a41; text-align: center;}
.wrap_quickMenu .head h1{font-size: 15px; color: #fff; text-align: center; padding: 12px 0;}
.wrap_quickMenu .area_cont{}
.wrap_quickMenu .area_cont li{margin-top: 15px; margin-bottom: 15px; margin-left: 8px; margin-right: 8px;}
.wrap_quickMenu .area_cont li:first-child{}
.wrap_quickMenu .area_cont li .txt{font-size: 13px; line-height: 1.2; margin-top: 5px;}

.wrap_accodian{border-top: 1px solid #000;}
.wrap_accodian dt{border-bottom: 1px solid #dcdbdb; padding-top: 35px; padding-bottom: 35px; cursor: pointer;}
.wrap_accodian dt:after,
.wrap_accodian dd .cont .txt:after{clear: both; display: block; height: 0; visibility: hidden; overflow: hidden; content:"";}
.wrap_accodian dt .num{width: 70px; padding-left: 30px; float: left; color: #9f9f9f; font-size: 16px; line-height: 31px;}
.wrap_accodian dt .cont{margin-left: 100px; position: relative; line-height: 31px;}
.wrap_accodian dt .cont .ico{position: absolute; font-size: 24px; color: #333;  padding-left: 10px;}
.wrap_accodian dt .cont .txt{font-size: 24px; color: #333; margin-left: 50px;}
.wrap_accodian dt.on  .cont .txt{color: #276cc9;}
.wrap_accodian dt.on{border-color: #fff;}

.wrap_accodian dd{background-color: #f3f6fa; display: none; border-bottom: 1px solid #dcdbdb;}
.wrap_accodian dd .cont{margin-left: 100px; position: relative; line-height: 31px;}
.wrap_accodian dd .cont .ico{position: absolute; top: 25px; font-size: 24px; color: #333;  padding-left: 10px;}
.wrap_accodian dd .cont .txt{font-size: 15px; color: #666666; margin-left: 50px; padding-top: 25px; padding-bottom: 25px; padding-right: 25px;}

.wrap_accodian dd .cont .img{float: left; margin-right: 15px; margin-bottom: 5px;}

  #popupMain{width: 410px;}
  #popupMain .warp_cont{background-color: #fff; position: relative; width: 410px; min-height: 400px; background-color: #fff; text-align: center;}
  #popupMain .warp_cont .prev,
  #popupMain .warp_cont .next{position: absolute; top: 50%; width: 35px; height: 58px; background-color: rgba(0,0,0,0.5); text-align: center; color: #fff; z-index: 3;}
  #popupMain .warp_cont .prev{left: 0;}
  #popupMain .warp_cont .next{right: 0;}
  #popupMain .thumb img{max-width: 100%; height: auto;}
  #popupMain .bot{background-color: #001d4b; color: #fff; padding: 5px 15px; font-size: 13px;}
  #popupMain .bot:after{display: block; clear: both; visibility: hidden; height: 0; content:"";}
  #popupMain .left{float: left; padding-top: 4px;}
  #popupMain .left *{vertical-align: middle;}
  #popupMain .right *{vertical-align: middle;}
  #popupMain .right{float: right; text-align: right;}
  #popupMain .right button{color: #fff; font-size: 13px;}

  .wrap-pop-ty1 .head{padding: 15px 30px; border-bottom: 1px solid #d9d9d9; text-align: left; }
  .wrap-pop-ty1 .head:after{display: block;clear: both;height: 0;visibility: hidden;content:"";}
  .wrap-pop-ty1 .head .logo{width: 60px; height: 60px; text-align: center;font-size: 0;float: left;}
  .wrap-pop-ty1 .head .logo img{max-width: 100%; height: auto;}
  .wrap-pop-ty1 .head .cont{margin-left: 60px; height: 60px; font-size: 0;}
  .wrap-pop-ty1 .head .cont:after{display: inline-block; vertical-align: middle; width: 0; height: 100%; content:"";}
  .wrap-pop-ty1 .head .cont > .inner{display: inline-block; width: 100%; vertical-align: middle;}
  .wrap-pop-ty1 .head .cont > .inner p{font-size: 18px; line-height: 22px; text-align: left; padding:0 13px; font-weight: 600; -ms-word-break: keep-all; word-break: keep-all;}
  .wrap-pop-ty1 .type-text{padding: 20px 30px; text-align: left;}

  .popup_main.s1 .pageing{text-align: center;background-color: #fff; text-align: center; padding:0 3px 6px;}


  #banner-partners{ background-color: #fff; padding-top: 25px; padding-bottom: 25px; border-top: 1px solid #cfcfcf;}
  #banner-partners .wrap_btns{float: left; width: 200px; position: relative;}
  #banner-partners .bx_ticker.owl-carousel{width: calc(100% - 200px); margin-left: 200px; text-align: center; font-size: 0; }
  #banner-partners .bx_ticker.owl-carousel img{max-width: 100%; height: auto;}

  #banner-partners button.prev,
  #banner-partners button.next,
  #banner-partners button.btn_bxplay{width: 45px; height: 45px; border: 1px solid #dddddd; float: left; overflow: hidden; margin-left: -1px; font-size: 25px; }
  #banner-partners button.prev:hover,
  #banner-partners button.next:hover,
  #banner-partners button.btn_bxplay:hover{background-color: #efefef;}
  #banner-partners button.btn_bxplay{font-size: 0; padding-top: 9px;}
  #banner-partners button.btn_bxplay i{font-size: 25px;}
  #banner-partners button.btn_bxplay .play{display: none;}
  #banner-partners button.btn_bxplay .stop{display: inline;}
  #banner-partners button.btn_bxplay.on .play{display: inline;}
  #banner-partners button.btn_bxplay.on .stop{display: none;}

  #wrap-Iscroll{padding-bottom: 20px; overflow: hidden;}
  #wrap-Iscroll .scroller {
  width: 99999px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}


  col.th1_0{width: 90px;}
  col.th1_01{width: 110px;}
  col.th1_1{width: 150px;}
  col.th1_3{width: 24%;}
  col.th1_4{width: 24%;}

.layer-header1{margin-bottom: 17px;}
.layer-header1.mb0{margin-bottom: 0;}
.layer-header1 .col-lft{float: left;}
.layer-header1 .col-lft .t_total.mt1{margin-top: 17px;}
.layer-header1 .col-rgh{float: right;}
.layer-header1 .col-rgh.mt0{margin-top:7px;}
.layer-header1 .col-rgh.mt1{margin-top:12px;}
.layer-header1{}
  a.link1{border-bottom: 1px solid #aec2ef; padding-bottom: 2px; color: #3877df; line-height: 2em;}
  span.link1.none{}
  span.no_input{color: #8e8e8e;}
  .wrap_table{border-radius: 4px 4px 0 0; width: 100%; position: relative;}
  .wrap_table table{max-width: 100%; width: 100%;}
  #wrap-Iscroll table.tbl{width: auto;}
  #wrap-Iscroll table.tbl.w100p{width: 100%;}
  .wrap_table th ,.wrap_table td{border: 1px solid #e0e3ec; vertical-align: middle; text-align: center; padding: 14px 20px;}
  .wrap_table .tb_2 th{padding: 0 20px; vertical-align: middle;}
  .wrap_table thead th{background-color: #3f4477; color: #fff; text-align: center; font-weight: normal; border: 1px solid #21244d;}
  .wrap_table tbody th{background-color: #f6f4ee; color: #333333; text-align: center; font-weight: normal;}
  .wrap_table .cate1 ,  .wrap_table tbody th.th_st1.cate1{background-color: #f0f4f9; font-size: 13px;}
  .wrap_table .cate2 ,  .wrap_table tbody th.th_st1.cate2{background-color: #f7f2eb; font-size: 13px;}

  .header-fixed {
    width: 1400px;
    position: fixed;
    top: 130px;
    display: none;
    background-color: white;
    overflow: hidden;
    z-index: 2;
  }
  .header-fixed thead {
    border: 1px solid #ddd;
  }
  .header-fixed thead th {
    border-left: 1px solid #ddd;
  }
  .header-fixed.abs {
    position: absolute;
    top: 0;
  }
  .header-fixed .tb_1{z-index: 1;}
  .header-fixed .tb_2{position: absolute; left: 0; top: 0; z-index: 2;}
  .header-tbody-th{position: absolute; left: 0; top: 0; z-index: 1; overflow: hidden;
    -webkit-box-shadow: 13px -1px 14px -18px rgba(0,0,0,0.61);
-moz-box-shadow: 13px -1px 14px -18px rgba(0,0,0,0.61);
box-shadow: 13px -1px 14px -18px rgba(0,0,0,0.61);
  }
  .header-fixed table,
  .header-tbody-th table{ max-width:inherit;}
  /*.header-tbody-th thead{visibility: hidden;}*/

/* survey popup */
.survey_pop { width: 800px; background: #fff; z-index: 99999; overflow: hidden; padding-bottom: 25px; }
.survey_pop .layer_top { position: relative; height: 50px; background: #2a3a67; height: 50px; line-height: 50px; padding: 0 25px; }
.survey_pop .layer_top strong { font-size: 20px; color: #fff; font-weight: 400; }
.survey_pop .layer_top .close { position: absolute; top: 14px; right: 25px; background: url('../images/common/btn_close.gif') no-repeat; width: 21px; height: 21px; text-indent: -9999px; }
.survey_pop .layer_content { padding: 25px 25px 0 25px; overflow-y: auto; position: relative; }
.survey_pop .layer_content .layer_in { max-height: 600px; }
.survey_pop .layer_content .survey_title { font-size: 17px; font-weight: 500; color: #000;  }
.survey_pop .layer_content .survey_info { line-height: 22px; margin: 20px 0 10px 0; }
.survey_pop .layer_content dl { margin-bottom: 30px; }
.survey_pop .layer_content dl dt { font-weight: 500; color: #000; line-height: 22px; margin-bottom: 10px; }
.survey_pop .layer_content dl dd { line-height: 22px; }

.wrap-comment-ty1{}
.wrap-comment-ty1 .item{padding-top: 15px; padding-bottom: 17px; border-top: 1px solid #ededed; }
.wrap-comment-ty1 .item.on{background-color: #fbfbfb;}
.wrap-comment-ty1 .item:first-child{border-top: 0;}
.wrap-comment-ty1 .item:after{clear: both;display: block;height: 0;visibility: hidden;content:"";}
.wrap-comment-ty1 .item .col-fl{float: left;}
.wrap-comment-ty1 .item .col-fr{float: right; min-width: 650px; margin-right: 50px; position: relative;}
.wrap-comment-ty1 .item .h1{padding-left: 30px;}
.wrap-comment-ty1 .item .rlink{text-align: left;}
.wrap-comment-ty1 .item .rlink p{margin-bottom: 3px;}
.wrap-comment-ty1 .item .date{padding-top: 6px;position: absolute; right: 0; top: 0; font-size: 13px; color: #8d8d8d;}
.wrap-comment-ty1 .btn{border-top: 1px solid #d9d9d9; text-align: right; padding-top: 20px; margin-bottom: 40px;}


  /*   메인    */

.ico-txt{height: 30px; line-height: 30px; display: inline-block; overflow: hidden;padding-left: 13px;padding-right: 13px; border-radius: 0 5px 0 5px; color: #fff; background-color: #333; }
.ico-txt.green{background-color: #49ad69;}
.ico-txt.brown{background-color: #977649;}
#spot{height: 655px; overflow: hidden; background-color: #fff; z-index: 0; position: relative;}
#spot .area-banner{position: absolute; left: 50%; margin-left: -700px; top: 0; height: 0; z-index: 60}
#spot .area-banner .banner-main{position: absolute; right: 0; top: 65px;  background-color: #082975; box-shadow: none; -webkit-box-shadow: 0; -moz-box-shadow: 0; box-shadow: 0; border: 0; }
.banner-main.calendar>.inner{padding-left: 0; padding-right: 0;}

.banner-main.calendar .area_head{background-color: #1c409d; height: 77px; margin-bottom: 0;}
.banner-main.calendar .area_head h1{ padding: 30px; font-size: 24px; font-weight: 600; line-height: 1; color: #fff; border: 0; font-weight: 500; }

#spot .area-banner .banner-main.notice{background-color: #082975;}
#spot .area-banner .banner-main.notice a{color: #fff;}
#spot .lst-notice-main .date{color: #758dc3;}
#spot .lst-notice-main li{border-color:#6480c0;}
#spot .banner-main .area_head h1{color: #fff; border-color: #5e77b1;}
#spot .banner-main .more{color: #fff;}

#spot .lst-dataroom-main .cont .categori{color: #90b2ff;}
#spot .lst-dataroom-main .cont .t1 a{color: #fff;}
#spot .lst-dataroom-main .cont .data{color: #909cb7;}
#spot .lst-dataroom-main .thumb{-webkit-box-shadow: 6px 6px 3px -2px rgb(14, 38, 93);-moz-box-shadow: 6px 6px 3px -2px rgb(14, 38, 93);box-shadow: 6px 6px 3px -2px rgb(14, 38, 93);}

#spot .lst-notice2-main .categori{color: #90b2ff;}
#spot .lst-notice2-main .t1 a{color: #fff;}
#spot .lst-notice2-main .date{color: #909cb7;}
#spot .lst-notice2-main li{border-color:#6480c0;}

.bxSlide-main .lst{position: relative; z-index: 0;  height: 655px;}
.bxSlide-main .lst .bg{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-repeat: no-repeat; background-position: 50% 50%; -webkit-background-size: cover; background-size: cover; z-index: 0;}
.bxSlide-main .lst .cont{position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1; font-size: 0;}
.bxSlide-main .lst .cont:after{display: inline-block; vertical-align: middle; width: 0; height: 100%; content:"";}
.bxSlide-main .lst .cont .inner{display: inline-block; min-height: 320px; vertical-align: middle; font-size: 15px; width: 100%; color: #fff; }
.bxSlide-main .lst .cont .inr-c{padding-left: 113px;}
.bxSlide-main .lst .cont .t1{font-size: 30px; line-height: 1.2; margin-bottom: 15px; font-family:'KHNPHD';}
.bxSlide-main .lst .cont .t2{font-size: 50px; line-height: 1.2; font-family:'KHNPHD';}
.bxSlide-main .lst .cont .t3{font-size: 20px; line-height: 35px; margin-top: 30px;}
.bxSlide-main .lst .cont .btns{margin-top: 50px;}

#spot.main .bx-play{position: absolute;left: 50%;bottom: 29px;z-index: 70;color: #ffffff;font-size: 29px;margin-left: 74px;}
#spot.main .bx-play.on .icon-pause2:before{content:"\ee63";}

.btn-ty1{ position: relative; display: inline-block; min-width:101px; background-color: transparent;border: 2px solid #fff; color: #fff; text-align: left; padding: 17px 50px 17px 25px; line-height: 1;font-size: 16px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;

 }
.btn-ty1:before{position: absolute;right: 25px;top: 50%; font-size: 18px; margin-top: -9px; }
.btn-ty1:hover{background-color: #1d5ded; border-color: #1d5ded; color: #fff;}
.btn-ty1:hover:before{color: #fff;}

.wrap-step-type1{position: relative; width: 800px; margin-top: 78px; }
.wrap-step-type1 .line{
  position: absolute; left: 0; top: 30px; width:100%; height: 2px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4796fe+0,4796fe+53,4796fe+100&0+0,1+16,1+84,0+99 */
background: -moz-linear-gradient(left,  rgba(71,150,254,0) 0%, rgba(71,150,254,1) 16%, rgba(71,150,254,1) 53%, rgba(71,150,254,1) 84%, rgba(71,150,254,0) 99%, rgba(71,150,254,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(71,150,254,0) 0%,rgba(71,150,254,1) 16%,rgba(71,150,254,1) 53%,rgba(71,150,254,1) 84%,rgba(71,150,254,0) 99%,rgba(71,150,254,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(71,150,254,0) 0%,rgba(71,150,254,1) 16%,rgba(71,150,254,1) 53%,rgba(71,150,254,1) 84%,rgba(71,150,254,0) 99%,rgba(71,150,254,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004796fe', endColorstr='#004796fe',GradientType=1 ); /* IE6-9 */
content:""; z-index: 0;
}


.wrap-step-type1 .clearfix{position: relative; z-index: 2;}
.wrap-step-type1 .step{float: left; padding: 0 45px; z-index: 1;}
.wrap-step-type1 .circle{display: inline-block;}
.wrap-step-type1 .on .circle.c2:before,
.wrap-step-type1 .circle.c2:after{background:#e48d37;}
.wrap-step-type1 .on .circle.c3:before,
.wrap-step-type1 .circle.c3:after{background: #4796fe;}
.wrap-step-type1 .step,
.wrap-step-type1 .circle,
.wrap-step-type1 .circle:after{width: 70px; height: 70px; }
.wrap-step-type1 .circle .txt{text-align: center; padding-top: 17px; position: relative; z-index: 15;}

.wrap-step-type1 .circle .txt{display: block; text-align: center; font-size: 18px; width: 100%; }

.wrap-step-type1 .circle:after {
  position: relative;
  z-index: 2;
  content: "";
  display: inline-block;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background-color: #0fb92b;
  position: absolute;
  top: -5px;
  border-radius: 120px;
}
.wrap-step-type1 .on .circle:after{width: 120px; height: 120px; margin-top: -23px; margin-left: -24px;}

.wrap-step-type1 .circle:before{width: 120px; height: 120px; }
.wrap-step-type1 .on .circle:before{
  position: absolute;
  background: #0fb92b;
  margin-left: -24px;
  margin-top: -28px;
  content: "";
  display: block;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  z-index: 0;

  animation: wave-animate 1.5s infinite ease-out;
}

.bxSlide-main .wrap-step-type1 .step{position: relative;}

.bxSlide-main .wrap-step-type1 .step_tit1{position: absolute;left: 50%; bottom: -52px; width: 120px; text-align: center; margin-left: -60px;}
/*.bxSlide-main .wrap-step-type1 .step.n1 .step_tit1{left: -27px;}
.bxSlide-main .wrap-step-type1 .step.n2 .step_tit1{left: -16px;}
.bxSlide-main .wrap-step-type1 .step.n4 .step_tit1{left: -12px;}*/



@keyframes wave-animate {
  0% {
    transform: scale(0.6);
    opacity: 1;
    transform-origin: center;
  }
 /* 60% {
    transform: scale(1.3);
    opacity: 0.5;
    transform-origin: center;
  }*/
  100% {
    transform: scale(1.7);
    opacity: 0;
    transform-origin: center;
  }
}

.lst_data2{margin-top: 20px;}
.lst_data2 .col{float:left; display:inline-block; margin-right:25px;}
.lst_data2 .col > span.box{border: 1px solid #ddd; padding:9px 14px; display:block; position:relative;}
.lst_data2 .col > span.box .close{
	position: absolute;
	right: -10px;
	top: -10px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 1px solid #ddd;
	background-color: #fff;
	
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 14px;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.lst_data2 .col > span.box .close:before{content:"\e117";}

.lst-calendar-main{padding-left: 20px; padding-right: 20px; margin-top: 50px;}
.lst-calendar-main li{position: relative; border-top: 1px solid #2d4179; padding-top:16px; padding-bottom: 17px; padding-left: 10px; padding-right: 20px;}
.lst-calendar-main li:first-child{border-top: 0;padding-top: 0;}
.lst-calendar-main .categori{margin-bottom: 5px;}
.lst-calendar-main .t1{font-size: 18px; line-height: 28px;}
.lst-calendar-main .t1 a{color: #fff;}
.lst-calendar-main .data{margin-top: 16px; font-size: 18px; line-height: 1; color: #8abcff; font-family:'roboto';}

.main-page.banner .lst-calendar-main li{ border-top: 1px solid #f2f2f2;}
.main-page.banner .lst-calendar-main li:first-child{border-top: 0;padding-top: 0;}
.main-page.banner .lst-calendar-main .t1 a{color: #666;}
.main-page.banner .lst-calendar-main .data{color: #929292;}


#container{position: relative; z-index: 0;}
#container.main{background-color: #f5f8ff; padding-bottom: 45px;}
#container.main #spot.main{margin-bottom: 45px; border-top: 1px solid #f5f8ff;}



.main-page.banner{position: relative; z-index: 0;}
.main-page.banner .banner-main{float: left; margin-left: 25px;}
.main-page.banner .banner-main:first-child{margin-left: 0;}

.banner-main{width: 448px; background-color: #fff; border: 1px solid #666; -webkit-box-shadow: 6px 6px 3px -2px rgba(214,214,214,0.58);
-moz-box-shadow: 6px 6px 3px -2px rgba(214,214,214,0.58); box-shadow: 6px 6px 3px -2px rgba(214,214,214,0.58); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 0.5s ease;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
 }
.main-page.banner .banner-main:hover{ margin-top: -3px; -webkit-box-shadow: 7px 7px 5px -2px rgba(0,0,0,0.28); -moz-box-shadow: 7px 7px 5px -2px rgba(0,0,0,0.28); box-shadow: 7px 7px 5px -2px rgba(0,0,0,0.28);}
.banner-main>.inner{ padding: 0 20px; height: 478px; position: relative;}
.banner-main .more{
  position: absolute; right: 19px; top: 13px; font-size: 38px; color: #000; font-weight: 600;
  -webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-ms-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;

}
.banner-main a:hover{text-decoration: underline;}
.banner-main .more:hover{
  text-decoration: none;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.banner-main .more .icon-ios-plus-empty:before{font-weight: bold;}
.banner-main .area_head{ margin-bottom: 29px; position: relative; }
.banner-main .area_head{}
.banner-main .area_head .pageing{position: absolute; right: 17px; bottom: 0; width: 180px; text-align: center; padding-bottom: 20px;}
.banner-main .area_head .pageing > *{display: inline-block; vertical-align: middle;}
.banner-main .area_head .pageing .prev,.banner-main .area_head .pageing .next{display: inline-block; width: 34px; height: 34px; line-height: 34px; border-radius: 34px; background-color: #3c63c8; color: #173583; overflow: hidden; text-align: center; font-size: 24px; }
.banner-main .area_head .pageing .prev:hover,.banner-main .area_head .pageing .next:hover{background-color: #496ecd; text-decoration: none;}
.banner-main .area_head .pageing .prev{margin-right: 10px; }
.banner-main .area_head .pageing .next{margin-left: 10px; }
.banner-main .area_head .pageing .icon-android-arrow-dropdown{position: absolute; left: 50%; bottom: -25px; margin-left: -20px; font-size: 40px; color: #1c409d;}
.banner-main .area_head .pageing .date{width: 80px; text-align: center; display: inline-block; height: 34px; line-height: 34px; color: #fff; font-size: 20px; font-weight: bold; font-family: "roboto";}

.banner-main .area_head h1{ padding: 28px 30px 15px 10px; border-bottom: 1px solid #000; font-size: 24px; font-weight: 500; line-height: 1; color: #000; }

.banner-main.notice .area_mid{position: relative;}
.banner-main.notice .area_mid .headline{position: relative; padding-left: 96px; margin-bottom: 6px;}
.banner-main.notice .area_mid .icon1{position: absolute;left: 0;top: 0;}
.banner-main.notice .area_mid .sub .h1{font-size: 18px; line-height: 26px; font-weight: 500;}
.banner-main.notice .area_mid .sub .h1 a{color: #333; display: inline-block; overflow: hidden; max-height: 54px;}
.banner-main.notice .area_mid .sub .t1{font-size: 13px; line-height: 22px;}
.banner-main.notice .area_mid .sub .t1 a{color: #a0a0a0; display: inline-block; overflow: hidden; max-height: 46px;}

.lst-notice-main{}
.lst-notice-main .headline .sub{}
.lst-notice-main li{position: relative; border-top: 1px solid #f2f2f2; padding-top:18px;padding-bottom: 18px; padding-left: 10px;}
.lst-notice-main li .file{position: absolute; right: 5px; top: 37px; color: #2b60c7; font-size: 12px; vertical-align: middle; font-weight: 600;}
.lst-notice-main li .file i{font-weight: normal; vertical-align: -1px; font-size: 15px; padding-right: 2px;}
.lst-notice-main .date{margin-bottom: 8px; color: #929292; font-family:'roboto'; font-size: 13px; line-height: 1;}
.lst-notice-main .t1{font-size: 15px; line-height: 16px;}
.lst-notice-main .t1 a{color: #666666; overflow: hidden; height: 16px;}

.lst-dataroom-main{position: relative;}
.lst-dataroom-main li{margin-top: 35px;}
.lst-dataroom-main li:first-child{margin-top: 0;}
.lst-dataroom-main li:after{display: block; clear: both; content:""; height: 0; visibility: hidden;}

.lst-dataroom-main .thumb{float: left; border: 1px solid #aaa; -webkit-box-shadow: 6px 6px 3px -2px rgba(214,214,214,0.58); -moz-box-shadow: 6px 6px 3px -2px rgba(214,214,214,0.58); box-shadow: 6px 6px 3px -2px rgba(214,214,214,0.58);}
.lst-dataroom-main .thumb a{display: block; background: url('/resources/admin/images/board/list_img_1.jpg') center no-repeat;background-size: cover; width: 123px; height: 158px; border: 1px solid #aaa;}
.lst-dataroom-main .cont{margin-left: 160px; max-width: 190px; padding-top: 10px;}
.lst-dataroom-main .cont .categori{margin-bottom: 7px; color: #3ca473; font-size: 13px; line-height: 1;}
.lst-dataroom-main .cont .t1{font-size: 15px; line-height: 20px; max-height:100px; overflow: hidden; -ms-word-break: keep-all; word-break: keep-all; }
.lst-dataroom-main .cont .t1 a{color: #666;}
.lst-dataroom-main .cont .data{margin-top: 22px;  color: #929292; font-family:'roboto'; font-size: 13px; line-height: 1;}

.lst-notice2-main{}
.lst-notice2-main li{position: relative; border-top: 1px solid #f2f2f2; padding-top:16px; padding-bottom: 17px; padding-left: 10px; padding-right: 20px;}
.lst-notice2-main li:first-child{border-top: 0;padding-top: 0;}
.lst-notice2-main .date{color: #929292; font-family:'roboto'; font-size: 13px; line-height: 1;}
.lst-notice2-main .categori{color: #d1a550;  font-size: 13px; line-height: 1;}
.lst-notice2-main .t1{font-size: 15px; line-height: 20px; height: 40px; overflow: hidden; padding-left: 20px; position: relative;}
.lst-notice2-main .t1 .dot{position: absolute; left: 5px; top: 0;}
.lst-notice2-main .t1 a{color: #666; overflow: hidden; height: 16px;}
.lst-notice2-main .t2{margin-top: 7px;font-size: 0; padding-left: 20px;}
.lst-notice2-main .t2 .col{position: relative; display: inline-block; margin-right: 10px; padding-left: 10px; font-size: 13px;}
.lst-notice2-main .t2 .col:first-child{margin-left: 0; padding-left: 0;}
.lst-notice2-main .t2 .col:after{position: absolute; left: 0; top: 1px; width: 1px; height: 100%; background-color: #dfdfdf; content:"";}
.lst-notice2-main .t2 .col:first-child:after{display: none;}


.title4{font-size: 22px; line-height: 1; font-weight: normal; color: #333;position: relative;}
.title4 .c{color: #12838d;}
.title4 .bg{padding-right: 18px; background-color: #fff; position: relative; z-index: 1;}
.title4:after{position: absolute; left: 0; top: 50%; width: 100%; height: 1px; background-color: #e5e3e2; content:"";}
/* #wrap-total{position: fixed;} */
.layerPopupT2{position: absolute; left: 0; top: 0; width: 100%; min-height: 100%; z-index: 10000; display: none;}
.layerPopupT2 img{max-width: 100%; height: auto;}
.layerPopupT2 > .cover{position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); z-index: 0;}

.wrap-popup-ty1{background-color: #fff; position: relative; z-index: 1; margin-bottom: 50px;}
.wrap-popup-ty1 .header{
  position: relative; background-color: #1a555a; padding: 27px 49px 25px; color: #fff;
  -webkit-box-shadow: 0px 5px 3px -1px rgba(191,191,191,0.62);
  -moz-box-shadow: 0px 5px 3px -1px rgba(191,191,191,0.62);
  box-shadow: 0px 5px 3px -1px rgba(191,191,191,0.62);
}
.wrap-popup-ty1 .header h1{font-size: 22px; font-weight: 500;}
.wrap-popup-ty1 .header .close{position: absolute; right: 30px; top: 50%; width: 43px; height: 43px; margin-top: -21px; border-radius:43px; overflow: hidden; background-color: #203b3d; color: #fff; text-align: center; font-size: 26px; }
.wrap-popup-ty1 .header .close .icon-ei-close{position: absolute; left: 50%; top: 50%; margin-left: -13px; margin-top: -13px;}
.wrap-dash-top .title4 .bg,
.wrap-dash-top{background-color: #fbf8f7;}
.wrap-dash-top{margin-top: 30px; padding: 30px 0;}
.wrap-dash-top .title4{margin-bottom: 30px;}
.wrap-dash-top > .col{width: 580px;}
.wrap-dash-top > .col.fl{float: left; padding-left: 70px; padding-right: 45px;}
.wrap-dash-top > .col.fr{float: right; padding-left: 45px; padding-right: 70px;}
.wrap-dash-top > .col .thumb{font-size: 0;-webkit-box-shadow: 8px 8px 5px -5px rgba(191,191,191,0.72);
-moz-box-shadow: 8px 8px 5px -5px rgba(191,191,191,0.72);box-shadow: 8px 8px 5px -5px rgba(191,191,191,0.72);  width: 123px; height: 158px;}
.wrap-dash-top > .col .thumb a{display: block; background: url('/resources/admin/images/board/list_img_1.jpg') center no-repeat;background-size: cover; width: 123px; height: 158px; border: 1px solid #aaa;}
.wrap-dash-top > .col .cont{margin-top: 15px; font-size: 13px; line-height: 18px; color: #666;}
.wrap-dash-top > .col .cont p{-ms-word-break: keep-all; word-break: keep-all;}
.wrap-dash-top > .col .cont .t2{color: #929292;}

/* stats style */
.bbs { display: inline-block; vertical-align: middle; box-sizing: border-box; text-align: center; font-weight: 500; height: 24px; line-height: 22px; font-size: 12px; color: #fff; padding: 0 10px; min-width: 64px; background: #eee; border: 1px solid #ccc; }
.bbs.stats1 { color: #037bc1; }
.bbs.stats2 { color: #009774; }
.bbs.stats3 { color: #d50000; }
.bbs.stats4 { color: #fff; background: #037bc1; border-color: #037bc1; }

/* 점검원 비밀번호 변경 팝업 */
.pop-layer .pop-container{ padding: 20px 25px; }
.pop-layer .btn-r{ text-align: center; margin-top: 35px; }
.pop-layer{ display: none; position: absolute; top: 50%; left: 50%; width: 800px; height: auto; background-color: #fff; z-index: 10; }
.dim-layer{ display: none; position: fixed; _position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 100; }
.dim-layer .dimBg{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: .5; filter: alpha(opacity=50); }
.dim-layer .pop-layer{ display: block; }
.dim-layer p.t1.ta-2 { font-size: 0.9em; line-height: 1.9em; margin-bottom: 20px; }